{"openapi":"3.1.0","info":{"title":"Delivery REST API","version":"1","termsOfService":"https://kontent.ai/terms-of-service/","contact":{"name":"Kontent.ai Support","email":"support@kontent.ai"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"description":"# Introduction\n\nThe Delivery API is a read-only REST API that serves published content from your Kontent.ai projects.\n\nUse the Delivery API to deliver large amounts of content to your website or app. The content is cached on the CDN level, which makes it quickly available from wherever you are. The Delivery API provides [content filtering](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905) options that allow you to retrieve only the parts of the content you need.\n\nAll requests to the API must be made securely over HTTPS with TLS 1.2.\n\n# Production vs. Preview\n\nYou can work with the Delivery REST API in two modes:\n\n* Production – Get the published versions of content items.\n* Preview – Get the latest versions of content items. The latest version can come from both published and unpublished content items.\n\nIn both cases, you use the same endpoints to request data but with a different base URL.\n\nTo retrieve **published** content items from your project, use the **production** URL:  \n`https://deliver.kontent.ai/<YOUR_PROJECT_ID>/items`\n\n<div class=\"callout callout--tip>\">\n\n**Protect your content**\n\nThe Delivery API is public by default. To protect your published content, use the Delivery API with secure access enabled.</div>\n\n \n\nTo preview **latest version** of your content items from your project, use the **preview** URL:  \n`https://preview-deliver.kontent.ai/<YOUR_PROJECT_ID>/items`\n\nIf you want to preview the latest version of your content, you need to authorize your request.\n\nFor the Delivery Preview API, you can use two concurrent API keys, Primary and Secondary. For more details on how to work with content preview, see [configuring preview](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/c62f9339-3ba4-4a02-98a3-f4920cb591be).\n\n# Authentication\n\nBy default, the Delivery API does not require authentication. However, if you enable [secure access](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/312ecd2f-d37f-4055-82c2-ac912d0d4b8d) for the Delivery API or use the Delivery Preview API, you need to authenticate your requests with valid API keys.\n\nTo get data from the Delivery API with secure access enabled or the Delivery Preview API, send your requests over HTTPS using the `Authorization` header in the following format: `Authorization: Bearer <YOUR_API_KEY>`. Requests with an incorrect or missing `Authorization` header will fail with an [error](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/f80180f6-1cd0-4c4d-8b8c-2d7645f2f0f1).\n\nTo get your API key, go to [Kontent.ai](https://app.kontent.ai/) > Project settings > API keys. The API keys provide access to a single Kontent.ai project. You will need different API keys for each of your projects."},"servers":[{"url":"https://deliver.kontent.ai","description":"Delivery API"},{"url":"https://preview-deliver.kontent.ai","description":"Delivery Preview API"}],"x-tagGroups":[],"tags":[],"paths":{},"components":{"headers":{"x_request_charge_a9674e2":{"description":"Specifies the number of content items returned in the response. This number covers both the items that directly match the specified query and the linked items returned in the response's `modular_content` property.\n\nIf the `X-Request-Charge` value of your requests exceeds 1000, we recommend applying more specific [filters](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905) and checking if a lower value for the [`depth` parameter](#tag/Linked-content-and-components/linked-content-depth) works for you. Fewer items returned per response means shorter response times and better performance for your app.","schema":{"$ref":"#/components/schemas/positive_integer_schema"}}},"schemas":{"a1bd55e3_daa5_0161_d898_382ff00dd73c":{"title":"type","description":"The element's type.","examples":["taxonomy"],"type":["string"]},"a2d88210_a9e0_0120_ef52_faba4a5a6828":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/b3a7e5b4_eaf4_0180_b0cd_f41a04d782ce"}}},"a5baa42f_da12_01bc_2bed_b464d11409d8":{"type":["array","null"],"items":{"$ref":"#/components/schemas/plaintext_string"},"maxItems":10,"minItems":0},"a6be9b2b_718f_015a_fc50_f182e78f6884":{"title":"modular_content","description":"A dictionary of [components and linked items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446).\n\n**Note**: The items and components are not in any particular order.","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/content_item","x-additionalPropertiesName":"<ItemOrComponentCodename>"}},"aa45614f_0000_0147_60c6_c0c49fe5e04c":{"title":"codename","description":"The element's codename.","examples":["meta_keywords"],"type":["string"]},"aadc64ec_ae8f_0195_8172_8f12bb629bbd":{"title":"name","description":"The asset's name.","examples":["sources.jpg"],"type":["string"]},"ac5dca6f_981f_0152_efbb_1715faefdb5b":{"title":"codename","description":"The element's codename.","examples":["subpages"],"type":["string"]},"array_of_strings":{"title":"StringArray","type":["array"],"items":{"$ref":"#/components/schemas/plaintext_string"}},"asset_element":{"title":"AssetElement","allOf":[{"$ref":"#/components/schemas/asset_element_in_type_cd7976d"},{"$ref":"#/components/schemas/n57d19e20_3a0a_0133_b9e7_4e056b7d0cce"}]},"asset_element_in_item":{"title":"Asset element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n3e7a5998_03d4_01a6_0c3d_e15ffdf48e5d"},"name":{"$ref":"#/components/schemas/ed40e6a6_584a_0151_ae25_1c257d75e413"},"value":{"$ref":"#/components/schemas/n8a79a2ad_2122_01b1_4587_f83ac23192fd"}},"required":["type","name","value"]},"asset_element_in_type_cd7976d":{"title":"AssetInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n93512b8e_441c_0179_e9fa_6c84727e7975"},"name":{"$ref":"#/components/schemas/fc850598_e0b5_0129_0954_abff62ea859b"}},"required":["type","name"]},"b1528ffb_e3c5_0159_c830_6621bf89b95d":{"title":"modular_content","description":"The collection of related Content item objects (including component objects).","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/content_item","x-additionalPropertiesName":"<content_item_codename>"}},"b280b14e_5d59_01e2_8416_52e977179a5a":{"title":"codename","description":"The taxonomy term's codename.","examples":["technology"],"type":["string"]},"b3a7e5b4_eaf4_0180_b0cd_f41a04d782ce":{"title":"codename","description":"The element's codename.","examples":["category"],"type":["string"]},"b4ffa411_c84a_01a7_74a7_88930d2b3ce2":{"title":"options","description":"The list of multiple choice options available for the element. The order of the option objects in the array matches the order of the options in the UI.","examples":[[{"name":"True","codename":"true"},{"name":"False","codename":"false"}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n8f82c817_844a_0117_df93_1ec3f0ca68e3"}},"b50e2244_4be5_01a1_eaf4_5dd42d15b023":{"title":"value","description":"The element's value as an array of selected multiple choice options.\n\n<div class=\"callout callout--info>\">\n\n**Matching order**\n\nThe order of the objects in the array matches the order of the options in the UI.</div>\n\n","examples":[[{"name":"False","codename":"false"}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n9bc27c91_0ef7_01bc_01b4_c54c416eab97"}},"ba6f99fe_cc0e_0138_d74e_e59d03b4d208":{"type":["object"],"properties":{"types":{"$ref":"#/components/schemas/ca3f1a69_70d9_01b0_a0f7_cf911ebd9f1e"},"pagination":{"$ref":"#/components/schemas/n2bbb34d5_f580_0110_3d07_fd968869e5ab"}},"required":["types","pagination"]},"bb4ee480_f293_01e4_2145_95dcee8b3243":{"title":"id","description":"The language's ID.","examples":["00000000-0000-0000-0000-000000000000"],"type":["string"]},"bc7f8d04_85bf_017c_ba69_58d62649e51c":{"title":"codename","description":"The multiple choice option's codename.","examples":["my_option"],"type":["string"]},"be845896_f1ab_0137_599a_baaaa039edf6":{"title":"sitemap_locations","description":"A list of sitemap locations that the content item is in.","examples":[[]],"deprecated":true,"type":["array"],"items":{"$ref":"#/components/schemas/plaintext_string"}},"bfaae9dd_6dbd_013a_6b6a_0116cf955fda":{"title":"terms","description":"A list of taxonomy terms.","examples":[[{"name":"C#","codename":"c_","terms":[]},{"name":"JavaScript","codename":"javascript","terms":[]}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/taxonomy_term"}},"c3a6e8a6_c1cf_01a6_2ffa_912a5f9746dd":{"title":"message","description":"The error message explaining what caused the error.","examples":["The requested content item 'sample_item' was not found."],"type":["string"]},"c3c78da0_168c_015a_c970_bdca0c7d9291":{"title":"codename","description":"The multiple choice option's codename.","examples":["my_option"],"type":["string"],"maxLength":150,"minLength":1},"c48d826c_eee6_01c5_ab7f_a7a3e628b77b":{"title":"renditions","description":"The image's rendition. Contains query parameters that need to be concatenated with the original asset's URL to apply image customization.","type":["object"],"properties":{"default":{"$ref":"#/components/schemas/n20f097f8_3cab_01fd_3962_495671aa3e68"}}},"c59da3b9_ebe5_01a9_fa6a_408e97837d59":{"title":"codename","description":"The element's codename.","examples":["teaser_image"],"type":["string"]},"c7c5e258_9dc3_018e_92fe_4f2667d29dd3":{"title":"system","description":"The content item's system properties.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n043bc13c_c391_0116_9a26_ef73a36837e6"},"collection":{"$ref":"#/components/schemas/n42ba353d_3294_0138_d089_639a70903b1c"},"name":{"$ref":"#/components/schemas/f25ae55b_b32f_0108_75dd_110a63e8bbcd"},"codename":{"$ref":"#/components/schemas/n7bc5c917_c2b2_0181_211b_f6bcb157efe8"},"language":{"$ref":"#/components/schemas/ec13646a_1f2d_0144_0d58_2f0e7fa34819"},"type":{"$ref":"#/components/schemas/n04369c15_ba95_01da_37da_1af4b10cce5b"},"sitemap_locations":{"$ref":"#/components/schemas/be845896_f1ab_0137_599a_baaaa039edf6"},"last_modified":{"$ref":"#/components/schemas/n65511815_0234_0167_426d_936d42212e82"},"workflow_step":{"$ref":"#/components/schemas/n7f17c88d_5421_01ac_123d_ac9be6c3ef00"}},"required":["id","collection","name","codename","language","type","sitemap_locations","last_modified"]},"c81c4fd8_a708_01c5_244c_d9957330f3f4":{"title":"name","description":"The element's display name.","examples":["Author"],"type":["string"],"maxLength":50,"minLength":1},"c8f2564e_e1b1_01bf_bc85_4062ef272e85":{"title":"type","description":"The element's type.","examples":["text"],"type":["string"]},"c9f89168_a4c9_0182_4d89_373e4d9622e8":{"title":"system","description":"The content type's system properties.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n6ce5d58b_48ca_013f_e09a_ddb613926947"},"name":{"$ref":"#/components/schemas/n2cade906_1457_018e_7704_f42a707f3471"},"codename":{"$ref":"#/components/schemas/n08d30341_9167_0162_a788_351865251b8c"},"last_modified":{"$ref":"#/components/schemas/d5219c26_c891_01bb_7dc2_152875475f99"}},"required":["id","name","codename","last_modified"]},"ca3f1a69_70d9_01b0_a0f7_cf911ebd9f1e":{"title":"types","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/content_type"}},"cb27da8b_9fdd_0180_0a5b_9b49a752ae12":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"cb74580b_8209_0198_2278_1c12d04b86b0":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/aa45614f_0000_0147_60c6_c0c49fe5e04c"}}},"cd74b15d_e0d6_0119_adb0_ed717ea3ae3e":{"title":"type","description":"The element's type.","examples":["url_slug"],"type":["string"]},"cef9bf03_038c_0115_f64d_cf9da94081fa":{"title":"name","description":"The element's display name.","examples":["Markdown editor"],"type":["string"],"maxLength":50,"minLength":1},"content_item":{"title":"Content item","description":"The content item with metadata and individual elements.","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/c7c5e258_9dc3_018e_92fe_4f2667d29dd3"},"elements":{"$ref":"#/components/schemas/ec32f6e9_dce7_01e1_3f8b_e3030ecd640d"}},"required":["system","elements"]},"content_type":{"title":"ContentType","description":"A content type object.","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/c9f89168_a4c9_0182_4d89_373e4d9622e8"},"elements":{"$ref":"#/components/schemas/e7549085_1471_0157_8b36_056b3cd2eb0d"}},"required":["system","elements"]},"custom_element":{"title":"CustomElement","allOf":[{"$ref":"#/components/schemas/custom_element_in_type_7a536d1"},{"$ref":"#/components/schemas/n743d319a_5ba1_01fd_a166_2df075b6e410"}]},"custom_element_in_item":{"title":"Custom element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n61a36697_5c27_0181_8710_01a5f5cee441"},"name":{"$ref":"#/components/schemas/cef9bf03_038c_0115_f64d_cf9da94081fa"},"value":{"$ref":"#/components/schemas/n6ca1fb2e_a2ed_0150_42c2_5b87765221ac"}},"required":["type","name","value"]},"custom_element_in_type_7a536d1":{"title":"CustomElementInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n04375ccc_7420_01ce_c01c_217c511ee2bf"},"name":{"$ref":"#/components/schemas/n3824ef0e_0285_011c_9f0d_84d27ac95783"}},"required":["type","name"]},"d0243348_31dc_016a_3195_ce1450e56883":{"title":"preset_id","description":"The preset's ID.","examples":["a6d98cd5-8b2c-4e50-99c9-15192bce2490"],"type":["string"],"format":"uuid"},"d08ab1d6_d07e_0143_bca2_e39166bd8954":{"title":"name","description":"The taxonomy term's display name.","examples":["Technology"],"type":["string"]},"d0ebef8b_666a_0131_7d01_0c3e7a2e4388":{"title":"type","description":"The element's type.","examples":["rich_text"],"type":["string"]},"d36c0980_518d_0131_c827_7f981505b3f1":{"title":"languages","description":"Active languages available in the project.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/dapi_language"},"minItems":1},"d3aae50a_093d_01a8_ac85_79708b6fb958":{"title":"name","description":"The multiple choice option's display name.","examples":["My option"],"type":["string"],"maxLength":150,"minLength":1},"d4f8c6f6_251e_01a0_1931_ea41b5ceec1c":{"oneOf":[{"$ref":"#/components/schemas/asset_element_in_type_cd7976d"},{"$ref":"#/components/schemas/custom_element_in_type_7a536d1"},{"$ref":"#/components/schemas/date___time_element_in_type_b78b87a"},{"$ref":"#/components/schemas/linked_items_element_in_type_f2d0e9c"},{"$ref":"#/components/schemas/multiple_choice_element_in_type_5d5ba3e"},{"$ref":"#/components/schemas/number_element_in_type_13d6a7d"},{"$ref":"#/components/schemas/rich_text_element_in_type_d7659fb"},{"$ref":"#/components/schemas/subpages_element_in_type"},{"$ref":"#/components/schemas/taxonomy_element_in_type_43fac2c"},{"$ref":"#/components/schemas/text_element_in_type_b8df03f"},{"$ref":"#/components/schemas/url_slug_element_in_type_1e74188"}]},"d5219c26_c891_01bb_7dc2_152875475f99":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601 \"International standard covering the exchange of date- and time-related data\") formatted date-time of the last content type change.","examples":["2019-10-20T12:03:17.4685693Z"],"type":["string"],"format":"date-time"},"d6c39c64_67fb_017e_9b24_041bd94f2f43":{"type":["object"],"properties":{"items":{"$ref":"#/components/schemas/n0d284907_8625_01d4_8399_280cae2c654a"},"modular_content":{"$ref":"#/components/schemas/a6be9b2b_718f_015a_fc50_f182e78f6884"},"pagination":{"$ref":"#/components/schemas/n5a65f888_f7cd_01f1_2e94_2fab51616dfe"}},"required":["items","modular_content","pagination"]},"d87e10ca_90de_0164_0ba0_90f687cf223e":{"title":"name","description":"The element's display name.","examples":["Show image border"],"type":["string"],"maxLength":50,"minLength":1},"da34bfc2_84d6_01a9_cc2d_50f0562dc893":{"title":"value","description":"The linked pages as an array of item codenames.\n\n<div class=\"callout callout--info>\">\n\n**Matching order**\n\nThe order of the codenames in the array matches the order of the content items in the UI. The content of these items can be found in the `modular_content` property (where the items are not ordered) of the API response when getting content items.</div>\n\n \n\n  ","examples":[["about_us","contact"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/plaintext_string"}},"dapi_language":{"title":"Language","description":"A language in your project.","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/n4b9c7e28_fb35_01dc_4815_518e66d0de87"}}},"date___time_element":{"title":"DateTimeElement","allOf":[{"$ref":"#/components/schemas/date___time_element_in_type_b78b87a"},{"$ref":"#/components/schemas/n7a877bd3_c829_017a_9faa_de7d9c5a7b67"}]},"date___time_element_in_item":{"title":"Date & time element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n241e343e_a8ad_019a_eb4b_ab2bbbb7d241"},"name":{"$ref":"#/components/schemas/n8477229e_f081_019b_4b23_00f955173b49"},"value":{"$ref":"#/components/schemas/n66efeb9b_e806_0131_366d_cbbd1bd01d0a"}},"required":["type","name","value"]},"date___time_element_in_type_b78b87a":{"title":"DateTimeInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n29779042_4f55_0169_230d_4160d23fbbc3"},"name":{"$ref":"#/components/schemas/e2ff7b35_07f3_01d5_1d7c_c2ac94111f0e"}},"required":["type","name"]},"dc29b58e_29fd_0127_5700_7a2d4e1579ed":{"title":"total_count","description":"The total number of objects matching the query.\n\nThe property is present only when [listing content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107) and using the `includeTotalCount` query parameter.","type":["integer"],"format":"int32"},"de4a0c0f_9658_01dd_d725_e1aa8c1887f1":{"title":"system","description":"The taxonomy group's system properties.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n6875a7c8_d385_0190_6870_de9eae5ee413"},"name":{"$ref":"#/components/schemas/n7dbe9794_2095_0135_f6f0_76fe3cb98759"},"codename":{"$ref":"#/components/schemas/n4b0a61fc_2534_01e8_83fd_2b705b65232e"},"last_modified":{"$ref":"#/components/schemas/n2d9fceeb_6d2b_01e2_e624_b1f15542a80a"}},"required":["id","name","codename","last_modified"]},"dfea85ce_c3f4_0102_5e55_16fdd782ee3f":{"title":"type","description":"The element's type.","examples":["taxonomy"],"type":["string"]},"e0f4064d_c4b1_01de_b7a7_8edd6b7685b8":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"e15b315a_0487_01a3_485e_6afb191f85a0":{"title":"codename","description":"The content item's codename.","examples":["my_article"],"type":["string"],"maxLength":60},"e1f2245b_bb1a_0181_3e44_fdef5c7a301e":{"type":["object"],"properties":{"languages":{"$ref":"#/components/schemas/d36c0980_518d_0131_c827_7f981505b3f1"},"pagination":{"$ref":"#/components/schemas/e27c7ce3_fcd3_011f_06fa_cb9e3c741061"}}},"e27c7ce3_fcd3_011f_06fa_cb9e3c741061":{"$ref":"#/components/schemas/pagination"},"e2ff7b35_07f3_01d5_1d7c_c2ac94111f0e":{"title":"name","description":"The element's display name.","examples":["Post date"],"type":["string"],"maxLength":50,"minLength":1},"e3a06b56_0d5a_011c_6248_f4ce2be29eaf":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"e443609c_b6bf_01e4_c22e_62d49bb01108":{"title":"next_page","description":"A URL to the next page of results.","examples":["https://deliver.kontent.ai/<project_id>/<resource>?limit=10&skip=30"],"type":["string"]},"e5d6559f_a8c0_014f_d978_5e36ab28c38c":{"title":"query","description":"Parameters set for the image rendition.","examples":["w=1280&h=1024&fit=clip&rect=2396,169,1280,1024"],"type":["string"]},"e6148168_d6e9_01f7_553a_b20a96a88e81":{"title":"width","description":"The image's width.","examples":[4000],"type":["integer"],"format":"int32"},"e7549085_1471_0157_8b36_056b3cd2eb0d":{"title":"elements","description":"A list of [elements](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea9768d1-bd2f-4027-bb5e-5cd9c85ea360) that define the content type.\n\n<div class=\"callout callout--info>\">\n\n**Order may not match the order in UI**\n\nThe order of the elements in the API response might not match their order in the UI.</div>\n\n","examples":[{"multiple_choice":{"type":"multiple_choice","name":"Multiple choices","options":[{"name":"True","codename":"true"},{"name":"False","codename":"false"}]},"text":{"type":"text","name":"Text element"},"taxonomy":{"type":"taxonomy","name":"Categories taxonomy","taxonomy_group":"categories"}}],"type":["object"],"additionalProperties":{"$ref":"#/components/schemas/d4f8c6f6_251e_01a0_1931_ea41b5ceec1c","x-additionalPropertiesName":"<element_codename>"}},"eaad895e_5b1b_0188_9990_fbcee35e199c":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"eac95d5b_200d_01a9_fe8b_32c63bfdeb4e":{"title":"codename","description":"The element's codename.","examples":["markdown_editor"],"type":["string"]},"ec13646a_1f2d_0144_0d58_2f0e7fa34819":{"title":"language","description":"The codename of the language that the content is in.\n\nFor details on retrieving content in different languages, see [Getting localized content](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/bf83b286-9972-4e65-8db9-412ca17df944).","examples":["en-US"],"type":["string"]},"ec32f6e9_dce7_01e1_3f8b_e3030ecd640d":{"title":"elements","description":"The item's [elements](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea9768d1-bd2f-4027-bb5e-5cd9c85ea360) with values for the specific language.\n\n<div class=\"callout callout--info>\">\n\nThe order of the element objects might not match the content element order in the UI.</div>\n\n","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/n879e2b3d_abe6_0122_0c8c_c4cbff69e739","x-additionalPropertiesName":"<element_codename>"}},"ed40e6a6_584a_0151_ae25_1c257d75e413":{"title":"name","description":"The element's display name.","examples":["Teaser image"],"type":["string"],"maxLength":50,"minLength":1},"error_object":{"title":"Error","description":"Error response","type":["object"],"properties":{"message":{"$ref":"#/components/schemas/c3a6e8a6_c1cf_01a6_2ffa_912a5f9746dd"},"request_id":{"$ref":"#/components/schemas/n224049fb_905a_014e_2f99_70fb6e92b880"},"error_code":{"$ref":"#/components/schemas/n241fbd59_29cb_01eb_ff6f_a68beacb3469"},"specific_code":{"$ref":"#/components/schemas/n34796a2c_0bb2_01fb_90bd_34fea348e4ac"}},"required":["message","request_id","error_code","specific_code"]},"f25ae55b_b32f_0108_75dd_110a63e8bbcd":{"title":"name","description":"The content item's display name.","examples":["My article"],"type":["string"]},"f638f48f_c686_01e4_262e_1d478ca901c2":{"title":"limit","description":"The number of objects returned in the response. Reflects the value specified by the `limit` query parameter.","examples":[10],"type":["integer"],"format":"int32"},"fa3f9f3b_4834_0168_7ac7_52c9c2a16f97":{"title":"taxonomies","description":"A list of taxonomy groups.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/taxonomy_group"}},"fc3b733b_ab8e_018f_c3a9_17b43239d2fd":{"title":"url","description":"The asset's absolute URL.","examples":["https://assets-us-01.kc-usercontent.com/975bf280-fd91-488c-994c-2f04416e5ee3/3e76909f-599f-4742-b472-77fd4b510e92/sources.jpg"],"type":["string"]},"fc850598_e0b5_0129_0954_abff62ea859b":{"title":"name","description":"The element's display name.","examples":["Teaser image"],"type":["string"],"maxLength":50,"minLength":1},"ff42d3fe_938a_0195_ef84_cba27d460536":{"title":"skip","description":"The number of objects skipped from the response. Reflects the value specified by the `skip` query parameter.","examples":[20],"type":["integer"],"format":"int32","default":0},"general_boolean_schema":{"title":"Boolean","examples":["true"],"type":["boolean"]},"linked_items_element":{"title":"LinkedItemsElement","allOf":[{"$ref":"#/components/schemas/linked_items_element_in_type_f2d0e9c"},{"$ref":"#/components/schemas/n916a9c8b_c6b6_015e_28a9_20933caa6dc5"}]},"linked_items_element__copy_":{"title":"SubpagesElement","allOf":[{"$ref":"#/components/schemas/subpages_element_in_type"},{"$ref":"#/components/schemas/n1a40626b_9f2c_013a_a437_6d21f64607a3"}]},"linked_items_element_in_item":{"title":"Linked items element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/e0f4064d_c4b1_01de_b7a7_8edd6b7685b8"},"name":{"$ref":"#/components/schemas/c81c4fd8_a708_01c5_244c_d9957330f3f4"},"value":{"$ref":"#/components/schemas/n2c51ca3f_cac8_018e_b336_8c8fbdb710e9"}},"required":["type","name","value"]},"linked_items_element_in_type_f2d0e9c":{"title":"LinkedItemsInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/eaad895e_5b1b_0188_9990_fbcee35e199c"},"name":{"$ref":"#/components/schemas/n59445bba_eae6_018d_af4f_cc24942f7671"}},"required":["type","name"]},"multiple_choice_element_0681c99":{"title":"MultipleChoiceElement","allOf":[{"$ref":"#/components/schemas/multiple_choice_element_in_type_5d5ba3e"},{"$ref":"#/components/schemas/n9dc1705d_b67c_0141_cc0a_3b98bdf9d953"}]},"multiple_choice_element_in_item":{"title":"Multiple choice element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n7cc3c609_1422_0184_3582_1da503a7e6fb"},"name":{"$ref":"#/components/schemas/n740b92c9_fed9_011f_f056_139f2fca619f"},"value":{"$ref":"#/components/schemas/b50e2244_4be5_01a1_eaf4_5dd42d15b023"}},"required":["type","name","value"]},"multiple_choice_element_in_type_5d5ba3e":{"title":"MultipleChoiceInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n715a433b_8d0b_017b_bb7b_c8832a2251a5"},"name":{"$ref":"#/components/schemas/d87e10ca_90de_0164_0ba0_90f687cf223e"},"options":{"$ref":"#/components/schemas/b4ffa411_c84a_01a7_74a7_88930d2b3ce2"}},"required":["type","name","options"]},"n0097e3d1_c2f7_0177_25c8_f76d15e4fb1d":{"title":"width","description":"The rendition's width.","examples":[1280],"type":["integer"],"format":"int32"},"n04369c15_ba95_01da_37da_1af4b10cce5b":{"title":"type","description":"The codename of the item's type.","examples":["article"],"type":["string"]},"n04375ccc_7420_01ce_c01c_217c511ee2bf":{"title":"type","description":"The element's type.","examples":["custom"],"type":["string"]},"n043bc13c_c391_0116_9a26_ef73a36837e6":{"title":"id","description":"The content item's internal ID.","examples":["335d17ac-b6ba-4c6a-ae31-23c1193215cb"],"type":["string"],"format":"uuid"},"n05eaa583_bd38_0159_ad2b_53425d57ad98":{"title":"description","description":"The image's description in a specific language. Used for the alt attribute of an `<img>` tag.","examples":["Person sitting on a wooden pier"],"type":["string"]},"n065ea668_cae4_01fc_2f3d_4a66e1bfb0d9":{"title":"type","description":"The element's type.","examples":["rich_text"],"type":["string"]},"n06b90564_4e88_01e3_2fc2_50f71081a087":{"title":"type","description":"The element's type.","examples":["url_slug"],"type":["string"]},"n08d30341_9167_0162_a788_351865251b8c":{"title":"codename","description":"Codename of the content type, generated from the content types's {~name~}.","examples":["article"],"type":["string"]},"n098f54df_e5f7_017f_b44e_35f1f742596f":{"title":"height","description":"The rendition's height.","examples":[1024],"type":["integer"],"format":"int32"},"n0b805ade_a7dc_01f3_8cf1_cbd3c3b70de9":{"title":"Customized element","allOf":[{"$ref":"#/components/schemas/custom_element_in_item"},{"$ref":"#/components/schemas/n37ade534_b742_01d8_d377_b6235fe0f8eb"}]},"n0bba49d1_f7fe_019e_63e3_d0dd5c5d255d":{"title":"type","description":"The file's [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics%5Fof%5FHTTP/MIME%5Ftypes).","examples":["image/jpeg"],"type":["string"]},"n0d284907_8625_01d4_8399_280cae2c654a":{"title":"items","description":"A list of content items.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/content_item"}},"n1a40626b_9f2c_013a_a437_6d21f64607a3":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/ac5dca6f_981f_0152_efbb_1715faefdb5b"}}},"n1be64df0_283b_01ca_73d3_5da784260d4a":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n5b85f40a_85a6_01ca_5b52_68aba48b7feb"}}},"n20f097f8_3cab_01fd_3962_495671aa3e68":{"$ref":"#/components/schemas/untitled_content_item_4b71df4"},"n224049fb_905a_014e_2f99_70fb6e92b880":{"title":"request_id","description":"The performed request's unique ID.","examples":["|657e8eba55d8bf4a9a5ad9074038cd2e.813e828d_"],"type":["string","null"]},"n241e343e_a8ad_019a_eb4b_ab2bbbb7d241":{"title":"type","description":"The element's type.","examples":["date_time"],"type":["string"]},"n241fbd59_29cb_01eb_ff6f_a68beacb3469":{"title":"error_code","description":"The specific internal code for the type of error. Only useful for finding patterns among error requests.","examples":[100],"type":["integer"],"format":"int32","minimum":1,"maximum":500},"n27b7c78c_edd8_0105_4ef6_e7d8a2f3d201":{"title":"name","description":"The element's display name.","examples":["Categories"],"type":["string"],"maxLength":50,"minLength":1},"n287b3f81_4e93_01ef_8f64_15243db8b680":{"title":"type","description":"The element's type.","examples":["number"],"type":["string"]},"n29779042_4f55_0169_230d_4160d23fbbc3":{"title":"type","description":"The element's type.","examples":["date_time"],"type":["string"]},"n299aa40d_79a2_01b8_c5ef_7887bd6d2c0a":{"title":"modular_content","description":"Contains codenames of the [components and content items](#section/Rich-text-element/modular-content-components-and-items-in-rich-text) (not their contents) inserted into the rich text element.\n\nTo get the contents of the inserted components and items, see how to [retrieve linked content](#tag/Linked-content-and-components/retrieve-linked-content).\n\n<div class=\"callout callout--info>\">\n\n**Two distinct** `modular_content` **properties**\n\nIn the `modular_content` object property of the Delivery API response, you can find the contents of the linked content items and content components.\n\nIn the rich text element's [modular_content array property](#section/Rich-text-element/modular-content-components-and-items-in-rich-text), you can find the codenames of the inserted content items and content components.\n\nThe codenames in the rich text's `modular_content` array are grouped and ordered. First comes a group of item codenames followed by a group of component codenames. The order of codenames in each group matches that in the UI.</div>\n\n","examples":[["content_item_codename","n26275539_7e71_01ce_ee08_e55340bb9ea6"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/plaintext_string"}},"n2ab6aa7b_e634_01fd_5c02_0834677f898b":{"title":"name","description":"The element's display name.","examples":["Days since last accident"],"type":["string"],"maxLength":50,"minLength":1},"n2afde4b9_b613_019b_a4fc_6b1b91d161cb":{"title":"name","description":"The multiple choice option's display name.","examples":["My option"],"type":["string"],"maxLength":150,"minLength":1},"n2bbb34d5_f580_0110_3d07_fd968869e5ab":{"$ref":"#/components/schemas/pagination"},"n2c51ca3f_cac8_018e_b336_8c8fbdb710e9":{"title":"value","description":"The linked content items as an array of item codenames.\n\n<div class=\"callout callout--info>\">\n\n**Matching order**\n\nThe order of the codenames in the array matches the order of the content items in the UI. The content of these items can be found in the `modular_content` property (where the items are not ordered) of the API response when getting content items.</div>\n\n \n\n  ","examples":[["author_item_codename"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/plaintext_string"}},"n2cade906_1457_018e_7704_f42a707f3471":{"title":"name","description":"Display name of the content type.","examples":["Article"],"type":["string"]},"n2d9fceeb_6d2b_01e2_e624_b1f15542a80a":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601 \"International standard covering the exchange of date- and time-related data\") formatted date-time of the last change to the taxonomy group.","examples":["2019-08-31T09:41:06.520241Z"],"type":["string"],"format":"date-time"},"n2e7882fc_650e_0126_3f09_cdbdac5f9d1a":{"title":"Asset","type":["object"],"properties":{"name":{"$ref":"#/components/schemas/aadc64ec_ae8f_0195_8172_8f12bb629bbd"},"type":{"$ref":"#/components/schemas/n0bba49d1_f7fe_019e_63e3_d0dd5c5d255d"},"size":{"$ref":"#/components/schemas/n7f51a0a5_20aa_0156_b0c0_7c71fd68c0ff"},"description":{"$ref":"#/components/schemas/n3a3f3c37_ae28_01f5_e0a1_3e50b0bd6939"},"url":{"$ref":"#/components/schemas/fc3b733b_ab8e_018f_c3a9_17b43239d2fd"},"width":{"$ref":"#/components/schemas/n92ef070f_a98a_0171_52eb_b644664978be"},"height":{"$ref":"#/components/schemas/n3c1b7401_a647_0125_17d8_c45daf22c2ae"},"renditions":{"$ref":"#/components/schemas/c48d826c_eee6_01c5_ab7f_a7a3e628b77b"}},"required":["name","type","size","description","url","width","height","renditions"]},"n302c0f4e_5fa3_018f_2fdf_ec29cce4abba":{"oneOf":[{"$ref":"#/components/schemas/asset_element"},{"$ref":"#/components/schemas/custom_element"},{"$ref":"#/components/schemas/date___time_element"},{"$ref":"#/components/schemas/linked_items_element"},{"$ref":"#/components/schemas/multiple_choice_element_0681c99"},{"$ref":"#/components/schemas/number_element"},{"$ref":"#/components/schemas/linked_items_element__copy_"},{"$ref":"#/components/schemas/taxonomy_element"},{"$ref":"#/components/schemas/text_element"},{"$ref":"#/components/schemas/rich_text_element"},{"$ref":"#/components/schemas/url_slug_element"}]},"n30dbe39f_005e_0101_f779_699e2aa4288c":{"title":"value","description":"The element's value.","examples":[7],"type":["number","null"],"format":"float"},"n34796a2c_0bb2_01fb_90bd_34fea348e4ac":{"title":"specific_code","description":"Only useful for finding reasons behind failed requests in specific cases.","examples":[0],"type":["integer"],"format":"int32"},"n34c86c6a_8adc_01bc_a366_3840459bbfa2":{"title":"modular_content","description":"A list of components used in rich text elements. See [Linked content and components](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446) for more details.","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/content_item","x-additionalPropertiesName":"<ComponentCodename>"}},"n36ab94d7_3cb5_010e_a7fe_43743319efdc":{"title":"codename","description":"The element's codename.","examples":["url"],"type":["string"]},"n37ade534_b742_01d8_d377_b6235fe0f8eb":{"type":["object"],"required":["custom"]},"n38154458_e7a6_019b_1911_958dfe247f65":{"type":["object"],"properties":{"taxonomies":{"$ref":"#/components/schemas/fa3f9f3b_4834_0168_7ac7_52c9c2a16f97"},"pagination":{"$ref":"#/components/schemas/n82f83bd3_a0db_01ff_35ca_e7fb81376d5d"}},"required":["taxonomies","pagination"]},"n3824ef0e_0285_011c_9f0d_84d27ac95783":{"title":"name","description":"The element's display name.","examples":["Markdown editor"],"type":["string"],"maxLength":50,"minLength":1},"n39094503_f44f_01c9_7400_7fec1ba3584f":{"title":"name","description":"The element's display name.","examples":["Subpages"],"type":["string"],"maxLength":50,"minLength":1},"n3a3f3c37_ae28_01f5_e0a1_3e50b0bd6939":{"title":"description","description":"The asset's description for a specific language.","examples":["Description of what the asset represents."],"type":["string","null"]},"n3c1b7401_a647_0125_17d8_c45daf22c2ae":{"title":"height","description":"The image's height in pixels. Is `null` if the file is not an image.","examples":[457],"type":["integer"],"format":"int32"},"n3e7a5998_03d4_01a6_0c3d_e15ffdf48e5d":{"title":"type","description":"The element's type.","examples":["asset"],"type":["string"]},"n3f1e6092_2cfd_010e_c182_91f1ce1ae48f":{"title":"value","description":"The element's value can be either auto-generated from a text element or custom.","examples":["structure-your-content"],"type":["string"]},"n40054738_ef75_0143_e0b3_5012f253dcc3":{"title":"name","description":"The element's display name.","examples":["Days since last accident"],"type":["string"],"maxLength":50,"minLength":1},"n42ba353d_3294_0138_d089_639a70903b1c":{"title":"collection","description":"The content item's [collection](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/f48c2c0b-755f-4d23-bd5d-7201fe5fff01) codename. For projects without collections enabled, the value is `default`.","examples":["default"],"type":["string"]},"n4433ee1d_bb74_01ab_e451_f1d1d749b80f":{"title":"url","description":"The image's absolute URL.","examples":["https://assets-us-01.kc-usercontent.com/8d20758c-d74c-4f59-ae04-ee928c0816b7/6e38c039-ad00-47f3-a584-26252827655a/daylight.jpg"],"type":["string"]},"n45c92162_c9a9_01a0_6fbf_b2f392defddf":{"title":"name","description":"The element's display name.","examples":["Category"],"type":["string"],"maxLength":50,"minLength":1},"n46c1b7f5_72e6_0126_219e_79fef0b1748f":{"title":"name","description":"The language's name.","examples":["Default project language"],"type":["string"]},"n4888c598_5682_016d_6ee0_7b3fe27f0f30":{"title":"value","description":"The element's value.\n\n<div class=\"callout callout--info>\">\n\nIf the element does not contain any content, its value defaults to a single empty paragraph: `<p><br></p>`.</div>\n\n","examples":["<p>Basic formatted text: plain text, <strong>bold</strong>, <em>italics</em>, <code>monospace</code>, <sub>subscript</sub>, <sup>superscript</sup>.</p>\n<p>Links: <a data-item-id=\\\"ef23e568-6aa2-42cd-a120-7823c0ef19f7\\\" href=\\\"\\\">link to a content item</a>, <a href=\\\"https://kontent.ai/\\\" data-new-window=\\\"true\\\" target=\\\"_blank\\\" rel=\\\"noopener noreferrer\\\">link to web URL</a>, <a data-email-address=\\\"sales@kontent.ai\\\" href=\\\"mailto:sales@kontent.ai\\\">email link</a>, <a data-asset-id=\\\"237362b4-5f2b-480e-a1d3-0ad5a6d5f8bd\\\" href=\\\"https://assets-us-01.kc-usercontent.com:443/38af179c-40ba-42e7-a5ca-33b8cdcc0d45/237362b4-5f2b-480e-a1d3-0ad5a6d5f8bd/image.jpg\\\">link to asset</a>.</p>\n<p>Table</p>\n<table><tbody>\n  <tr><td>A</td><td>B</td><td>C</td></tr>\n  <tr><td>D</td><td>E</td><td>F</td></tr>\n  <tr><td>G</td><td>H</td><td>I</td></tr>\n</tbody></table>\n<p>Image</p>\n<figure data-asset-id=\\\"66d73245-10e5-4478-93e7-5609fee3cdf7\\\" data-image-id=\\\"66d73245-10e5-4478-93e7-5609fee3cdf7\\\"><img src=\\\"https://assets-us-01.kc-usercontent.com:443/38af179c-40ba-42e7-a5ca-33b8cdcc0d45/66d73245-10e5-4478-93e7-5609fee3cdf7/image.jpg\\\" data-asset-id=\\\"66d73245-10e5-4478-93e7-5609fee3cdf7\\\" data-image-id=\\\"66d73245-10e5-4478-93e7-5609fee3cdf7\\\" alt=\\\"\\\"></figure>\n<p>Inserted content item</p>\n<object type=\\\"application/kenticocloud\\\" data-type=\\\"item\\\" data-rel=\\\"link\\\" data-codename=\\\"content_item_codename\\\"></object>\n<p>Component</p>\n<object type=\\\"application/kenticocloud\\\" data-type=\\\"item\\\" data-rel=\\\"component\\\" data-codename=\\\"n26275539_7e71_01ce_ee08_e55340bb9ea6\\\"></object>"],"type":["string"],"maxLength":100000,"minLength":0},"n488f2b59_9c48_0150_ecfd_338d3f03b1df":{"type":["object"],"properties":{"item":{"$ref":"#/components/schemas/n75bcbe73_678c_01eb_5fc2_8ffbab85ba39"},"modular_content":{"$ref":"#/components/schemas/b1528ffb_e3c5_0159_c830_6621bf89b95d"}},"required":["item","modular_content"]},"n495a5280_f503_013a_e114_6c67e4d855d9":{"title":"name","description":"The element's display name.","examples":["URL"],"type":["string"],"maxLength":50,"minLength":1},"n4b0a61fc_2534_01e8_83fd_2b705b65232e":{"title":"codename","description":"The taxonomy group's codename.","examples":["programming_language"],"type":["string"]},"n4b9c7e28_fb35_01dc_4815_518e66d0de87":{"title":"system","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/bb4ee480_f293_01e4_2145_95dcee8b3243"},"name":{"$ref":"#/components/schemas/n46c1b7f5_72e6_0126_219e_79fef0b1748f"},"codename":{"$ref":"#/components/schemas/n94d26f39_d63d_0147_7ebd_c87175bf6e6c"}}},"n4e6fa4db_2c55_01e4_ba5e_5e4baf3c03c4":{"title":"height","description":"The image's height.","examples":[2525],"type":["integer"],"format":"int32"},"n4e9af55d_39f4_013e_eadf_7c6aee6232f3":{"title":"name","description":"The element's display name.","examples":["URL"],"type":["string"],"maxLength":50,"minLength":1},"n50d05ee1_1499_01d1_3601_d3428770372d":{"title":"type","description":"The codename of the linked item's type.","examples":["article"],"type":["string"]},"n57d19e20_3a0a_0133_b9e7_4e056b7d0cce":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/c59da3b9_ebe5_01a9_fa6a_408e97837d59"}}},"n59445bba_eae6_018d_af4f_cc24942f7671":{"title":"name","description":"The element's display name.","examples":["Author"],"type":["string"],"maxLength":50,"minLength":1},"n5a65f888_f7cd_01f1_2e94_2fab51616dfe":{"$ref":"#/components/schemas/pagination"},"n5b85f40a_85a6_01ca_5b52_68aba48b7feb":{"title":"codename","description":"The element's codename.","examples":["description"],"type":["string"]},"n5e1fd39d_2961_01b5_36cc_0ff1978d8888":{"title":"type","description":"The element's type.","examples":["text"],"type":["string"]},"n5eac761f_3b4c_014e_0c2d_0d6b9d391372":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n6638e445_aef2_01e9_6b96_06d5f6a27fcb"}}},"n60917cc8_0c64_01c5_b8f0_a5bf9cda3b58":{"title":"rendition_id","description":"The rendition's ID.","examples":["b447ca6c-8020-4e8f-be57-1d110721e535"],"type":["string"],"format":"uuid"},"n61a36697_5c27_0181_8710_01a5f5cee441":{"title":"type","description":"The element's type.","examples":["custom"],"type":["string"]},"n6217febb_d56a_01ea_7ec5_47cf9484ff92":{"title":"value","description":"The element's value.","examples":["donation, charity"],"type":["string","null"],"maxLength":100000},"n65511815_0234_0167_426d_936d42212e82":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date and time of the last change to user-content of the content item.\n\n<div class=\"callout callout--info>\">\n\nMoving content items through workflow doesn't affect the `last_modified` value.</div>\n\n","examples":["2019-03-27T13:21:11.38Z"],"type":["string"],"format":"date-time"},"n6638e445_aef2_01e9_6b96_06d5f6a27fcb":{"title":"codename","description":"The element's codename.","examples":["days_since_last_accident"],"type":["string"]},"n66dccf37_dbea_01cb_2725_b55cccc456a1":{"type":["object"],"properties":{"items":{"$ref":"#/components/schemas/n8bc752e6_cbbe_01ac_a6fa_0f2fc1442c1f"},"modular_content":{"$ref":"#/components/schemas/n34c86c6a_8adc_01bc_a366_3840459bbfa2"}},"required":["items","modular_content"]},"n66efeb9b_e806_0131_366d_cbbd1bd01d0a":{"title":"value","description":"The element's value as a [ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted string. Time in this element is displayed and interpreted as [UTC](https://en.wikipedia.org/wiki/Coordinated%5FUniversal%5FTime \"Coordinated Universal Time\").","examples":["2019-08-26T13:56:37.7643832Z"],"type":["string","null"],"format":"date-time"},"n6752d10e_4532_010a_61bb_7431b182601c":{"title":"terms","description":"A list of descendant taxonomy terms.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/taxonomy_term"}},"n6875a7c8_d385_0190_6870_de9eae5ee413":{"title":"id","description":"The taxonomy group's internal ID.","examples":["f30c7f72-e9ab-8832-2a57-62944a038809"],"type":["string"],"format":"uuid"},"n6b544753_2928_01c5_3c0d_1dd6fcd80e4e":{"title":"name","description":"The element's display name.","examples":["Meta keywords"],"type":["string"],"maxLength":50,"minLength":1},"n6c6f3b5a_9319_0110_c9fd_28f870a03481":{"title":"name","description":"The element's display name.","examples":["Description"],"type":["string"],"maxLength":50,"minLength":1},"n6ca1fb2e_a2ed_0150_42c2_5b87765221ac":{"title":"value","description":"The element's value.","examples":["# Heading\n\nPlaintext\n\n[link](https://example.com)"],"type":["string","null"],"maxLength":100000,"minLength":1},"n6ce5d58b_48ca_013f_e09a_ddb613926947":{"title":"id","description":"Unique internal identifier of the content type.","examples":["b2c14f2c-6467-460b-a70b-bca17972a33a"],"type":["string"],"format":"uuid"},"n6cf31b2c_4449_01bc_7ee3_7b293926ffad":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n36ab94d7_3cb5_010e_a7fe_43743319efdc"}}},"n6cf9e374_5c2b_011f_df9b_065206195363":{"title":"codename","description":"The element's codename.","examples":["author"],"type":["string"]},"n6e35639e_97e5_017c_f0dd_1e7a64845015":{"title":"taxonomy_group","description":"The codename of a specific taxonomy group that the element is using.","examples":["categories"],"type":["string"]},"n6fd41e65_c66c_0146_98df_b6decc975691":{"title":"links","description":"The hyperlinks in the text that point to content items. Each [link object](#section/Rich-text-element/links-single-object) contains the linked item's metadata.","examples":[{"ef23e568-6aa2-42cd-a120-7823c0ef19f7":{"codename":"content_item_codename","type":"article","url_slug":"my-article"}}],"type":["object"],"additionalProperties":{"$ref":"#/components/schemas/rich_text_link_object","x-additionalPropertiesName":"<content_item_id>"}},"n715a433b_8d0b_017b_bb7b_c8832a2251a5":{"title":"type","description":"The element's type.","examples":["multiple_choice"],"type":["string"]},"n740b92c9_fed9_011f_f056_139f2fca619f":{"title":"name","description":"The element's display name.","examples":["The Earth is flat"],"type":["string"],"maxLength":50,"minLength":1},"n7437adf4_dad9_0117_d1da_96b43f2cb153":{"title":"image_id","description":"The image's ID.","examples":["04e4957f-08ed-4329-9c7a-0d7b7c6f3590"],"type":["string"],"format":"uuid"},"n743d319a_5ba1_01fd_a166_2df075b6e410":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/eac95d5b_200d_01a9_fe8b_32c63bfdeb4e"}}},"n75bcbe73_678c_01eb_5fc2_8ffbab85ba39":{"$ref":"#/components/schemas/content_item"},"n76613773_c3a6_0128_e64a_0dc7eab43fb4":{"title":"value","description":"The element's value as an array of selected taxonomy terms.","type":["array"],"items":{"$ref":"#/components/schemas/n867c76f6_a375_01b2_ca54_b86f1db34346"}},"n7a877bd3_c829_017a_9faa_de7d9c5a7b67":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n818b11f1_6add_01eb_ca09_c2082ac387c2"}}},"n7b1a5469_cd9f_0124_28b0_7e40dce15d95":{"title":"name","description":"The element's display name.","examples":["Subpages"],"type":["string"],"maxLength":50,"minLength":1},"n7bc5c917_c2b2_0181_211b_f6bcb157efe8":{"title":"codename","description":"The content item's codename. By default, generated from the item's display name.","examples":["my_article"],"type":["string"]},"n7cc3c609_1422_0184_3582_1da503a7e6fb":{"title":"type","description":"The element's type.","examples":["multiple_choice"],"type":["string"]},"n7dbe9794_2095_0135_f6f0_76fe3cb98759":{"title":"name","description":"The taxonomy group's display name.","examples":["Programming language"],"type":["string"]},"n7ec6482b_faa3_01fc_c09d_f4c663f3e34a":{"title":"count","description":"The number of retrieved objects.\n\nIf the `limit` and `skip` query parameters are not specified, the `count` property reflects the total number of objects in the project.","examples":[10],"type":["integer"],"format":"int32"},"n7f17c88d_5421_01ac_123d_ac9be6c3ef00":{"title":"workflow_step","description":"The codename of the item's current workflow step. By default, generated from the workflow step's display name.\n\nThis property is not present for [components](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446).","examples":["published"],"type":["string"]},"n7f51a0a5_20aa_0156_b0c0_7c71fd68c0ff":{"title":"size","description":"The file's size in bytes.","examples":[45376],"type":["integer"],"format":"int32"},"n818b11f1_6add_01eb_ca09_c2082ac387c2":{"title":"codename","description":"The element's codename.","examples":["post_date"],"type":["string"]},"n819819a7_ccad_01c2_79df_88f3f358d714":{"title":"name","description":"The element's display name.","examples":["Rich text showcase"],"type":["string"],"maxLength":50,"minLength":1},"n81f0f19d_a166_0187_279d_f94cb724f1c5":{"title":"name","description":"The element's display name.","examples":["Meta keywords"],"type":["string"],"maxLength":50,"minLength":1},"n82647955_cdd8_01fb_cb59_f710d0182d5e":{"title":"name","description":"The taxonomy term's display name.","type":["string"]},"n82f83bd3_a0db_01ff_35ca_e7fb81376d5d":{"$ref":"#/components/schemas/pagination"},"n8477229e_f081_019b_4b23_00f955173b49":{"title":"name","description":"The element's display name.","examples":["Post date"],"type":["string"],"maxLength":50,"minLength":1},"n867c76f6_a375_01b2_ca54_b86f1db34346":{"type":["object"],"properties":{"name":{"$ref":"#/components/schemas/d08ab1d6_d07e_0143_bca2_e39166bd8954"},"codename":{"$ref":"#/components/schemas/b280b14e_5d59_01e2_8416_52e977179a5a"}},"required":["name","codename"]},"n879e2b3d_abe6_0122_0c8c_c4cbff69e739":{"oneOf":[{"$ref":"#/components/schemas/asset_element_in_item"},{"$ref":"#/components/schemas/custom_element_in_item"},{"$ref":"#/components/schemas/date___time_element_in_item"},{"$ref":"#/components/schemas/linked_items_element_in_item"},{"$ref":"#/components/schemas/multiple_choice_element_in_item"},{"$ref":"#/components/schemas/number_element_in_item"},{"$ref":"#/components/schemas/rich_text_element_in_item"},{"$ref":"#/components/schemas/subpages_element_in_item"},{"$ref":"#/components/schemas/taxonomy_element_in_item"},{"$ref":"#/components/schemas/text_element_in_item"},{"$ref":"#/components/schemas/url_slug_element_in_item"},{"$ref":"#/components/schemas/n0b805ade_a7dc_01f3_8cf1_cbd3c3b70de9"}]},"n8a79a2ad_2122_01b1_4587_f83ac23192fd":{"title":"value","description":"The assets inserted into the element. The asset objects are returned in the same order as shown in the UI.\n\nSome of the properties are specific to images only: `width` and `height` represent the image's width and height dimensions and the `renditions` object contains details about [customized images](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/41122488-31c5-47ba-8444-05a3e87d10a0).\n\nTo display customized images on the website or an app, you first need to apply custom query parameters to the asset's original URL.","type":["array"],"items":{"$ref":"#/components/schemas/n2e7882fc_650e_0126_3f09_cdbdac5f9d1a"}},"n8bc752e6_cbbe_01ac_a6fa_0f2fc1442c1f":{"title":"items","description":"A list of content items","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/content_item"}},"n8dcd81b5_d9f7_0109_c079_592bae454564":{"title":"url_slug","description":"The content item's URL slug. If the linked item doesn't use a URL slug element, the value of the {~url_slug~} property is an empty string.","examples":["my-article"],"type":["string"]},"n8e725eed_82c1_0148_b93b_07931e06d3c9":{"title":"images","description":"The images inserted into the rich text element. Each [image object](#section/Rich-text-element/images-single-object) contains the image's metadata.","examples":[{"66d73245-10e5-4478-93e7-5609fee3cdf7":{"image_id":"66d73245-10e5-4478-93e7-5609fee3cdf7","description":null,"url":"https://assets-us-01.kc-usercontent.com:443/38af179c-40ba-42e7-a5ca-33b8cdcc0d45/66d73245-10e5-4478-93e7-5609fee3cdf7/image.jpg","width":600,"height":457}}],"type":["object"],"additionalProperties":{"$ref":"#/components/schemas/rich_text_image_object","x-additionalPropertiesName":"<image_id>"}},"n8f56eab6_452f_01a5_cf79_5dce720d1b9e":{"title":"codename","description":"The taxonomy term's codename.","type":["string"]},"n8f82c817_844a_0117_df93_1ec3f0ca68e3":{"type":["object"],"properties":{"name":{"$ref":"#/components/schemas/n2afde4b9_b613_019b_a4fc_6b1b91d161cb"},"codename":{"$ref":"#/components/schemas/c3c78da0_168c_015a_c970_bdca0c7d9291"}},"required":["name","codename"]},"n916a9c8b_c6b6_015e_28a9_20933caa6dc5":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n6cf9e374_5c2b_011f_df9b_065206195363"}}},"n92ef070f_a98a_0171_52eb_b644664978be":{"title":"width","description":"The image's width in pixels. Is `null` if the file is not an image.","examples":[640],"type":["integer"],"format":"int32"},"n93005951_487f_0123_17de_eb54322f6a70":{"title":"type","description":"The element's type.","examples":["number"],"type":["string"]},"n93016a5a_09f5_01f7_b8b2_5b355c765f3b":{"title":"codename","description":"The element's codename.","examples":["show_image_border"],"type":["string"]},"n93512b8e_441c_0179_e9fa_6c84727e7975":{"title":"type","description":"The element's type.","examples":["asset"],"type":["string"]},"n94d26f39_d63d_0147_7ebd_c87175bf6e6c":{"title":"codename","description":"The language's codename.","examples":["default"],"type":["string"]},"n9bc27c91_0ef7_01bc_01b4_c54c416eab97":{"type":["object"],"properties":{"name":{"$ref":"#/components/schemas/d3aae50a_093d_01a8_ac85_79708b6fb958"},"codename":{"$ref":"#/components/schemas/bc7f8d04_85bf_017c_ba69_58d62649e51c"}},"required":["name","codename"]},"n9dc1705d_b67c_0141_cc0a_3b98bdf9d953":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n93016a5a_09f5_01f7_b8b2_5b355c765f3b"}}},"n9e2e211c_634f_01bb_4d2c_989d09089414":{"title":"taxonomy_group","description":"The codename of a specific taxonomy group that the element is using.","examples":["category"],"type":["string"],"maxLength":50,"minLength":1},"number_element":{"title":"NumberElement","allOf":[{"$ref":"#/components/schemas/number_element_in_type_13d6a7d"},{"$ref":"#/components/schemas/n5eac761f_3b4c_014e_0c2d_0d6b9d391372"}]},"number_element_in_item":{"title":"Number element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n287b3f81_4e93_01ef_8f64_15243db8b680"},"name":{"$ref":"#/components/schemas/n2ab6aa7b_e634_01fd_5c02_0834677f898b"},"value":{"$ref":"#/components/schemas/n30dbe39f_005e_0101_f779_699e2aa4288c"}},"required":["type","name","value"]},"number_element_in_type_13d6a7d":{"title":"NumberInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n93005951_487f_0123_17de_eb54322f6a70"},"name":{"$ref":"#/components/schemas/n40054738_ef75_0143_e0b3_5012f253dcc3"}},"required":["type","name"]},"pagination":{"title":"Pagination","description":"Information about the current page of results.","type":["object"],"properties":{"skip":{"$ref":"#/components/schemas/ff42d3fe_938a_0195_ef84_cba27d460536"},"limit":{"$ref":"#/components/schemas/f638f48f_c686_01e4_262e_1d478ca901c2"},"count":{"$ref":"#/components/schemas/n7ec6482b_faa3_01fc_c09d_f4c663f3e34a"},"total_count":{"$ref":"#/components/schemas/dc29b58e_29fd_0127_5700_7a2d4e1579ed"},"next_page":{"$ref":"#/components/schemas/e443609c_b6bf_01e4_c22e_62d49bb01108"}},"required":["skip","limit","count","next_page"]},"plaintext_string":{"title":"String","type":["string"]},"positive_integer_schema":{"type":["integer"],"minimum":0},"rich_text_element":{"title":"RichTextElement","allOf":[{"$ref":"#/components/schemas/rich_text_element_in_type_d7659fb"},{"$ref":"#/components/schemas/n1be64df0_283b_01ca_73d3_5da784260d4a"}]},"rich_text_element_in_item":{"title":"Rich text element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/d0ebef8b_666a_0131_7d01_0c3e7a2e4388"},"name":{"$ref":"#/components/schemas/n819819a7_ccad_01c2_79df_88f3f358d714"},"images":{"$ref":"#/components/schemas/n8e725eed_82c1_0148_b93b_07931e06d3c9"},"links":{"$ref":"#/components/schemas/n6fd41e65_c66c_0146_98df_b6decc975691"},"modular_content":{"$ref":"#/components/schemas/n299aa40d_79a2_01b8_c5ef_7887bd6d2c0a"},"value":{"$ref":"#/components/schemas/n4888c598_5682_016d_6ee0_7b3fe27f0f30"}},"required":["type","name","images","links","modular_content","value"]},"rich_text_element_in_type_d7659fb":{"title":"RichTextInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n065ea668_cae4_01fc_2f3d_4a66e1bfb0d9"},"name":{"$ref":"#/components/schemas/n6c6f3b5a_9319_0110_c9fd_28f870a03481"}},"required":["type","name"]},"rich_text_image_object":{"title":"Rich text image","description":"The name of the object represents an image id, such as {~14mio~}.","type":["object"],"properties":{"image_id":{"$ref":"#/components/schemas/n7437adf4_dad9_0117_d1da_96b43f2cb153"},"description":{"$ref":"#/components/schemas/n05eaa583_bd38_0159_ad2b_53425d57ad98"},"url":{"$ref":"#/components/schemas/n4433ee1d_bb74_01ab_e451_f1d1d749b80f"},"width":{"$ref":"#/components/schemas/e6148168_d6e9_01f7_553a_b20a96a88e81"},"height":{"$ref":"#/components/schemas/n4e6fa4db_2c55_01e4_ba5e_5e4baf3c03c4"}},"required":["image_id","description","url","width","height"]},"rich_text_link_object":{"title":"Rich text link","description":"The name of the object represents a content item ID, such as {~f4b3fc05-e988-4dae-9ac1-a94aba566474~}.","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n50d05ee1_1499_01d1_3601_d3428770372d"},"codename":{"$ref":"#/components/schemas/e15b315a_0487_01a3_485e_6afb191f85a0"},"url_slug":{"$ref":"#/components/schemas/n8dcd81b5_d9f7_0109_c079_592bae454564"}},"required":["type","codename","url_slug"]},"subpages_element_in_item":{"title":"Subpages element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/cb27da8b_9fdd_0180_0a5b_9b49a752ae12"},"name":{"$ref":"#/components/schemas/n7b1a5469_cd9f_0124_28b0_7e40dce15d95"},"value":{"$ref":"#/components/schemas/da34bfc2_84d6_01a9_cc2d_50f0562dc893"}},"required":["type","name","value"]},"subpages_element_in_type":{"title":"SubpagesInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/e3a06b56_0d5a_011c_6248_f4ce2be29eaf"},"name":{"$ref":"#/components/schemas/n39094503_f44f_01c9_7400_7fec1ba3584f"}},"required":["type","name"]},"taxonomy_element":{"title":"TaxonomyElement","allOf":[{"$ref":"#/components/schemas/taxonomy_element_in_type_43fac2c"},{"$ref":"#/components/schemas/a2d88210_a9e0_0120_ef52_faba4a5a6828"}]},"taxonomy_element_in_item":{"title":"Taxonomy element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/dfea85ce_c3f4_0102_5e55_16fdd782ee3f"},"name":{"$ref":"#/components/schemas/n27b7c78c_edd8_0105_4ef6_e7d8a2f3d201"},"taxonomy_group":{"$ref":"#/components/schemas/n6e35639e_97e5_017c_f0dd_1e7a64845015"},"value":{"$ref":"#/components/schemas/n76613773_c3a6_0128_e64a_0dc7eab43fb4"}},"required":["type","name","taxonomy_group","value"]},"taxonomy_element_in_type_43fac2c":{"title":"TaxonomyInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/a1bd55e3_daa5_0161_d898_382ff00dd73c"},"name":{"$ref":"#/components/schemas/n45c92162_c9a9_01a0_6fbf_b2f392defddf"},"taxonomy_group":{"$ref":"#/components/schemas/n9e2e211c_634f_01bb_4d2c_989d09089414"}},"required":["type","name","taxonomy_group"]},"taxonomy_group":{"title":"TaxonomyGroup","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/de4a0c0f_9658_01dd_d725_e1aa8c1887f1"},"terms":{"$ref":"#/components/schemas/bfaae9dd_6dbd_013a_6b6a_0116cf955fda"}},"required":["system","terms"]},"taxonomy_term":{"title":"TaxonomyTerm","type":["object"],"properties":{"name":{"$ref":"#/components/schemas/n82647955_cdd8_01fb_cb59_f710d0182d5e"},"codename":{"$ref":"#/components/schemas/n8f56eab6_452f_01a5_cf79_5dce720d1b9e"},"terms":{"$ref":"#/components/schemas/n6752d10e_4532_010a_61bb_7431b182601c"}},"required":["name","codename","terms"]},"text_element":{"title":"TextElement","allOf":[{"$ref":"#/components/schemas/text_element_in_type_b8df03f"},{"$ref":"#/components/schemas/cb74580b_8209_0198_2278_1c12d04b86b0"}]},"text_element_in_item":{"title":"Text element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n5e1fd39d_2961_01b5_36cc_0ff1978d8888"},"name":{"$ref":"#/components/schemas/n81f0f19d_a166_0187_279d_f94cb724f1c5"},"value":{"$ref":"#/components/schemas/n6217febb_d56a_01ea_7ec5_47cf9484ff92"}},"required":["type","name","value"]},"text_element_in_type_b8df03f":{"title":"TextInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/c8f2564e_e1b1_01bf_bc85_4062ef272e85"},"name":{"$ref":"#/components/schemas/n6b544753_2928_01c5_3c0d_1dd6fcd80e4e"}},"required":["type","name"]},"untitled_content_item_4b71df4":{"title":"rendition","description":"The name of the object represents an image preset's codename. Currently, there's only one default preset that holds the [customized image](/tutorials/write-and-collaborate/create-content/work-with-media#a-customize-assets-for-a-better-fit).","type":["object"],"properties":{"rendition_id":{"$ref":"#/components/schemas/n60917cc8_0c64_01c5_b8f0_a5bf9cda3b58"},"preset_id":{"$ref":"#/components/schemas/d0243348_31dc_016a_3195_ce1450e56883"},"width":{"$ref":"#/components/schemas/n0097e3d1_c2f7_0177_25c8_f76d15e4fb1d"},"height":{"$ref":"#/components/schemas/n098f54df_e5f7_017f_b44e_35f1f742596f"},"query":{"$ref":"#/components/schemas/e5d6559f_a8c0_014f_d978_5e36ab28c38c"}},"required":["rendition_id","preset_id","width","height","query"]},"url_slug_element":{"title":"UrlSlugElement","allOf":[{"$ref":"#/components/schemas/url_slug_element_in_type_1e74188"},{"$ref":"#/components/schemas/n6cf31b2c_4449_01bc_7ee3_7b293926ffad"}]},"url_slug_element_in_item":{"title":"URL slug element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/cd74b15d_e0d6_0119_adb0_ed717ea3ae3e"},"name":{"$ref":"#/components/schemas/n4e9af55d_39f4_013e_eadf_7c6aee6232f3"},"value":{"$ref":"#/components/schemas/n3f1e6092_2cfd_010e_c182_91f1ce1ae48f"}},"required":["type","name","value"]},"url_slug_element_in_type_1e74188":{"title":"UrlSlugInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n06b90564_4e88_01e3_2fc2_50f71081a087"},"name":{"$ref":"#/components/schemas/n495a5280_f503_013a_e114_6c67e4d855d9"}},"required":["type","name"]}},"parameters":{"depth":{"name":"depth","in":"query","description":"Determines the level of nesting for content items that the API returns. By default, only the first level of linked items is returned, which is the same as setting {~depth=1~}.\n\nIf you want to include more than one level of linked items in response, set the {~depth~} query parameter to {~2~} or more.\n\nIf you need to exclude all linked items from the response, set the parameter to {~0~}. \n\n<div class=\"callout callout--info>\">\n\nComponents are always present in response. See Linked content and components for more details.</div>\n\n","schema":{"$ref":"#/components/schemas/positive_integer_schema"},"example":1},"element_codename":{"name":"element_codename","in":"path","description":"Identifies the element by codename within the specified content type.\n\n<div class=\"callout callout--info>\">\n\nThe element's codename has no relation to the type of the element.</div>\n\n","required":true,"example":"processing"},"elements":{"name":"elements","in":"query","description":"Determines the elements to retrieve using a comma-separated list of element codenames. The {~elements~} query parameter applies to all content items within the response.\n\nIf not specified, all elements are retrieved. For more details, see [Projection](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/c4552a2f-142c-4415-b7aa-f2c5b165a84e).","style":"form","schema":{"$ref":"#/components/schemas/array_of_strings"},"example":{"Error":"Invalid json. Content item codename: 'array_of_strings'. Content item name: 'Array of strings'"}},"includetotalcount":{"name":"includeTotalCount","in":"query","description":"Adds the information about the total number of content items matching your query. Only [the content filtering parameters](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905) affect the resulting number. Other parameters in your query, such as `limit,` `skip`, or `order`, don't have an effect on it.\n\nThe number doesn't include linked items returned as part of the `modular_content` property. For the total number of items returned within the response, see the `X-Request-Charge` header.\n\nWhen set to `true`, the pagination object returned in the API response contains an additional `total_count` property.","schema":{"$ref":"#/components/schemas/general_boolean_schema"},"example":"true"},"item_codename":{"name":"item_codename","in":"path","description":"Identifies the content item by codename.","required":true,"example":"on_roasts"},"language":{"name":"language","in":"query","description":"Determines which language variant of content items to return. By default, the API returns content in the default language.\n\n<div class=\"callout callout--info>\">\n\nIf the requested content is not available in the specified language variant, the API follows the language fallbacks as configured in the Localization settings of your project.</div>\n\n","schema":{"$ref":"#/components/schemas/plaintext_string"},"example":"en-US"},"limit_8cd54e2":{"name":"limit","in":"query","description":"Sets the number of objects to retrieve in a single request. If the `limit` parameter is not specified, the API returns all requested objects by default.\n\nIf `limit` is lower than the total number of objects matching your query, the `next_page` property in the `pagination` object of the API response will contain a URL to the next page of results.\n\nThe `limit` parameter affects only the number of items in the `items` property. It doesn't reduce the number of linked items in the `modular_content` property so you may hit the [response size limit](#section/Response-size) unexpectedly. You can set `depth=0` to avoid that.","schema":{"$ref":"#/components/schemas/positive_integer_schema"},"example":10},"order":{"name":"order","in":"query","description":"Determines the order of the retrieved objects. By default, the objects are sorted alphabetically by their codenames from A to Z in descending order.\n\nTo sort the requested objects in ascending order, set the `order` to `<property_name>[asc]` where `<property_name>` is the name of the object property you want to sort by. For example, `order=elements.title[asc]` or `order=system.codename[asc]`. Similarly, to sort in descending order, use the `[desc]` modifier. You can sort by any properties in the API response.\n\n**Examples**\n\n* Sort by date – `order=system.last_modified[desc]`\n* Sort by a content item name – `order=system.name[asc]`\n* Sort by an element value – `order=elements.<element_codename>[asc]`","schema":{"$ref":"#/components/schemas/plaintext_string"},"example":"system.last_modified[desc]"},"project_id":{"name":"project_id","in":"path","description":"Identifies your project.\n\nIf you're using [environments](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/a814879f-64a2-4689-8a99-e4e98cdf60ba), the project ID becomes environment ID and specifies one of the project's environments.","required":true,"schema":{"$ref":"#/components/schemas/plaintext_string"},"example":"975bf280-fd91-488c-994c-2f04416e5ee3"},"skip":{"name":"skip","in":"query","description":"Sets the number of objects to skip when requesting a list of objects. The `skip` parameter must be combined with the `limit` parameter to work. If `skip` is not specified, the API returns the first page of results.\n\nYou can combine the `limit` and `skip` parameters to specify page size and page number. For example, using `limit=10&skip=10` sets the page size to 10 and gets the second page of results.","schema":{"$ref":"#/components/schemas/positive_integer_schema"},"example":10},"taxonomy_group_codename":{"name":"taxonomy_group_codename","in":"path","description":"Identifies the taxonomy group by codename.","required":true,"example":"personas"},"type_codename":{"name":"type_codename","in":"path","description":"Identifies the content type by codename.","required":true,"example":"article"},"x_continuation":{"name":"X-Continuation","in":"header","description":"Determines the next page of results to retrieve. By default, when the header is not set, the API returns the first page of results.\n\nIf there are more items to enumerate, the response will come with the {~X-Continuation~} header. To get the next page of results, use the {~X-Continuation~} header from the response in your request."},"x_kc_wait_for_loading_new_content":{"name":"X-KC-Wait-For-Loading-New-Content","in":"header","description":"Determines whether the API waits while fetching content, if the requested content has changed since the last request. This is useful when retrieving changed content in reaction to a [webhook](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/5b87f0a1-c271-449d-a9dc-04f995c89589) call.\n\nBy default, when the header is not set, the API serves stale content (if cached by the CDN) while it's fetching the new content to minimize wait time. To always fetch new content, set the header value to {~true~}.","schema":{"$ref":"#/components/schemas/general_boolean_schema"},"example":"true"},"x_request_charge":{"name":"X-Request-Charge","in":"header","description":"Specifies the number of content items returned in the response. This number covers both the items that directly match the specified query and the linked items returned in the response's `modular_content` property.\n\nIf the `X-Request-Charge` value of your requests exceeds 1000, we recommend applying more specific [filters](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905) and checking if a lower value for the [`depth` parameter](#tag/Linked-content-and-components/linked-content-depth) works for you. Fewer items returned per response means shorter response times and better performance for your app.","example":"1337"}},"requestBodies":{},"responses":{"a207c92d_83d2_01f0_e997_542ed4a38f60":{"description":"The specified content item is not published or was deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error_object"},"example":{"message":"The requested content item 'on_roasts' was not found.","request_id":"|657e8eba55d8bf4a9a5ad9074038cd2e.813e828d_","error_code":100,"specific_code":0}}}},"aa05497b_b482_012a_0a83_b1dadc71927e":{"description":"A taxonomy group object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/taxonomy_group"}}}},"cbbfafa2_1ce3_0116_6ac7_d69a0268f4a9":{"description":"The specified taxonomy group was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error_object"},"example":{"message":"The requested taxonomy group 'persona' was not found.","request_id":"|a0d6c1ee9d2bc943bdd92e57e9dc97c4.4f33764a_","error_code":104,"specific_code":0}}}},"cc356a6b_4819_017a_cd66_b9a475ffb6c8":{"description":"A content element object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/n302c0f4e_5fa3_018f_2fdf_ec29cce4abba"}}}},"fd944755_616c_0119_e7f3_2ea4992a8ce0":{"description":"A list of content types.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ba6f99fe_cc0e_0138_d74e_e59d03b4d208"}}}},"n01f6c4b3_fc65_0183_869e_c2d681c6dd90":{"description":"The specified content element was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error_object"},"example":{"message":"The requested content element 'authors' was not found in content type 'article'.","request_id":"|b8ec7d395e95c04e9511dbabd65bf4d1.a44b7400_","error_code":102,"specific_code":0}}}},"n1a689c94_2fa9_01da_e955_6f3b17a97ebe":{"description":"A dynamically paginated feed of content items and components.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/n66dccf37_dbea_01cb_2725_b55cccc456a1"},"example":{"items":[{"system":{"id":"4d4dc14d-8c7c-471f-b797-c6694c604964","name":"About us","codename":"about_us","language":"en-US","type":"article","collection":"default","sitemap_locations":[],"last_modified":"2020-02-17T07:22:51.6711216Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"Great news about us"},"body_copy":{"type":"rich_text","name":"Body","images":{},"links":{},"modular_content":["n43768251_0eaa_01f6_69c2_f93047f076e1"],"value":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n43768251_0eaa_01f6_69c2_f93047f076e1\"></object>\n<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"},"author":{"type":"modular_content","name":"Author","value":["jenny_brown"]},"url":{"type":"url_slug","name":"URL pattern","value":"great-news-about-us"}}},{"system":{"id":"7b11fe14-6282-4daa-b901-e59e231cd93c","name":"How to write error messages","codename":"how_to_error_message","language":"en-US","type":"article","collection":"default","sitemap_locations":[],"last_modified":"2020-12-16T15:08:53.2391808Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"Writing good error messages"},"body_copy":{"type":"rich_text","name":"Body","images":{},"links":{},"modular_content":["n78ee300e_7a58_0117_819e_529b2294067b"],"value":"<p>The 3 most important things when writing error messages</p>\n<ol>\n  <li>Don’t abuse alerts for upselling or showing superfluous information. People will stop reading the messages that are actually important.</li>\n  <li>Don’t just assume people know about the context of a message. They might toggle between apps and see your message days after it happened. Always include enough information for users to make sense of it.</li>\n  <li>Use a friendly, non-technical, non-threatening tone of voice.</li>\n</ol>\n<p><em><strong>TL;DR Write actionable error messages that laypeople can understand.*</strong></em></p>\n<p><em>*Not sure if they do? Show them to a non-technical person and ask them to explain it back to you.</em></p>\n<p><em>Read the full story on </em><a href=\"https://medium.com/@thomasfuchs/how-to-write-an-error-message-883718173322\" data-new-window=\"true\" title=\"How to write a great error message\" target=\"_blank\" rel=\"noopener noreferrer\"><em>Medium</em></a><em>.</em></p>\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n78ee300e_7a58_0117_819e_529b2294067b\"></object>"},"author":{"type":"modular_content","name":"Author","value":["jenny_brown"]},"url":{"type":"url_slug","name":"URL pattern","value":"writing-good-error-messages"}}},{"system":{"id":"335d17ac-b6ba-4c6a-ae31-23c1193215cb","name":"Simple article","codename":"simple_article","language":"en-US","type":"simple_article","collection":"default","sitemap_locations":[],"last_modified":"2020-02-06T10:08:58.1048397Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"My simple article"},"author":{"type":"modular_content","name":"Author","value":["jenny_brown"]},"body":{"type":"rich_text","name":"Body","images":{"04e4957f-08ed-4329-9c7a-0d7b7c6f3590":{"image_id":"04e4957f-08ed-4329-9c7a-0d7b7c6f3590","description":"Person sitting on a wooden pier","url":"https://assets-us-01.kc-usercontent.com:443/8d20758c-d74c-4f59-ae04-ee928c0816b7/6e38c039-ad00-47f3-a584-26252827655a/daylight.jpg","width":4000,"height":2525}},"links":{"29b82988-fb9e-4327-a34b-b568cfaa39e9":{"codename":"my_article","type":"article","url_slug":"my-article"}},"modular_content":["n499599bf_6bda_019e_d2f7_debd4589f3b8"],"value":"<figure data-asset-id=\"04e4957f-08ed-4329-9c7a-0d7b7c6f3590\" data-image-id=\"04e4957f-08ed-4329-9c7a-0d7b7c6f3590\"><img src=\"https://assets-us-01.kc-usercontent.com:443/8d20758c-d74c-4f59-ae04-ee928c0816b7/6e38c039-ad00-47f3-a584-26252827655a/daylight.jpg\" data-asset-id=\"04e4957f-08ed-4329-9c7a-0d7b7c6f3590\" data-image-id=\"04e4957f-08ed-4329-9c7a-0d7b7c6f3590\" alt=\"Person sitting on a wooden pier\"></figure>\n<p>Quisque erat nisl, elementum ac consectetur eu, vulputate id metus. Cras placerat odio est, eu elementum eros pretium id. Donec a ornare dui. Pellentesque porta sed lorem eu accumsan. Pellentesque at dui ut urna gravida volutpat finibus sit amet leo. Duis et tempus nulla.</p>\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n499599bf_6bda_019e_d2f7_debd4589f3b8\"></object>\n<p>Nullam odio ante, blandit ut posuere eu, eleifend vitae dui. Mauris sagittis, tortor et tempor eleifend, enim libero tempus velit, non hendrerit lacus sem eu lorem. Nulla cursus eu ante nec pulvinar.</p>\n<p>Nulla in facilisis tortor, quis pretium tortor. Vivamus quis laoreet nisi, non egestas massa. Maecenas hendrerit massa leo. Maecenas convallis dui vitae lorem suscipit efficitur. Maecenas vel dignissim erat, fringilla luctus lorem. Vivamus hendrerit ante et accumsan fringilla. Nullam <a data-item-id=\"29b82988-fb9e-4327-a34b-b568cfaa39e9\" href=\"\">quis</a> pellentesque erat.</p>"}}}],"modular_content":{"n43768251_0eaa_01f6_69c2_f93047f076e1":{"system":{"id":"43768251-0eaa-01f6-69c2-f93047f076e1","name":"43768251-0eaa-01f6-69c2-f93047f076e1","codename":"n43768251_0eaa_01f6_69c2_f93047f076e1","language":"en-US","type":"tweet","collection":"default","sitemap_locations":[],"last_modified":"2020-02-17T07:22:51.6711216Z"},"elements":{"theme":{"type":"multiple_choice","name":"Theme","value":[{"name":"Light","codename":"light"}]},"tweet_link":{"type":"text","name":"Tweet link","value":"https://twitter.com/KenticoKontent/status/1222987911940972545"},"display_options":{"type":"multiple_choice","name":"Display options","value":[{"name":"Hide thread","codename":"hide_thread"}]}}},"n499599bf_6bda_019e_d2f7_debd4589f3b8":{"system":{"id":"499599bf-6bda-019e-d2f7-debd4589f3b8","name":"499599bf-6bda-019e-d2f7-debd4589f3b8","codename":"n499599bf_6bda_019e_d2f7_debd4589f3b8","language":"en-US","type":"code_sample","collection":"default","sitemap_locations":[],"last_modified":"2020-02-06T10:08:58.1048397Z"},"elements":{"code":{"type":"text","name":"Code","value":"ReactDOM.render(\n  <h1>Hello, world!</h1>,\n  document.getElementById('root')\n);"},"programming_language":{"type":"multiple_choice","name":"Programming language","value":[{"name":"React","codename":"react"}]}}},"n78ee300e_7a58_0117_819e_529b2294067b":{"system":{"id":"78ee300e-7a58-0117-819e-529b2294067b","name":"78ee300e-7a58-0117-819e-529b2294067b","codename":"n78ee300e_7a58_0117_819e_529b2294067b","language":"en-US","type":"blockquote","collection":"default","sitemap_locations":[],"last_modified":"2020-12-16T15:08:53.2391808Z"},"elements":{"quote":{"type":"text","name":"Quote","value":"Don't quote me on this."},"source":{"type":"text","name":"Source","value":"Jeff Loomis"}}}}}}}},"n1ea2894a_a72c_017e_d385_94389abd9406":{"description":"A content type object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/content_type"}}}},"n339b3205_89a4_0143_70ca_da67989d0403":{"description":"A single content item object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/n488f2b59_9c48_0150_ecfd_338d3f03b1df"},"example":{"item":{"system":{"id":"7b11fe14-6282-4daa-b901-e59e231cd93c","name":"How to write error messages","codename":"how_to_error_message","language":"en-US","type":"article","collection":"default","sitemap_locations":[],"last_modified":"2020-12-16T15:08:53.2391808Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"Writing good error messages"},"body_copy":{"type":"rich_text","name":"Body","images":{},"links":{},"modular_content":["n78ee300e_7a58_0117_819e_529b2294067b"],"value":"<p>The 3 most important things when writing error messages</p>\n<ol>\n  <li>Don’t abuse alerts for upselling or showing superfluous information. People will stop reading the messages that are actually important.</li>\n  <li>Don’t just assume people know about the context of a message. They might toggle between apps and see your message days after it happened. Always include enough information for users to make sense of it.</li>\n  <li>Use a friendly, non-technical, non-threatening tone of voice.</li>\n</ol>\n<p><em><strong>TL;DR Write actionable error messages that laypeople can understand.*</strong></em></p>\n<p><em>*Not sure if they do? Show them to a non-technical person and ask them to explain it back to you.</em></p>\n<p><em>Read the full story on </em><a href=\"https://medium.com/@thomasfuchs/how-to-write-an-error-message-883718173322\" data-new-window=\"true\" title=\"How to write a great error message\" target=\"_blank\" rel=\"noopener noreferrer\"><em>Medium</em></a><em>.</em></p>\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n78ee300e_7a58_0117_819e_529b2294067b\"></object>"},"author":{"type":"modular_content","name":"Author","value":["jenny_brown"]},"url":{"type":"url_slug","name":"URL pattern","value":"writing-good-error-messages"}}},"modular_content":{"jenny_brown":{"system":{"id":"59838cfd-ba15-4607-8e6a-d91931fc7ce6","name":"Jenny Brown","codename":"jenny_brown","language":"en-US","type":"author","sitemap_locations":[],"last_modified":"2020-02-05T11:33:54.5271987Z","collection":"default","workflow_step":"published"},"elements":{"name":{"type":"text","name":"Name","value":"Jenny Brown"},"bio":{"type":"rich_text","name":"Bio","images":{},"links":{},"modular_content":[],"value":"<p>Jenny is here for all things wildlife and, newly, climate changes.</p>"}}},"n78ee300e_7a58_0117_819e_529b2294067b":{"system":{"id":"78ee300e-7a58-0117-819e-529b2294067b","name":"78ee300e-7a58-0117-819e-529b2294067b","codename":"n78ee300e_7a58_0117_819e_529b2294067b","language":"en-US","type":"blockquote","collection":"default","sitemap_locations":[],"last_modified":"2020-12-16T15:08:53.2391808Z"},"elements":{"quote":{"type":"text","name":"Quote","value":"Don't quote me on this."},"source":{"type":"text","name":"Source","value":"Jeff Loomis"}}}}}}}},"n3657a2bd_15c0_01c4_e2fc_6795dbebd64e":{"description":"A paginated list of content items matching the specified criteria.","headers":{"X-Request-Charge":{"$ref":"#/components/headers/x_request_charge_a9674e2"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/d6c39c64_67fb_017e_9b24_041bd94f2f43"},"example":{"items":[{"system":{"id":"4d4dc14d-8c7c-471f-b797-c6694c604964","name":"About us","codename":"about_us","language":"en-US","type":"article","collection":"default","sitemap_locations":[],"last_modified":"2020-02-17T07:22:51.6711216Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"Great news about us"},"body_copy":{"type":"rich_text","name":"Body","images":{},"links":{},"modular_content":["n43768251_0eaa_01f6_69c2_f93047f076e1"],"value":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n43768251_0eaa_01f6_69c2_f93047f076e1\"></object>"},"related_articles":{"type":"modular_content","name":"Related articles","value":["my_article"]},"author":{"type":"modular_content","name":"Author","value":["jenny_brown"]},"url":{"type":"url_slug","name":"URL pattern","value":"great-news-about-us"}}},{"system":{"id":"0afdd600-d6c5-4ac4-bb6b-d2847ca779fe","name":"About us","codename":"about_us_0afdd60","language":"en-US","type":"navigation_item","collection":"default","sitemap_locations":[],"last_modified":"2020-02-04T15:14:48.0057835Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"About us"},"url":{"type":"url_slug","name":"URL","value":"about-us"},"subitems":{"type":"modular_content","name":"Subitems","value":["about_us"]}}}],"modular_content":{"about_us":{"system":{"id":"4d4dc14d-8c7c-471f-b797-c6694c604964","name":"About us","codename":"about_us","language":"en-US","type":"article","collection":"default","sitemap_locations":[],"last_modified":"2020-02-17T07:22:51.6711216Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"Great news about us"},"body_copy":{"type":"rich_text","name":"Body","images":{},"links":{},"modular_content":["n43768251_0eaa_01f6_69c2_f93047f076e1"],"value":"<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n43768251_0eaa_01f6_69c2_f93047f076e1\"></object>"},"related_articles":{"type":"modular_content","name":"Related articles","value":["my_article"]},"author":{"type":"modular_content","name":"Author","value":["jenny_brown"]},"url":{"type":"url_slug","name":"URL pattern","value":"great-news-about-us"}}},"jenny_brown":{"system":{"id":"59838cfd-ba15-4607-8e6a-d91931fc7ce6","name":"Jenny Brown","codename":"jenny_brown","language":"en-US","type":"author","collection":"default","sitemap_locations":[],"last_modified":"2020-02-05T11:33:54.5271987Z","workflow_step":"published"},"elements":{"name":{"type":"text","name":"Name","value":"Jenny Brown"},"bio":{"type":"rich_text","name":"Bio","images":{},"links":{},"modular_content":[],"value":"<p>Jenny is here for all things wildlife and, newly, climate changes. Check her out.</p>"}}},"my_article":{"system":{"id":"29b82988-fb9e-4327-a34b-b568cfaa39e9","name":"My article","codename":"my_article","language":"en-US","type":"article","collection":"default","sitemap_locations":[],"last_modified":"2020-02-03T13:58:21.5779868Z","workflow_step":"published"},"elements":{"title":{"type":"text","name":"Title","value":"My article"},"body_copy":{"type":"rich_text","name":"Body","images":{},"links":{},"modular_content":[],"value":"<p>Lorem ipsum dolor sit amet.</p>"},"related_articles":{"type":"modular_content","name":"Related articles","value":["about_us"]},"author":{"type":"modular_content","name":"Author","value":["jean_morris"]},"url":{"type":"url_slug","name":"URL pattern","value":"my-article"}}},"n43768251_0eaa_01f6_69c2_f93047f076e1":{"system":{"id":"43768251-0eaa-01f6-69c2-f93047f076e1","name":"43768251-0eaa-01f6-69c2-f93047f076e1","codename":"n43768251_0eaa_01f6_69c2_f93047f076e1","language":"en-US","type":"tweet","collection":"default","sitemap_locations":[],"last_modified":"2020-02-17T07:22:51.6711216Z"},"elements":{"theme":{"type":"multiple_choice","name":"Theme","value":[{"name":"Light","codename":"light"}]},"tweet_link":{"type":"text","name":"Tweet link","value":"https://twitter.com/KenticoKontent/status/1222987911940972545"},"display_options":{"type":"multiple_choice","name":"Display options","value":[{"name":"Hide thread","codename":"hide_thread"}]}}}},"pagination":{"skip":0,"limit":3,"count":3,"next_page":"https://deliver.kontent.ai/8d20758c-d74c-4f59-ae04-ee928c0816b7/items/?limit=3&skip=3"}}}}},"n375c7b1f_c0f8_0198_8631_370646046f3e":{"description":"A list of active languages matching the specified parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/e1f2245b_bb1a_0181_3e44_fdef5c7a301e"},"example":{"languages":[{"system":{"id":"00000000-0000-0000-0000-000000000000","name":"Default project language","codename":"default"}},{"system":{"id":"614d82f5-c16c-465b-a34b-a37a1b416d12","name":"German","codename":"de-DE"}},{"system":{"id":"de7bffee-659e-495f-b462-073974c88147","name":"English","codename":"en-US"}}],"pagination":{"skip":0,"limit":3,"count":3,"next_page":"https://deliver.kontent.ai/<YOUR_PROJECT_ID>/languages?limit=3&skip=3"}}}}},"n80b37bfd_c599_0122_8120_86e1683f1fa7":{"description":"The specified content type was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error_object"},"example":{"message":"The requested content type 'articles' was not found.","request_id":"|8aa7f93878023f469d2b587e4fb07f85.ddb7bb71_","error_code":101,"specific_code":0}}}},"n8c366ba7_f32a_0149_88a3_959aec14b010":{"description":"A paginated list of taxonomy groups.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/n38154458_e7a6_019b_1911_958dfe247f65"}}}}},"securitySchemes":{}},"security":[]}