{"openapi":"3.1.0","info":{"title":"Delivery REST API","version":"1","termsOfService":"https://kontent.ai/terms-of-service/","contact":{"name":"Kontent.ai Support","email":"support@kontent.ai"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"description":"The Delivery API is a read-only REST API that serves published content from your Kontent.ai projects."},"servers":[{"url":"https://deliver.kontent.ai","description":"Delivery API"},{"url":"https://preview-deliver.kontent.ai","description":"Delivery Preview API"}],"x-tagGroups":[{"name":"Introduction","tags":["SDKs","API limitations","Secure access","Revoking API keys","Errors"]},{"name":"Resources","tags":["Content items","Content elements","Content types","Languages","Taxonomy groups"]},{"name":"Get the content you need","tags":["Filtering content","Linked content and components","Projection"]}],"tags":[{"name":"SDKs","description":"We offer the following SDKs to help you interact with the API. However, you don't need an SDK to use the API.\n\n* [JavaScript/TypeScript SDK](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/552424ff-28ed-4668-86eb-55400da43d87)\n* [.NET SDK](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/fc2b0841-46c3-4fb4-9aa5-ea771b6fb221)\n* [Java SDK](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/584073a7-9783-4311-9893-d2a1c61cb025)\n* [PHP SDK](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/a986a04a-3afa-410b-b933-d1d3e6e87e15)\n* [Swift SDK](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/9af70b2e-e015-40b1-9f31-38f7b2960de8)\n* [Ruby SDK](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/2c242462-d1eb-44ab-b3f9-049dfa335d6a)\n\nIf you want to create your own SDK, see our [guidelines for SDK developers](https://github.com/Kentico/Home/wiki/Guidelines-for-SDK-developers \"Guidelines for SDK developers\")."},{"name":"API limitations","description":"## API requests limit\n\nRequests made to the Delivery API count towards the overall _API Calls_ limit set in our [Fair Use Policy](https://kontent.ai/pricing/fup).\n\nRequests made to the [Delivery Preview API](#section/Production-vs.-Preview), which lets you preview unpublished content, do NOT count towards the _API Calls_ limit.\n\n## Change processing time\n\nThe Delivery API processes changes to your content items in sequential order, one after another. In high-volume scenarios, this can lead to delays between making a change and seeing the results of that change in the API. See the following example scenarios for details.\n\n**Example A: Editing and publishing content items**\n\nIf you publish a content item, the API processes this change in a few seconds. When publishing larger amounts of content, there can be a delay in availability of that content in the API.\n\nFor example, if you publish 100 content items, the first item will be available a few minutes sooner than the last one.\n\n**Example B: Editing content types**\n\nWhen you change a content type, the API needs to process all content items based on that type. If your changes affect hundreds or thousands of content items, the API recalculates the content of each item. While this is happening, any new changes to content items need to wait before being processed by the API.\n\nFor example, imagine you have an _Article_ content type with 100,000 content items based on that type. If you add an element to the content type, the API goes through the items and begins updating their content. Given the high number of items, this process can take up to a few hours.\n\nUntil the API finishes processing the _Article_ items, any subsequent content changes need to wait. If you publish a content item right after modifying the _Article_ content type, the published item appears in the API only after the type change was fully processed.\n\n**Example C: Changing project localization settings**\n\nWe strongly recommend against changing language codenames on live projects with lots of content. This action might lead to temporary inconsistencies that might affect content in your web app.\n\nIf you change a [project language](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/9e0f560c-5ee4-4649-818a-c5f934b82f4a)'s codename, the API needs to process all items that have content in that language. Until this change is fully processed, the API might return some items with the old language codename and some items with the new language codename.\n\n## Rate limitation\n\nRate limits specify the number of requests you can make to the Delivery API within a specific time window.\n\nYour first request to the Delivery API is uncached and its response is stored in our CDN. If you repeat that request, you get a cached response. That response is cached until content in your project changes.\n\nFor uncached requests that reach the Delivery API, we enforce a rate limitation of 100 requests per second and 2000 requests per minute. These are unique requests for uncached data.\n\nFor cached requests that hit our CDN, we don't enforce any rate limits. These are repeated requests for cached data. You can make an unlimited number of requests to the CDN.\n\nWhen you reach the rate limit, the API rejects the request and responds with a [429 HTTP error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429 \"Too Many Requests\"). This error comes with the [`Retry-After` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After) that tells you how many seconds you need to wait before retrying your request. Each failed request is perfectly safe to retry. If you begin to receive 429 errors, reduce the frequency of your requests.\n\n## Response size\n\nWhen you [request a single content item](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/419ae032-ad24-4990-89a7-2f13ba7c9beb) or [list of items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107), the Delivery API limits the maximum number of items returned within a response to 2000 items. This number covers both the items that directly match the specified query and the [linked items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446) returned in the response's `modular_content` property.\n\nYou can find whether your requests are close to the limit by looking at the `X-Request-Charge` header.\n\nIf the `X-Request-Charge` value of your requests exceeds 1000, we recommend applying more specific [filters](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905) and checking if a lower value for the [`depth` parameter](#tag/Linked-content-and-components/linked-content-depth) works for you. Fewer items returned per response means shorter response times and better performance for your app."},{"name":"Secure access","description":"By default, the Delivery API does not require authentication. This means your assets and published content items are publicly available.\n\nYou can enable secure access for your project to require authenticated requests. You'll then need to use an API key when getting content items.\n\nBecause the Delivery API is designed for continuous retrieval of published content, there is **no expiration date** for the Primary or Secondary API keys. The API keys are **scoped per project**. This means you need a separate API key for each project in Kontent.ai. All users within a single project share the same Delivery API keys.\n\nIf you have [advanced asset management](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/2123ff88-1dc2-476c-b9bd-877821fe0110), you can also set up secure assets for your project. For more details, check how to [restrict public access](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/961f2179-e62c-4927-a7ad-e270d55fb61f)."},{"name":"Revoking API keys","description":"The Delivery API with [secure access](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/312ecd2f-d37f-4055-82c2-ac912d0d4b8d) enabled and the Delivery Preview API both use two concurrent API keys, Primary and Secondary. In certain situations, you may need to revoke one of these keys and generate a new one. For example, when you suspect unauthorized key use or when a developer with access to the API key has left your company.\n\nFor situations like these, one or both of the API keys can be regenerated. Generating a new key will replace the old key. This process can take up to a couple of minutes. Requests made with a revoked API key will then receive a `401 Unauthorized` HTTP status in the response.\n\n<div class=\"callout callout--tip>\">\n\n**Keep your API keys secure**\n\nThere is no expiration date for the Primary or Secondary API key. However, we recommend that you regenerate the API keys periodically to prevent the keys from being compromised.\n\nLearn more in Securing public access and Configuring content preview.</div>\n\n"},{"name":"Errors","description":"<SchemaDefinition schemaRef=\"#/components/schemas/error_object\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\nIf you cannot identify and resolve an issue with your API call, you can contact us with the response status and the request ID you get in the error response."},{"name":"Content items","description":"Content items represent specific pieces of content based on a specific content type. To retrieve specific items from your project, either [provide a codename for one item](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/419ae032-ad24-4990-89a7-2f13ba7c9beb) or [filter all items using parameters](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905). By default, the Delivery API returns content items in the [default language](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/9e0f560c-5ee4-4649-818a-c5f934b82f4a).\n\n## Content item object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/content_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/>"},{"name":"Content elements","description":"When getting [content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/0768ece4-91da-42a4-bab0-2086c66f9953) or [content types](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/6eec4ee8-1e14-433c-b35b-39e9d151a377), you get the `elements` object property as a part of the retrieved item or type.\n\nEach element in `elements` contains the properties `type`, `name`, and `value`. Note that certain elements, such as [rich text](#section/Rich-text-element) or [taxonomy](#section/Taxonomy-element), can contain additional properties.\n\n## Asset element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/asset_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Content type snippet element\n\nThe Content type snippet elements are expanded into the elements that they contain. You can recognize the expanded elements by their codenames, which use the following format: `<content_type_snippet_codename>__<content_element_codename>`.\n\nFor example, when you [retrieve an item](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/419ae032-ad24-4990-89a7-2f13ba7c9beb) that uses a snippet element with 2 elements, the snippet itself will be structured as the 2 elements, without any encapsulation.\n\n```json\n\"seo_metatata__meta_keywords\": {\n  \"type\": \"text\",\n  \"name\": \"Meta keywords\",\n  \"value\": \"donation, africa\"\n},\n\"seo_metatata__meta_description\": {\n  \"type\": \"text\",\n  \"name\": \"Meta description\",\n  \"value\": \"Regularly donate money.\"\n}\n```\n \n\n## Custom element\n\n[Create your own custom element](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/70496a22-6c7a-4c15-ab88-b70b9f3d24f1) or discover existing ones in the [Custom element sample gallery](https://kentico.github.io/kontent-custom-element-samples/gallery/ \"Custom element sample gallery\").\n\n<SchemaDefinition schemaRef=\"#/components/schemas/custom_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Date and time element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/date___time_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Linked items element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/linked_items_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Multiple choice element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/multiple_choice_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Number element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/number_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Rich text element\n\nIn addition to formatted text, the rich text element's `value` property can contain objects representing images, components, content items.\n\nInformation about these objects is stored in separate properties:\n\n* `images` – stores metadata of assets in the text.\n* `links` – stores metadata about content items linked in the text.\n* `modular_content` – stores metadata of linked items and components in the text.\n<SchemaDefinition schemaRef=\"#/components/schemas/rich_text_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n### Images (single object)\n\n<SchemaDefinition schemaRef=\"#/components/schemas/rich_text_image_object\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\nThe images in the rich text's `value` are represented by the `figure` and `img` HTML tags.\n\n```html\n<figure data-asset-id=\"66d73245-10e5-4478-93e7-5609fee3cdf7\"  data-image-id=\"66d73245-10e5-4478-93e7-5609fee3cdf7\"><img src=\"https://assets-us-01.kc-usercontent.com:443/38af179c-40ba-42e7-a5ca-33b8cdcc0d45/66d73245-10e5-4478-93e7-5609fee3cdf7/image.jpg\" data-asset-id=\"66d73245-10e5-4478-93e7-5609fee3cdf7\" data-image-id=\"66d73245-10e5-4478-93e7-5609fee3cdf7\"alt=\"\"></figure>\n```\n \n\n### Links (single object)\n\n<SchemaDefinition schemaRef=\"#/components/schemas/rich_text_link_object\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\nThe links in the rich text's `value` are represented by the `a` HTML tags.\n\n```html\n<!-- Link to a content item -->\n<a data-item-id=\"ef23e568-6aa2-42cd-a120-7823c0ef19f7\" href=\"\">link to a content item</a>\n\n<!-- Link to a Web URL, set to open in a new window -->\n<a href=\"https://kontent.ai/\" data-new-window=\"true\" target=\"_blank\"  rel=\"noopener noreferrer\">link to web URL</a>\n\n<!-- Link to an email address -->\n<a data-email-address=\"sales@kontent.ai\" href=\"mailto:sales@kontent.ai\">mailto link</a>\n\n<!-- Link to an asset -->\n<a data-asset-id=\"237362b4-5f2b-480e-a1d3-0ad5a6d5f8bd\" href=\"https://assets-us-01.kc-usercontent.com:443/38af179c-40ba-42e7-a5ca-33b8cdcc0d45/237362b4-5f2b-480e-a1d3-0ad5a6d5f8bd/image.jpg\">link to asset</a>\n```\n \n\n### Modular content (components and items in rich text)\n\nThe content items and components inserted in the rich text's `value` are represented by the `object` HTML element.\n\nFor both content items and components, the `object` HTML element specifies these attributes:\n\n* `data-type` – Its value is `item` for both content items and components. This lets you use a single method to resolve your items and components.\n* `data-rel` – Its value is either `link` (for content items inserted into rich text) or `component` (for components inserted into rich text). Use the attribute to differentiate between components and items.\n* `data-codename` – Its value specifies the codename of the content item or component.\n<div class=\"callout callout--info>\">\n\n**Two distinct** `modular_content` **properties**\n\nIn the `modular_content` object property of the Delivery API response, you can find the contents of the linked content items and content components.\n\nIn the rich text element's [modular_content array property](#section/Rich-text-element/modular-content-components-and-items-in-rich-text), you can find the codenames of the inserted content items and content components.\n\nThe codenames in the rich text's `modular_content` array are grouped and ordered. First comes a group of item codenames followed by a group of component codenames. The order of codenames in each group matches that in the UI.</div>\n\n ```html\n<!-- Inserted content item -->\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"link\" data-codename=\"content_item_codename\"></object>\n\n<!-- Inserted component; the component's codename is system-generated -->\n<object type=\"application/kenticocloud\" data-type=\"item\" data-rel=\"component\" data-codename=\"n249afaaf_1de5_011f_f683_c78fd9ec9d7c\"></object>\n```\n \n\n## Subpages element\n\nThis element works only with [Web Spotlight](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/fd0a51f1-703e-4eba-9882-5874d3ab61f3) enabled.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/subpages_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Taxonomy element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/taxonomy_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## Text element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/text_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/> \n\n## URL slug element\n\n<SchemaDefinition schemaRef=\"#/components/schemas/url_slug_element_in_item\" showReadOnly={true} showWriteOnly={true} showExample={true}/>"},{"name":"Content types","description":"Content types define the structure of [content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/0768ece4-91da-42a4-bab0-2086c66f9953). Each content type consists of specific [content elements](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea9768d1-bd2f-4027-bb5e-5cd9c85ea360) that define what kind of content (i.e., which data types) the structure holds.\n\n## Content type object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/content_type\" showReadOnly={true} showWriteOnly={true} showExample={true}/>"},{"name":"Languages","description":"Languages let you create multilingual content. If you've [set up languages](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/9e0f560c-5ee4-4649-818a-c5f934b82f4a) for your project, you can [get localized content](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/bf83b286-9972-4e65-8db9-412ca17df944) for each content item by using the `language` query parameter. You can also [get languages](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/f72e9ef6-cfc8-4afd-9594-ec3182f74b4a) from your project to dynamically create a language selector in your app, for example.\n\n<div class=\"callout callout--tip>\">\n\n**Use short machine-readable codenames**\n\nWe strongly recommend that you use short, easily identifiable, and machine-readable codenames for your languages. For example, you can specify language codenames based on the [IETF or one of the ISO-639 standards](https://web.archive.org/web/20210613212458/https://www.venea.net/web/culture%5Fcode).</div>\n\n \n\n## Language object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/dapi_language\" showReadOnly={true} showWriteOnly={true} showExample={true}/>"},{"name":"Taxonomy groups","description":"Taxonomies are a versatile tool for categorizing and organizing your content.\n\nLearn more about the [use cases for taxonomies](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/6a031f62-f076-4477-8b80-2e75115e9f32) and see how to [retrieve content tagged with a specific taxonomy term](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/c5772d90-44e8-4120-9d1c-515f20197759).\n\n## Taxonomy group object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/taxonomy_group\" showReadOnly={true} showWriteOnly={true} showExample={true}/>"},{"name":"Filtering content","description":"When [getting content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107), you can filter your items by building query parameters from content elements and system properties. Check our [tutorial on filtering content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/c5772d90-44e8-4120-9d1c-515f20197759), which covers the basic use of common filtering parameters. Or read on for a deep dive.\n\n<div class=\"callout callout--info>\">\n\nFiltering does not apply to content items returned in the `modular_content` object property.</div>\n\n \n\nIf you want to get only a specific set of elements from content items, use [projection](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/c4552a2f-142c-4415-b7aa-f2c5b165a84e).\n\n### Filtering by system values\n\nTo filter by system property values, you need to use a query parameter in the `system.<property_name>` format. The system properties are `id`, `collection`, `name`, `codename`, `language`, `type`, `last_modified`, and `workflow_step`. For example, to retrieve only content items based on the _Article_ content type, use `system.type=article` as a query parameter.\n\n### Filtering by element values\n\nTo filter by [content element](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea9768d1-bd2f-4027-bb5e-5cd9c85ea360) values, you need to use a query parameter in the `elements.<element_codename>=<value>` format. For example, to retrieve only content items whose number element named Price has a value of 16, use `elements.price=16` as a query parameter.\n\n### Joining multiple query parameters\n\nYou can join multiple query parameters using the `&` character. Queries with two or more filtering parameters are more restrictive because the individual query parameters are merged with a logical conjunction (AND).\n\nFor example, the query `system.type=article&elements.category[contains]=nature` will return Article [content items tagged](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/01fa6fb2-b746-4bb9-92a9-95acd07c6a62) with the term _Nature_.\n\n### Filtering operators\n\nYou can use the following filtering operators with both the system properties and element values.\n\n<div class=\"callout callout--info>\">\n\nAll operators are **case-sensitive**.</div>\n\n \n\n| **Operator**              | **Description**                                                                                                                                    | **Example**                                                                                                                                                            | **Use with**            |\n| ------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ----------------------- |\n| `[eq]`(same as `=`) | Property value equals the specified value.                                                                                                         | `system.type=article` `system.type[eq]=article`                                                                                                                  | Simple types            |\n| `[neq]`               | Property value does not equal the specified value.                                                                                                 | `system.type[neq]=article` `system.workflow_step[neq]=archived`                                                                                               | Simple types            |\n| `[empty]`             | Property value is empty.                                                                                                                           | `elements.title[empty]` `elements.author[empty]` For [rich text](#section/Rich-text-element), use the equals operator, `elements.content[eq]=<p><br></p>`. | Simple types and arrays |\n| `[nempty]`            | Property value is not empty.                                                                                                                       | `elements.title[nempty]`                                                                                                                                           | Simple types and arrays |\n| `[lt]`                | Property value is less than the specified value.More in [Comparing values](#tag/Filtering-content/comparing-values).                               | `system.last_modified[lt]=2019-03-01elements.price[lt]=10`                                                                                                      | Simple types            |\n| `[lte]`               | Property value is less than or equal to the specified value.More in [Comparing values](#tag/Filtering-content/comparing-values).                   | `system.last_modified[lt]=2019-02-01elements.price[lte]=4`                                                                                                      | Simple types            |\n| `[gt]`                | Property value is greater than the specified value.More in [Comparing values](#tag/Filtering-content/comparing-values).                            | `system.last_modified[gt]=2019-01-01elements.price[gt]=10`                                                                                                      | Simple types            |\n| `[gte]`               | Property value is greater than or equal to the specified value.More in [Comparing values](#tag/Filtering-content/comparing-values).                | `system.last_modified[gt]=2019-02-28elements.price[gt]=10`                                                                                                      | Simple types            |\n| `[range]`             | Property value falls within the specified range of two values, both inclusive.More in [Comparing values](#tag/Filtering-content/comparing-values). | `system.last_modified[range]=2018-02-01,2018-03-31elements.price[range]=10.5,50`                                                                                | Simple types            |\n| `[in]`                | Property value is in the specified list of values.                                                                                                 | `system.type[in]=cafe,coffeeelements.price[in]=8.5,9,10.5`                                                                                                       | Simple types            |\n| `[nin]`               | Property value is not in the specified list of values.                                                                                             | `system.type[nin]=home,page`                                                                                                                                       | Simple types            |\n| `[contains]`          | Property with an array of values contains the specified value.The `[contains]` operator cannot be used on strings.                             | `elements.category[contains]=nature` `elements.custom[contains]=ABC`                                                                                           | Arrays                  |\n| `[any]`               | Property with an array of values contains at least one value from the specified list of values.                                                    | `elements.category[any]=technology,nature`                                                                                                                         | Arrays                  |\n| `[all]`               | Property with an array of values contains all of the specified values.                                                                             | `elements.category[all]=technology,mobile`                                                                                                                         | Arrays                  |\n\n### Arrays vs. simple types\n\nYou can use the `[contains]`, `[any]`, and `[all]` filtering operators only on arrays. The content elements that support these operators are [custom elements](#section/Custom-element) (see limitations below), [linked items](#section/Linked-items-element), [multiple choice](#section/Multiple-choice-element), and [taxonomy](#section/Taxonomy-element).\n\nFor custom elements, the `[contains]`, `[any]`, and `[all]` filters work only if the element's value is a stringified array of strings such as \"[\"DE\",\"US\",\"UK\"]\". The `[contains]`, `[any]`, and `[all]` operators can NOT be used on asset elements.\n\n### Comparing values\n\nThe `[lt]`, `[lte]`, `[gt]`, `[gte]`, and `[range]` filtering operators work best with numbers. For example, you can retrieve products with price larger or equal to 15 by using `elements.price[gte]=15`.\n\n<div class=\"callout callout--info>\">\n\n**Filtering by date-time values**\n\nProperties that store dates are represented as strings. For example, this includes the `last_modified` system property and date & time content elements.\n\nIf you use filtering operators on properties with string values, the Delivery API tries to perform a string comparison. For instance, you can retrieve content items modified during February and March by using a query such as `system.last_modified[range]=2020-02-01,2020-04-01`, specifying the start date within the range and end date outside the range.</div>\n\n"},{"name":"Linked content and components","description":"With the Kontent.ai platform, you can [compose and structure](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/337e2e0a-fe9a-46cd-9176-2df0cedf1074) your content using rich text and linked items elements.\n\n* [Linked items elements](#section/Linked-items-element) are used to reference other content items.\n* [Rich text elements](#section/Rich-text-element) are used to compose your content with text, images, components, and content items. Components and content items are useful for inserting structured content into a specific point in the text.\n<div class=\"callout callout--info>\">\n\n**Components 101**\n\n[Rich text elements](#section/Rich-text-element) can contain components.\n\n* A component is a single-use content item.\n* It has the same structure as a content item.\n* Unlike a content item, a component only exists inside its rich text element.\n* It is based on a specific content type.</div>\n\n \n\n### Retrieve linked content\n\nWhen [retrieving items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107) using the Delivery API, the contents of _all components and content items in the rich text and linked items elements_ are stored in the `modular_content` object property of the API response.\n\nWhen [enumerating the items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ac1819e7-aec6-4b26-a649-2a4efc377281) in your project using the Delivery API, the `modular_content` object property will contain only components, not content items used in linked items elements.\n\nThe contents of `modular_content`, that is the individual components and content items, are not ordered. See [linked items](#section/Linked-items-element) and [rich text](#section/Rich-text-element) elements for details on how ordering is done within the elements.\n\nFor historical reasons, the property is called \"modular_content\" instead of \"linked_content\".\n\n### Linked content depth\n\n**Content items** can reference other content items using [linked items](#section/Linked-items-element) or [rich text](#section/Rich-text-element) elements. These linked items can reference other items recursively. By default, the API returns only one level of linked items.\n\n* To include more than one level of linked items in response, set the `depth` query parameter to 2 or more.\n* To exclude all linked items, set the `depth` query parameter to 0.\n\nWhen retrieving content, linked items cannot be [filtered](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905).\n\n**Components** are not affected by the `depth` query parameter as they are an integral part of their rich text element. Components are always present in the API response. Components can be nested up to six levels deep."},{"name":"Projection","description":"When [getting content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107) or [content types](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/f334b2b2-04e3-42bf-8812-c27cbac3ebc6), you can specify which elements to return by using the `elements` query parameter.\n\n* For items, the parameter applies to content items returned within both the `items` array and `modular_content` object property.\n* For types, the parameter applies to content types returned within the `types` array.\n\n### Examples\n\nBy using `elements=title` as a query parameter, the `elements` property in each content item will contain only the element with the codename `title`, or, if the item doesn't have an element with such codename, the `elements` property will be empty.\n\nFor multiple elements, you can use a query parameter such as `elements=title,summary,related_articles` to retrieve only the elements with codenames `title`, `summary`, and `related_articles`.\n\n<div class=\"callout callout--info>\">\n\n**Excluding the system properties**\n\nProjection does not apply to the system properties. This means that you cannot omit the {~system~} object from the response using any query.</div>\n\n"}],"paths":{"/{project_id}/items":{"get":{"operationId":"list-content-items","description":"Retrieve a list of content items from your project. By default, the API returns an unfiltered paginated list of content items ordered alphabetically by codename. The [response size](#section/Response-size) is limited to 2000 items.\n\nThe `modular_content` object property will contain both components and linked items in the API response. See [Linked content and components](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446) for more details.\n\nIf you need to export all content items from your project, we recommend using the [Enumerate content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ac1819e7-aec6-4b26-a649-2a4efc377281) endpoint.\n\nYou can change the order by specifying the `order` query parameter. You can customize pagination by specifying both the `skip` and `limit` query parameters. Note that the `limit` parameter affects only the `items` property, not `modular_content`.\n\n<div class=\"callout callout--tip>\">\n\n**Get only the items you need**\n\nTo retrieve specific content items, use the filtering parameters in your requests. For example, you can request items tagged with a taxonomy term, items of a specific type, or items modified in the past three days.</div>\n\n","responses":{"200":{"$ref":"#/components/responses/n3657a2bd_15c0_01c4_e2fc_6795dbebd64e"}},"tags":["Content items"],"summary":"List content items","x-codeSamples":[{"lang":"Swift","source":"// Tip: Find more about Swift SDK at https://kontent.ai/learn/ios\nimport KenticoKontentDelivery\n \nlet client = DeliveryClient.init(projectId:\"<YOUR_PROJECT_ID>\")\n \nlet customQuery = \"system.type=article&items?limit=3\"\nclient.getItems(modelType: Article.self, customQuery: customQuery) { (isSuccess, itemsResponse, error) in\n      if isSuccess {\n           if let articles = itemsResponse?.items {\n               // Use your items here\n           }\n       } else {\n           if let error = error {\n               print(error)\n           }\n       }"},{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Registers the model class for articles\n// Tip: Create strongly typed models according to https://kontent.ai/learn/strongly-typed-models\nclient.registerType(Article.class);\n\n// Gets 3 articles ordered by the \"Post date\" element\nCompletionStage<List<Article>> articles = client.getItems(\n    Article.class,\n    DeliveryParameterBuilder.params()\n        .page(null, 3)\n        .orderByDesc(\"post_date\")\n        .build()\n);"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.items()\n  .limitParameter(3)\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets specific elements of 3 articles ordered by the \"Post date\" element\n// ProTip: Use https://kontent.ai/learn/net-strong-types\nIDeliveryItemListingResponse<Article> response = await client.GetItemsAsync<Article>(\n    new EqualsFilter(\"system.type\", \"article\"),\n    new LimitParameter(3)\n    );\n\nIList<Article> items = response.Items;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\nuse Kentico\\Kontent\\Delivery\\QueryParams;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$items = $client->getItems((new QueryParams())\n            ->limit(3));"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/items?system.type=article&limit=3' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.items('system.type'.eq('article'))\n               .limit(3)\n               .execute do |response|\n                 items = response.items\n               end"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient } from '@kentico/kontent-delivery';\nimport { Article } from './models/Article';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>',\n});\n\nconst response = await deliveryClient.items<Article>()\n  .type('article')\n  .limitParameter(3)\n  .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/project_id"},{"$ref":"#/components/parameters/language"},{"$ref":"#/components/parameters/elements"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/limit_8cd54e2"},{"$ref":"#/components/parameters/includetotalcount"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}},"/{project_id}/items/{item_codename}":{"get":{"operationId":"retrieve-a-content-item","description":"Retrieve a specific content item by specifying its codename.\n\nThe [response size](#section/Response-size) is limited to 2000 items.","responses":{"200":{"$ref":"#/components/responses/n339b3205_89a4_0143_70ca_da67989d0403"},"404":{"$ref":"#/components/responses/a207c92d_83d2_01f0_e997_542ed4a38f60"}},"tags":["Content items"],"summary":"Retrieve a content item","x-codeSamples":[{"lang":"Swift","source":"// Tip: Find more about Swift SDKs at https://kontent.ai/learn/ios\nimport KenticoKontentDelivery\n\nlet client = DeliveryClient.init(projectId: \"<YOUR_PROJECT_ID>\")\n\nlet customQuery = \"items/my_article\"\nclient.getItem(modelType: Article.self, customQuery: customQuery) { (isSuccess, deliveryItem, error) in\n     if isSuccess {\n        if let article = deliveryItem.item {\n            // Use your item here\n        }\n    } else {\n        if let error = error {\n            print(error)\n        }\n    }"},{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Registers the model class for articles\n// Tip: Create strongly typed models according to https://kontent.ai/learn/strongly-typed-models\nclient.registerType(Article.class);\n\n// Gets an article\nCompletionStage<Article> article = client.getItem(\"my_article\", Article.class);"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>',\n});\n\nconst response = await deliveryClient.item('my_article')\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets specific elements of an article\n// Create strongly typed models according to https://kontent.ai/learn/net-strong-types\nIDeliveryItemResponse<Article> response = await client.GetItemAsync<Article>(\"my_article\");\n\nArticle item = response.Item;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$item = $client->getItem('my_article', (new QueryParams()));"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/items/my_article' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.item('my_article')\n               .execute do |response|\n                 item = response.item\n               end"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient, IContentItem, Elements } from '@kentico/kontent-delivery';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>',\n});\n\nexport type Article = IContentItem<{\n  title: Elements.TextElement;\n  summary: Elements.RichTextElement;\n  post_date: Elements.DateTimeElement;\n  teaser_image: Elements.AssetsElement;\n  related_articles: Article[];\n}>;\n\n// Create strongly typed models according to https://kontent.ai/learn/strongly-typed-models\nconst response = await deliveryClient.item<Article>('my_article')\n  .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/item_codename"},{"$ref":"#/components/parameters/language"},{"$ref":"#/components/parameters/elements"},{"$ref":"#/components/parameters/depth"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}},"/{project_id}/items-feed":{"get":{"operationId":"enumerate-content-items","description":"Retrieve a dynamically paginated list of content items in your project. The items are ordered alphabetically by codename.\n\nIf the response comes with the `X-Continuation` header, it means that there are more pages to retrieve. To get the next page of results, send the `X-Continuation` header with your request as you received it.\n\nThis endpoint, unlike the [List content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107) endpoint, guarantees to enumerate all content items in the specified project. The `modular_content` object property will contain only components used in rich text elements in the API response. See [Linked content and components](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446) for more details.\n\nWe recommend using this endpoint for warming up your app's cache (that is getting all content into the cache after the app starts) or for exporting the content of your project.\n\n<div class=\"callout callout--tip>\">\n\n**Get only the items you need**\n\nTo retrieve specific content items, use the filtering parameters in your requests. For example, you can request items tagged with a taxonomy term, items of a specific type, or items modified in the past three days.</div>\n\n","responses":{"200":{"$ref":"#/components/responses/n1a689c94_2fa9_01da_e955_6f3b17a97ebe"}},"tags":["Content items"],"summary":"Enumerate content items","x-codeSamples":[{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst client = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\n// Gets feed of all articles in the project\nconst response = await client.itemsFeed()\n  .type('article')\n  .toAllPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client; see https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets feed of all articles in the project \n// Tip: Create strongly typed models according to https://kontent.ai/learn/net-strong-types\nIDeliveryItemsFeed<Article> feed = client.GetItemsFeed<Article>(\n    new EqualsFilter(\"system.type\", \"article\")\n    );\n\nwhile (feed.HasMoreResults)\n{\n    IDeliveryItemsFeedResponse<Article> response = await feed.FetchNextBatchAsync();\n    foreach(Article article in response) {\n        // Do something with the content item, e.g. update cache\n        ProcessContentItem(article);\n    }\n}"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/items-feed?system.type=article' \\\n  --header 'content-type: application/json'"}],"parameters":[{"$ref":"#/components/parameters/language"},{"$ref":"#/components/parameters/elements"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"},{"$ref":"#/components/parameters/x_continuation"}]}},"/{project_id}/types/{type_codename}/elements/{element_codename}":{"get":{"operationId":"retrieve-a-content-element","description":"Retrieve a content element defined in a specific content type. Both must be specified by their codenames.","responses":{"200":{"$ref":"#/components/responses/cc356a6b_4819_017a_cd66_b9a475ffb6c8"},"404":{"$ref":"#/components/responses/n01f6c4b3_fc65_0183_869e_c2d681c6dd90"}},"tags":["Content elements"],"summary":"Retrieve a content element","x-codeSamples":[{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Gets the \"title\" content element from the \"article\" type using a simple request\nCompletionStage<Element> element = client.getContentTypeElement(\"article\", \"title\");"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.element('article', 'title')\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets the model of specific element within a specific content type\nDeliveryElementResponse response = await client.GetContentElementAsync(\"article\", \"title\");\nIContentElement element = response.Element;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$element = $client->getElement('article', 'title');"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/types/article/elements/title' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.element('article', 'title').execute do |response|\n  ele = response.element\nend"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient } from '@kentico/kontent-delivery';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.element('article', 'title')\n    .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/type_codename"},{"$ref":"#/components/parameters/element_codename"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}},"/{project_id}/types":{"get":{"operationId":"list-content-types","description":"Retrieve a paginated list of content types in your project. By default, the API returns all content types ordered alphabetically by codename. You can customize pagination by specifying both the `skip` and `limit` query parameters.","responses":{"200":{"$ref":"#/components/responses/fd944755_616c_0119_e7f3_2ea4992a8ce0"}},"tags":["Content types"],"summary":"List content types","x-codeSamples":[{"lang":"Swift","source":"// Tip: Find more about Swift SDK at https://kontent.ai/learn/ios\nimport KenticoKontentDelivery\n \nlet client = DeliveryClient.init(projectId: \"<YOUR_PROJECT_ID>\")\n \nclient.getContentTypes(limit: 3, completionHandler: { (isSuccess, contentTypesResponse, error) in\n    if !isSuccess {\n        fail( \"Response is not successful. Error: \\(String(describing: error))\" )\n    }\n     \n    if let response = contentTypesResponse {\n    // use content types here\n    }\n})"},{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Gets 3 content types\nCompletionStage<ContentTypesListingResponse> types = client.getTypes(\n    DeliveryParameterBuilder.params()\n        .page(null, 3)\n        .build()\n    );"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.types()\n  .limitParameter(3)\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets 3 content types\nIDeliveryTypeListingResponse response = await client.GetTypesAsync(\n    new LimitParameter(3)\n    );\n\nIList<IContentType> types = response.Types;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\nuse Kentico\\Kontent\\Delivery\\QueryParams;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$types = $client->getTypes((new QueryParams())\n            ->limit(3));"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/types?limit=3' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.types\n               .limit(3)\n               .execute do |response|\n                 types = response.types\n               end"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient } from '@kentico/kontent-delivery';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.types()\n  .limitParameter(3)\n  .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/elements"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/limit_8cd54e2"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}},"/{project_id}/types/{type_codename}":{"get":{"operationId":"retrieve-a-content-type","description":"Retrieve a specific content type.","responses":{"200":{"$ref":"#/components/responses/n1ea2894a_a72c_017e_d385_94389abd9406"},"404":{"$ref":"#/components/responses/n80b37bfd_c599_0122_8120_86e1683f1fa7"}},"tags":["Content types"],"summary":"Retrieve a content type","x-codeSamples":[{"lang":"Swift","source":"// Tip: Find more about Swift SDKs at https://kontent.ai/learn/ios\nimport KenticoKontentDelivery\n \nlet client = DeliveryClient.init(projectId: \"<YOUR_PROJECT_ID>\")\n \nclient.getContentType(name: \"article\", completionHandler: { (isSuccess, contentType, error) in\n    if !isSuccess {\n        fail( \"Response is not successful. Error: \\(String(describing: error))\" )\n    }\n     \n    if let type = contentType {\n    // use content type here\n    }\n})"},{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Gets a content type\nCompletionStage<ContentType> type = client.getType(\"article\");"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.type('article')\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets a specific content type\nIDeliveryTypeResponse response = await client.GetTypeAsync(\"article\");\nIContentType type = response.Type;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$type = $client->getType('article');"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/types/article' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.type('article').execute do |response|\n  type = response.type\nend"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient } from '@kentico/kontent-delivery';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.type('article')\n    .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/type_codename"},{"$ref":"#/components/parameters/elements"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}},"/{project_id}/languages":{"get":{"operationId":"list-languages","description":"Retrieve a list of active languages from your project. By default, the API returns all languages ordered alphabetically by codename.\n\n<div class=\"callout callout--tip>\">\n\n**Get only the languages you need**\n\nTo retrieve specific languages, use the filtering parameters in your requests. For example, you can request two specific languages (using the `[in]` filter) or all but one language (using the `[neq]` filter).</div>\n\n","responses":{"200":{"$ref":"#/components/responses/n375c7b1f_c0f8_0198_8631_370646046f3e"}},"tags":["Languages"],"summary":"List languages","x-codeSamples":[{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.languages()\n  .limitParameter(3)\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets 3 languages\nIDeliveryLanguageListingResponse response = await deliveryClient.GetLanguagesAsync(\n    new List<IQueryParameter>() {\n        new LimitParameter(3)\n    });\n\nIList<ILanguage> languages = response.Languages;"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/languages?limit=3' \\\n  --header 'content-type: application/json'"}],"parameters":[{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/limit_8cd54e2"},{"$ref":"#/components/parameters/order"}]}},"/{project_id}/taxonomies":{"get":{"operationId":"list-taxonomy-groups","description":"Retrieve a paginated list of taxonomy groups in your project. By default, the API returns all taxonomy groups ordered alphabetically by codename. You can customize pagination by specifying both the `skip` and `limit` query parameters.","responses":{"200":{"$ref":"#/components/responses/n8c366ba7_f32a_0149_88a3_959aec14b010"}},"tags":["Taxonomy groups"],"summary":"List taxonomy groups","x-codeSamples":[{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Gets 3 taxonomy groups\nCompletionStage<List<TaxonomyGroup>> taxonomies = client.getTaxonomyGroups(\n    DeliveryParameterBuilder.params()\n        .page(null, 3)\n        .build()\n    ).thenApply(taxonomyGroupListingResponse -> taxonomyGroupListingResponse.getTaxonomies());"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.taxonomies()\n  .limitParameter(3)\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets 3 taxonomy groups\nIDeliveryTaxonomyListingResponse response = await client.GetTaxonomiesAsync(\n    new LimitParameter(3)\n    );\n\nIList<ITaxonomyGroup> taxonomies = response.Taxonomies;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\nuse Kentico\\Kontent\\Delivery\\QueryParams;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$taxonomyGroups = $client->getTaxonomies((new QueryParams())\n            ->limit(3));"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/taxonomies?limit=3' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.taxonomies\n               .limit(3)\n               .execute do |response|\n                 groups = response.taxonomies\n               end"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient } from '@kentico/kontent-delivery';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.taxonomies()\n    .limitParameter(3)\n    .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/limit_8cd54e2"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}},"/{project_id}/taxonomies/{taxonomy_group_codename}":{"get":{"operationId":"retrieve-a-taxonomy-group","description":"Retrieve a specific taxonomy group specified by codename.","responses":{"200":{"$ref":"#/components/responses/aa05497b_b482_012a_0a83_b1dadc71927e"},"404":{"$ref":"#/components/responses/cbbfafa2_1ce3_0116_6ac7_d69a0268f4a9"}},"tags":["Taxonomy groups"],"summary":"Retrieve a taxonomy group","x-codeSamples":[{"lang":"Swift","source":"// Tip: Find more about Swift SDKs at https://kontent.ai/learn/ios\nimport KenticoKontentDelivery\n\nlet client = DeliveryClient.init(projectId: \"<YOUR_PROJECT_ID>\")\n\nclient.getTaxonomyGroup(taxonomyGroupName: \"personas\", completionHandler: { (isSuccess, deliveryItem, error) in\n   if isSuccess {\n       if let taxonomyGroup = deliveryItems.item {\n        // use your taxonomy group here\n       }\n    } else {\n         if let error = error {\n             print(error)\n         }\n    }\n})"},{"lang":"Java","source":"// Tip: Find more about Java SDK at https://kontent.ai/learn/java\nimport kentico.kontent.delivery.*;\n\n// Initializes a DeliveryClient\nDeliveryClient client = new DeliveryClient(\"<YOUR_PROJECT_ID>\");\n\n// Gets a specific taxonomy group\nCompletionStage<TaxonomyGroup> personas = client.getTaxonomyGroup(\"personas\");"},{"lang":"JavaScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nconst KontentDelivery = require('@kentico/kontent-delivery');\n\nconst deliveryClient = KontentDelivery.createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.taxonomy('personas')\n  .toPromise();"},{"lang":"C#","source":"// Tip: Find more about .NET SDKs at https://kontent.ai/learn/net\nusing Kentico.Kontent.Delivery;\n\n// Creates an instance of the delivery client\n// ProTip: Use DI for this in your apps https://kontent.ai/learn/net-register-client\nIDeliveryClient client = DeliveryClientBuilder\n      .WithProjectId(\"<YOUR_PROJECT_ID>\")\n      .Build();\n\n// Gets a specific taxonomy group\nIDeliveryTaxonomyResponse response = await client.GetTaxonomyAsync(\"personas\");\nITaxonomyGroup taxonomy = response.Taxonomy;"},{"lang":"PHP","source":"// Tip: Find more about PHP SDKs at https://kontent.ai/learn/php\n// Defined by Composer to include required libraries\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse Kentico\\Kontent\\Delivery\\DeliveryClient;\n\n$client = new DeliveryClient('<YOUR_PROJECT_ID>');\n\n$taxonomyGroup = $client->getTaxonomy('personas');"},{"lang":"cURL","source":"curl --request GET \\\n  --url 'https://deliver.kontent.ai/<YOUR_PROJECT_ID>/taxonomies/personas' \\\n  --header 'content-type: application/json'"},{"lang":"Ruby","source":"# Tip: Find more about Ruby SDKs at https://kontent.ai/learn/ruby\nrequire 'delivery-sdk-ruby'\n\ndelivery_client = Kentico::Kontent::Delivery::DeliveryClient.new project_id: '<YOUR_PROJECT_ID>'\ndelivery_client.taxonomy('personas').execute do |response|\n  group = response.taxonomy\nend"},{"lang":"TypeScript","source":"// Tip: Find more about JS/TS SDKs at https://kontent.ai/learn/javascript\nimport { createDeliveryClient } from '@kentico/kontent-delivery';\n\nconst deliveryClient = createDeliveryClient({\n  projectId: '<YOUR_PROJECT_ID>'\n});\n\nconst response = await deliveryClient.taxonomy('personas')\n    .toPromise();"}],"parameters":[{"$ref":"#/components/parameters/taxonomy_group_codename"},{"$ref":"#/components/parameters/x_kc_wait_for_loading_new_content"}]}}},"components":{"headers":{"x_request_charge_a9674e2":{"description":"Specifies the number of content items returned in the response. This number covers both the items that directly match the specified query and the linked items returned in the response's `modular_content` property.\n\nIf the `X-Request-Charge` value of your requests exceeds 1000, we recommend applying more specific [filters](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b6cf1d73-471a-4f1e-b0a9-f0e041e2d905) and checking if a lower value for the [`depth` parameter](#tag/Linked-content-and-components/linked-content-depth) works for you. Fewer items returned per response means shorter response times and better performance for your app.","schema":{"$ref":"#/components/schemas/positive_integer_schema"}}},"schemas":{"a1bd55e3_daa5_0161_d898_382ff00dd73c":{"title":"type","description":"The element's type.","examples":["taxonomy"],"type":["string"]},"a2d88210_a9e0_0120_ef52_faba4a5a6828":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/b3a7e5b4_eaf4_0180_b0cd_f41a04d782ce"}}},"a5baa42f_da12_01bc_2bed_b464d11409d8":{"type":["array","null"],"items":{"$ref":"#/components/schemas/plaintext_string"},"maxItems":10,"minItems":0},"a6be9b2b_718f_015a_fc50_f182e78f6884":{"title":"modular_content","description":"A dictionary of [components and linked items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446).\n\n**Note**: The items and components are not in any particular order.","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/content_item","x-additionalPropertiesName":"<ItemOrComponentCodename>"}},"aa45614f_0000_0147_60c6_c0c49fe5e04c":{"title":"codename","description":"The element's codename.","examples":["meta_keywords"],"type":["string"]},"aadc64ec_ae8f_0195_8172_8f12bb629bbd":{"title":"name","description":"The asset's name.","examples":["sources.jpg"],"type":["string"]},"ac5dca6f_981f_0152_efbb_1715faefdb5b":{"title":"codename","description":"The element's codename.","examples":["subpages"],"type":["string"]},"array_of_strings":{"title":"StringArray","type":["array"],"items":{"$ref":"#/components/schemas/plaintext_string"}},"asset_element":{"title":"AssetElement","allOf":[{"$ref":"#/components/schemas/asset_element_in_type_cd7976d"},{"$ref":"#/components/schemas/n57d19e20_3a0a_0133_b9e7_4e056b7d0cce"}]},"asset_element_in_item":{"title":"Asset element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n3e7a5998_03d4_01a6_0c3d_e15ffdf48e5d"},"name":{"$ref":"#/components/schemas/ed40e6a6_584a_0151_ae25_1c257d75e413"},"value":{"$ref":"#/components/schemas/n8a79a2ad_2122_01b1_4587_f83ac23192fd"}},"required":["type","name","value"]},"asset_element_in_type_cd7976d":{"title":"AssetInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n93512b8e_441c_0179_e9fa_6c84727e7975"},"name":{"$ref":"#/components/schemas/fc850598_e0b5_0129_0954_abff62ea859b"}},"required":["type","name"]},"b1528ffb_e3c5_0159_c830_6621bf89b95d":{"title":"modular_content","description":"The collection of related Content item objects (including component objects).","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/content_item","x-additionalPropertiesName":"<content_item_codename>"}},"b280b14e_5d59_01e2_8416_52e977179a5a":{"title":"codename","description":"The taxonomy term's codename.","examples":["technology"],"type":["string"]},"b3a7e5b4_eaf4_0180_b0cd_f41a04d782ce":{"title":"codename","description":"The element's codename.","examples":["category"],"type":["string"]},"b4ffa411_c84a_01a7_74a7_88930d2b3ce2":{"title":"options","description":"The list of multiple choice options available for the element. The order of the option objects in the array matches the order of the options in the UI.","examples":[[{"name":"True","codename":"true"},{"name":"False","codename":"false"}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n8f82c817_844a_0117_df93_1ec3f0ca68e3"}},"b50e2244_4be5_01a1_eaf4_5dd42d15b023":{"title":"value","description":"The element's value as an array of selected multiple choice options.\n\n<div class=\"callout callout--info>\">\n\n**Matching order**\n\nThe order of the objects in the array matches the order of the options in the UI.</div>\n\n","examples":[[{"name":"False","codename":"false"}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n9bc27c91_0ef7_01bc_01b4_c54c416eab97"}},"ba6f99fe_cc0e_0138_d74e_e59d03b4d208":{"type":["object"],"properties":{"types":{"$ref":"#/components/schemas/ca3f1a69_70d9_01b0_a0f7_cf911ebd9f1e"},"pagination":{"$ref":"#/components/schemas/n2bbb34d5_f580_0110_3d07_fd968869e5ab"}},"required":["types","pagination"]},"bb4ee480_f293_01e4_2145_95dcee8b3243":{"title":"id","description":"The language's ID.","examples":["00000000-0000-0000-0000-000000000000"],"type":["string"]},"bc7f8d04_85bf_017c_ba69_58d62649e51c":{"title":"codename","description":"The multiple choice option's codename.","examples":["my_option"],"type":["string"]},"be845896_f1ab_0137_599a_baaaa039edf6":{"title":"sitemap_locations","description":"A list of sitemap locations that the content item is in.","examples":[[]],"deprecated":true,"type":["array"],"items":{"$ref":"#/components/schemas/plaintext_string"}},"bfaae9dd_6dbd_013a_6b6a_0116cf955fda":{"title":"terms","description":"A list of taxonomy terms.","examples":[[{"name":"C#","codename":"c_","terms":[]},{"name":"JavaScript","codename":"javascript","terms":[]}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/taxonomy_term"}},"c3a6e8a6_c1cf_01a6_2ffa_912a5f9746dd":{"title":"message","description":"The error message explaining what caused the error.","examples":["The requested content item 'sample_item' was not found."],"type":["string"]},"c3c78da0_168c_015a_c970_bdca0c7d9291":{"title":"codename","description":"The multiple choice option's codename.","examples":["my_option"],"type":["string"],"maxLength":150,"minLength":1},"c48d826c_eee6_01c5_ab7f_a7a3e628b77b":{"title":"renditions","description":"The image's rendition. Contains query parameters that need to be concatenated with the original asset's URL to apply image customization.","type":["object"],"properties":{"default":{"$ref":"#/components/schemas/n20f097f8_3cab_01fd_3962_495671aa3e68"}}},"c59da3b9_ebe5_01a9_fa6a_408e97837d59":{"title":"codename","description":"The element's codename.","examples":["teaser_image"],"type":["string"]},"c7c5e258_9dc3_018e_92fe_4f2667d29dd3":{"title":"system","description":"The content item's system properties.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n043bc13c_c391_0116_9a26_ef73a36837e6"},"collection":{"$ref":"#/components/schemas/n42ba353d_3294_0138_d089_639a70903b1c"},"name":{"$ref":"#/components/schemas/f25ae55b_b32f_0108_75dd_110a63e8bbcd"},"codename":{"$ref":"#/components/schemas/n7bc5c917_c2b2_0181_211b_f6bcb157efe8"},"language":{"$ref":"#/components/schemas/ec13646a_1f2d_0144_0d58_2f0e7fa34819"},"type":{"$ref":"#/components/schemas/n04369c15_ba95_01da_37da_1af4b10cce5b"},"sitemap_locations":{"$ref":"#/components/schemas/be845896_f1ab_0137_599a_baaaa039edf6"},"last_modified":{"$ref":"#/components/schemas/n65511815_0234_0167_426d_936d42212e82"},"workflow_step":{"$ref":"#/components/schemas/n7f17c88d_5421_01ac_123d_ac9be6c3ef00"}},"required":["id","collection","name","codename","language","type","sitemap_locations","last_modified"]},"c81c4fd8_a708_01c5_244c_d9957330f3f4":{"title":"name","description":"The element's display name.","examples":["Author"],"type":["string"],"maxLength":50,"minLength":1},"c8f2564e_e1b1_01bf_bc85_4062ef272e85":{"title":"type","description":"The element's type.","examples":["text"],"type":["string"]},"c9f89168_a4c9_0182_4d89_373e4d9622e8":{"title":"system","description":"The content type's system properties.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n6ce5d58b_48ca_013f_e09a_ddb613926947"},"name":{"$ref":"#/components/schemas/n2cade906_1457_018e_7704_f42a707f3471"},"codename":{"$ref":"#/components/schemas/n08d30341_9167_0162_a788_351865251b8c"},"last_modified":{"$ref":"#/components/schemas/d5219c26_c891_01bb_7dc2_152875475f99"}},"required":["id","name","codename","last_modified"]},"ca3f1a69_70d9_01b0_a0f7_cf911ebd9f1e":{"title":"types","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/content_type"}},"cb27da8b_9fdd_0180_0a5b_9b49a752ae12":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"cb74580b_8209_0198_2278_1c12d04b86b0":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/aa45614f_0000_0147_60c6_c0c49fe5e04c"}}},"cd74b15d_e0d6_0119_adb0_ed717ea3ae3e":{"title":"type","description":"The element's type.","examples":["url_slug"],"type":["string"]},"cef9bf03_038c_0115_f64d_cf9da94081fa":{"title":"name","description":"The element's display name.","examples":["Markdown editor"],"type":["string"],"maxLength":50,"minLength":1},"content_item":{"title":"Content item","description":"The content item with metadata and individual elements.","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/c7c5e258_9dc3_018e_92fe_4f2667d29dd3"},"elements":{"$ref":"#/components/schemas/ec32f6e9_dce7_01e1_3f8b_e3030ecd640d"}},"required":["system","elements"]},"content_type":{"title":"ContentType","description":"A content type object.","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/c9f89168_a4c9_0182_4d89_373e4d9622e8"},"elements":{"$ref":"#/components/schemas/e7549085_1471_0157_8b36_056b3cd2eb0d"}},"required":["system","elements"]},"custom_element":{"title":"CustomElement","allOf":[{"$ref":"#/components/schemas/custom_element_in_type_7a536d1"},{"$ref":"#/components/schemas/n743d319a_5ba1_01fd_a166_2df075b6e410"}]},"custom_element_in_item":{"title":"Custom element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n61a36697_5c27_0181_8710_01a5f5cee441"},"name":{"$ref":"#/components/schemas/cef9bf03_038c_0115_f64d_cf9da94081fa"},"value":{"$ref":"#/components/schemas/n6ca1fb2e_a2ed_0150_42c2_5b87765221ac"}},"required":["type","name","value"]},"custom_element_in_type_7a536d1":{"title":"CustomElementInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n04375ccc_7420_01ce_c01c_217c511ee2bf"},"name":{"$ref":"#/components/schemas/n3824ef0e_0285_011c_9f0d_84d27ac95783"}},"required":["type","name"]},"d0243348_31dc_016a_3195_ce1450e56883":{"title":"preset_id","description":"The preset's ID.","examples":["a6d98cd5-8b2c-4e50-99c9-15192bce2490"],"type":["string"],"format":"uuid"},"d08ab1d6_d07e_0143_bca2_e39166bd8954":{"title":"name","description":"The taxonomy term's display name.","examples":["Technology"],"type":["string"]},"d0ebef8b_666a_0131_7d01_0c3e7a2e4388":{"title":"type","description":"The element's type.","examples":["rich_text"],"type":["string"]},"d36c0980_518d_0131_c827_7f981505b3f1":{"title":"languages","description":"Active languages available in the project.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/dapi_language"},"minItems":1},"d3aae50a_093d_01a8_ac85_79708b6fb958":{"title":"name","description":"The multiple choice option's display name.","examples":["My option"],"type":["string"],"maxLength":150,"minLength":1},"d4f8c6f6_251e_01a0_1931_ea41b5ceec1c":{"oneOf":[{"$ref":"#/components/schemas/asset_element_in_type_cd7976d"},{"$ref":"#/components/schemas/custom_element_in_type_7a536d1"},{"$ref":"#/components/schemas/date___time_element_in_type_b78b87a"},{"$ref":"#/components/schemas/linked_items_element_in_type_f2d0e9c"},{"$ref":"#/components/schemas/multiple_choice_element_in_type_5d5ba3e"},{"$ref":"#/components/schemas/number_element_in_type_13d6a7d"},{"$ref":"#/components/schemas/rich_text_element_in_type_d7659fb"},{"$ref":"#/components/schemas/subpages_element_in_type"},{"$ref":"#/components/schemas/taxonomy_element_in_type_43fac2c"},{"$ref":"#/components/schemas/text_element_in_type_b8df03f"},{"$ref":"#/components/schemas/url_slug_element_in_type_1e74188"}]},"d5219c26_c891_01bb_7dc2_152875475f99":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601 \"International standard covering the exchange of date- and time-related data\") formatted date-time of the last content type change.","examples":["2019-10-20T12:03:17.4685693Z"],"type":["string"],"format":"date-time"},"d6c39c64_67fb_017e_9b24_041bd94f2f43":{"type":["object"],"properties":{"items":{"$ref":"#/components/schemas/n0d284907_8625_01d4_8399_280cae2c654a"},"modular_content":{"$ref":"#/components/schemas/a6be9b2b_718f_015a_fc50_f182e78f6884"},"pagination":{"$ref":"#/components/schemas/n5a65f888_f7cd_01f1_2e94_2fab51616dfe"}},"required":["items","modular_content","pagination"]},"d87e10ca_90de_0164_0ba0_90f687cf223e":{"title":"name","description":"The element's display name.","examples":["Show image border"],"type":["string"],"maxLength":50,"minLength":1},"da34bfc2_84d6_01a9_cc2d_50f0562dc893":{"title":"value","description":"The linked pages as an array of item codenames.\n\n<div class=\"callout callout--info>\">\n\n**Matching order**\n\nThe order of the codenames in the array matches the order of the content items in the UI. The content of these items can be found in the `modular_content` property (where the items are not ordered) of the API response when getting content items.</div>\n\n \n\n  ","examples":[["about_us","contact"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/plaintext_string"}},"dapi_language":{"title":"Language","description":"A language in your project.","type":["object"],"properties":{"system":{"$ref":"#/components/schemas/n4b9c7e28_fb35_01dc_4815_518e66d0de87"}}},"date___time_element":{"title":"DateTimeElement","allOf":[{"$ref":"#/components/schemas/date___time_element_in_type_b78b87a"},{"$ref":"#/components/schemas/n7a877bd3_c829_017a_9faa_de7d9c5a7b67"}]},"date___time_element_in_item":{"title":"Date & time element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n241e343e_a8ad_019a_eb4b_ab2bbbb7d241"},"name":{"$ref":"#/components/schemas/n8477229e_f081_019b_4b23_00f955173b49"},"value":{"$ref":"#/components/schemas/n66efeb9b_e806_0131_366d_cbbd1bd01d0a"}},"required":["type","name","value"]},"date___time_element_in_type_b78b87a":{"title":"DateTimeInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n29779042_4f55_0169_230d_4160d23fbbc3"},"name":{"$ref":"#/components/schemas/e2ff7b35_07f3_01d5_1d7c_c2ac94111f0e"}},"required":["type","name"]},"dc29b58e_29fd_0127_5700_7a2d4e1579ed":{"title":"total_count","description":"The total number of objects matching the query.\n\nThe property is present only when [listing content items](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/4fafdf10-32c6-4020-a91a-cf1f835f8107) and using the `includeTotalCount` query parameter.","type":["integer"],"format":"int32"},"de4a0c0f_9658_01dd_d725_e1aa8c1887f1":{"title":"system","description":"The taxonomy group's system properties.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n6875a7c8_d385_0190_6870_de9eae5ee413"},"name":{"$ref":"#/components/schemas/n7dbe9794_2095_0135_f6f0_76fe3cb98759"},"codename":{"$ref":"#/components/schemas/n4b0a61fc_2534_01e8_83fd_2b705b65232e"},"last_modified":{"$ref":"#/components/schemas/n2d9fceeb_6d2b_01e2_e624_b1f15542a80a"}},"required":["id","name","codename","last_modified"]},"dfea85ce_c3f4_0102_5e55_16fdd782ee3f":{"title":"type","description":"The element's type.","examples":["taxonomy"],"type":["string"]},"e0f4064d_c4b1_01de_b7a7_8edd6b7685b8":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"e15b315a_0487_01a3_485e_6afb191f85a0":{"title":"codename","description":"The content item's codename.","examples":["my_article"],"type":["string"],"maxLength":60},"e1f2245b_bb1a_0181_3e44_fdef5c7a301e":{"type":["object"],"properties":{"languages":{"$ref":"#/components/schemas/d36c0980_518d_0131_c827_7f981505b3f1"},"pagination":{"$ref":"#/components/schemas/e27c7ce3_fcd3_011f_06fa_cb9e3c741061"}}},"e27c7ce3_fcd3_011f_06fa_cb9e3c741061":{"$ref":"#/components/schemas/pagination"},"e2ff7b35_07f3_01d5_1d7c_c2ac94111f0e":{"title":"name","description":"The element's display name.","examples":["Post date"],"type":["string"],"maxLength":50,"minLength":1},"e3a06b56_0d5a_011c_6248_f4ce2be29eaf":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"e443609c_b6bf_01e4_c22e_62d49bb01108":{"title":"next_page","description":"A URL to the next page of results.","examples":["https://deliver.kontent.ai/<project_id>/<resource>?limit=10&skip=30"],"type":["string"]},"e5d6559f_a8c0_014f_d978_5e36ab28c38c":{"title":"query","description":"Parameters set for the image rendition.","examples":["w=1280&h=1024&fit=clip&rect=2396,169,1280,1024"],"type":["string"]},"e6148168_d6e9_01f7_553a_b20a96a88e81":{"title":"width","description":"The image's width.","examples":[4000],"type":["integer"],"format":"int32"},"e7549085_1471_0157_8b36_056b3cd2eb0d":{"title":"elements","description":"A list of [elements](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea9768d1-bd2f-4027-bb5e-5cd9c85ea360) that define the content type.\n\n<div class=\"callout callout--info>\">\n\n**Order may not match the order in UI**\n\nThe order of the elements in the API response might not match their order in the UI.</div>\n\n","examples":[{"multiple_choice":{"type":"multiple_choice","name":"Multiple choices","options":[{"name":"True","codename":"true"},{"name":"False","codename":"false"}]},"text":{"type":"text","name":"Text element"},"taxonomy":{"type":"taxonomy","name":"Categories taxonomy","taxonomy_group":"categories"}}],"type":["object"],"additionalProperties":{"$ref":"#/components/schemas/d4f8c6f6_251e_01a0_1931_ea41b5ceec1c","x-additionalPropertiesName":"<element_codename>"}},"eaad895e_5b1b_0188_9990_fbcee35e199c":{"title":"type","description":"The element's type.","examples":["modular_content"],"type":["string"]},"eac95d5b_200d_01a9_fe8b_32c63bfdeb4e":{"title":"codename","description":"The element's codename.","examples":["markdown_editor"],"type":["string"]},"ec13646a_1f2d_0144_0d58_2f0e7fa34819":{"title":"language","description":"The codename of the language that the content is in.\n\nFor details on retrieving content in different languages, see [Getting localized content](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/bf83b286-9972-4e65-8db9-412ca17df944).","examples":["en-US"],"type":["string"]},"ec32f6e9_dce7_01e1_3f8b_e3030ecd640d":{"title":"elements","description":"The item's [elements](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea9768d1-bd2f-4027-bb5e-5cd9c85ea360) with values for the specific language.\n\n<div class=\"callout callout--info>\">\n\nThe order of the element objects might not match the content element order in the UI.</div>\n\n","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/n879e2b3d_abe6_0122_0c8c_c4cbff69e739","x-additionalPropertiesName":"<element_codename>"}},"ed40e6a6_584a_0151_ae25_1c257d75e413":{"title":"name","description":"The element's display name.","examples":["Teaser image"],"type":["string"],"maxLength":50,"minLength":1},"error_object":{"title":"Error","description":"Error response","type":["object"],"properties":{"message":{"$ref":"#/components/schemas/c3a6e8a6_c1cf_01a6_2ffa_912a5f9746dd"},"request_id":{"$ref":"#/components/schemas/n224049fb_905a_014e_2f99_70fb6e92b880"},"error_code":{"$ref":"#/components/schemas/n241fbd59_29cb_01eb_ff6f_a68beacb3469"},"specific_code":{"$ref":"#/components/schemas/n34796a2c_0bb2_01fb_90bd_34fea348e4ac"}},"required":["message","request_id","error_code","specific_code"]},"f25ae55b_b32f_0108_75dd_110a63e8bbcd":{"title":"name","description":"The content item's display name.","examples":["My article"],"type":["string"]},"f638f48f_c686_01e4_262e_1d478ca901c2":{"title":"limit","description":"The number of objects returned in the response. Reflects the value specified by the `limit` query parameter.","examples":[10],"type":["integer"],"format":"int32"},"fa3f9f3b_4834_0168_7ac7_52c9c2a16f97":{"title":"taxonomies","description":"A list of taxonomy groups.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/taxonomy_group"}},"fc3b733b_ab8e_018f_c3a9_17b43239d2fd":{"title":"url","description":"The asset's absolute URL.","examples":["https://assets-us-01.kc-usercontent.com/975bf280-fd91-488c-994c-2f04416e5ee3/3e76909f-599f-4742-b472-77fd4b510e92/sources.jpg"],"type":["string"]},"fc850598_e0b5_0129_0954_abff62ea859b":{"title":"name","description":"The element's display name.","examples":["Teaser image"],"type":["string"],"maxLength":50,"minLength":1},"ff42d3fe_938a_0195_ef84_cba27d460536":{"title":"skip","description":"The number of objects skipped from the response. Reflects the value specified by the `skip` query parameter.","examples":[20],"type":["integer"],"format":"int32","default":0},"general_boolean_schema":{"title":"Boolean","examples":["true"],"type":["boolean"]},"linked_items_element":{"title":"LinkedItemsElement","allOf":[{"$ref":"#/components/schemas/linked_items_element_in_type_f2d0e9c"},{"$ref":"#/components/schemas/n916a9c8b_c6b6_015e_28a9_20933caa6dc5"}]},"linked_items_element__copy_":{"title":"SubpagesElement","allOf":[{"$ref":"#/components/schemas/subpages_element_in_type"},{"$ref":"#/components/schemas/n1a40626b_9f2c_013a_a437_6d21f64607a3"}]},"linked_items_element_in_item":{"title":"Linked items element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/e0f4064d_c4b1_01de_b7a7_8edd6b7685b8"},"name":{"$ref":"#/components/schemas/c81c4fd8_a708_01c5_244c_d9957330f3f4"},"value":{"$ref":"#/components/schemas/n2c51ca3f_cac8_018e_b336_8c8fbdb710e9"}},"required":["type","name","value"]},"linked_items_element_in_type_f2d0e9c":{"title":"LinkedItemsInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/eaad895e_5b1b_0188_9990_fbcee35e199c"},"name":{"$ref":"#/components/schemas/n59445bba_eae6_018d_af4f_cc24942f7671"}},"required":["type","name"]},"multiple_choice_element_0681c99":{"title":"MultipleChoiceElement","allOf":[{"$ref":"#/components/schemas/multiple_choice_element_in_type_5d5ba3e"},{"$ref":"#/components/schemas/n9dc1705d_b67c_0141_cc0a_3b98bdf9d953"}]},"multiple_choice_element_in_item":{"title":"Multiple choice element in item","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n7cc3c609_1422_0184_3582_1da503a7e6fb"},"name":{"$ref":"#/components/schemas/n740b92c9_fed9_011f_f056_139f2fca619f"},"value":{"$ref":"#/components/schemas/b50e2244_4be5_01a1_eaf4_5dd42d15b023"}},"required":["type","name","value"]},"multiple_choice_element_in_type_5d5ba3e":{"title":"MultipleChoiceInType","type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n715a433b_8d0b_017b_bb7b_c8832a2251a5"},"name":{"$ref":"#/components/schemas/d87e10ca_90de_0164_0ba0_90f687cf223e"},"options":{"$ref":"#/components/schemas/b4ffa411_c84a_01a7_74a7_88930d2b3ce2"}},"required":["type","name","options"]},"n0097e3d1_c2f7_0177_25c8_f76d15e4fb1d":{"title":"width","description":"The rendition's width.","examples":[1280],"type":["integer"],"format":"int32"},"n04369c15_ba95_01da_37da_1af4b10cce5b":{"title":"type","description":"The codename of the item's type.","examples":["article"],"type":["string"]},"n04375ccc_7420_01ce_c01c_217c511ee2bf":{"title":"type","description":"The element's type.","examples":["custom"],"type":["string"]},"n043bc13c_c391_0116_9a26_ef73a36837e6":{"title":"id","description":"The content item's internal ID.","examples":["335d17ac-b6ba-4c6a-ae31-23c1193215cb"],"type":["string"],"format":"uuid"},"n05eaa583_bd38_0159_ad2b_53425d57ad98":{"title":"description","description":"The image's description in a specific language. Used for the alt attribute of an `<img>` tag.","examples":["Person sitting on a wooden pier"],"type":["string"]},"n065ea668_cae4_01fc_2f3d_4a66e1bfb0d9":{"title":"type","description":"The element's type.","examples":["rich_text"],"type":["string"]},"n06b90564_4e88_01e3_2fc2_50f71081a087":{"title":"type","description":"The element's type.","examples":["url_slug"],"type":["string"]},"n08d30341_9167_0162_a788_351865251b8c":{"title":"codename","description":"Codename of the content type, generated from the content types's {~name~}.","examples":["article"],"type":["string"]},"n098f54df_e5f7_017f_b44e_35f1f742596f":{"title":"height","description":"The rendition's height.","examples":[1024],"type":["integer"],"format":"int32"},"n0b805ade_a7dc_01f3_8cf1_cbd3c3b70de9":{"title":"Customized element","allOf":[{"$ref":"#/components/schemas/custom_element_in_item"},{"$ref":"#/components/schemas/n37ade534_b742_01d8_d377_b6235fe0f8eb"}]},"n0bba49d1_f7fe_019e_63e3_d0dd5c5d255d":{"title":"type","description":"The file's [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics%5Fof%5FHTTP/MIME%5Ftypes).","examples":["image/jpeg"],"type":["string"]},"n0d284907_8625_01d4_8399_280cae2c654a":{"title":"items","description":"A list of content items.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/content_item"}},"n1a40626b_9f2c_013a_a437_6d21f64607a3":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/ac5dca6f_981f_0152_efbb_1715faefdb5b"}}},"n1be64df0_283b_01ca_73d3_5da784260d4a":{"type":["object"],"properties":{"codename":{"$ref":"#/components/schemas/n5b85f40a_85a6_01ca_5b52_68aba48b7feb"}}},"n20f097f8_3cab_01fd_3962_495671aa3e68":{"$ref":"#/components/schemas/untitled_content_item_4b71df4"},"n224049fb_905a_014e_2f99_70fb6e92b880":{"title":"request_id","description":"The performed request's unique ID.","examples":["|657e8eba55d8bf4a9a5ad9074038cd2e.813e828d_"],"type":["string","null"]},"n241e343e_a8ad_019a_eb4b_ab2bbbb7d241":{"title":"type","description":"The element's type.","examples":["date_time"],"type":["string"]},"n241fbd59_29cb_01eb_ff6f_a68beacb3469":{"title":"error_code","description":"The specific internal code for the type of error. Only useful for finding patterns among error requests.","examples":[100],"type":["integer"],"format":"int32","minimum":1,"maximum":500},"n27b7c78c_edd8_0105_4ef6_e7d8a2f3d201":{"title":"name","description":"The element's display name.","examples":["Categories"],"type":["string"],"maxLength":50,"minLength":1},"n287b3f81_4e93_01ef_8f64_15243db8b680":{"title":"type","description":"The element's type.","examples":["number"],"type":["string"]},"n29779042_4f55_0169_230d_4160d23fbbc3":{"title":"type","description":"The element's type.","examples":["date_time"],"type":["string"]},"n299aa40d_79a2_01b8_c5ef_7887bd6d2c0a":{"title":"modular_content","description":"Contains codenames of the [components and content items](#section/Rich-text-element/modular-content-components-and-items-in-rich-text) (not their contents) inserted into the rich text element.\n\nTo get the contents of the inserted components and items, see how to [retrieve linked content](#tag/Linked-content-and-components/retrieve-linked-content).\n\n<div class=\"callout callout--info>\">\n\n**Two distinct** `modular_content` **properties**\n\nIn the `modular_content` object property of the Delivery API response, you can find the contents of the linked content items and content components.\n\nIn the rich text element's [modular_content array property](#section/Rich-text-element/modular-content-components-and-items-in-rich-text), you can find the codenames of the inserted content items and content components.\n\nThe codenames in the rich text's `modular_content` array are grouped and ordered. First comes a group of item codenames followed by a group of component codenames. The order of codenames in each group matches that in the UI.</div>\n\n","examples":[["content_item_codename","n26275539_7e71_01ce_ee08_e55340bb9ea6"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/plaintext_string"}},"n2ab6aa7b_e634_01fd_5c02_0834677f898b":{"title":"name","description":"The element's display name.","examples":["Days since last accident"],"type":["string"],"maxLength":50,"minLength":1},"n2afde4b9_b613_019b_a4fc_6b1b91d161cb":{"title":"name","description":"The multiple choice option's display name.","examples":["My option"],"type":["string"],"maxLength":150,"minLength":1},"n2bbb34d5_f580_0110_3d07_fd968869e5ab":{"$ref":"#/components/schemas/pagination"},"n2c51ca3f_cac8_018e_b336_8c8fbdb710e9":{"title":"value","description":"The linked content items as an array of item codenames.\n\n<div class=\"callout callout--info>\">\n\n**Matching order**\n\nThe order of the codenames in the array matches the order of the content items in the UI. The content of these items can be found in the `modular_content` property (where the items are not ordered) of the API response when getting content items.</div>\n\n \n\n  ","examples":[["author_item_codename"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/plaintext_string"}},"n2cade906_1457_018e_7704_f42a707f3471":{"title":"name","description":"Display name of the content type.","examples":["Article"],"type":["string"]},"n2d9fceeb_6d2b_01e2_e624_b1f15542a80a":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601 \"International standard covering the exchange of date- and time-related data\") formatted date-time of the last change to the taxonomy group.","examples":["2019-08-31T09:41:06.520241Z"],"type":["string"],"format":"date-time"},"n2e7882fc_650e_0126_3f09_cdbdac5f9d1a":{"title":"Asset","type":["object"],"properties":{"name":{"$ref":"#/components/schemas/aadc64ec_ae8f_0195_8172_8f12bb629bbd"},"type":{"$ref":"#/components/schemas/n0bba49d1_f7fe_019e_63e3_d0dd5c5d255d"},"size":{"$ref":"#/components/schemas/n7f51a0a5_20aa_0156_b0c0_7c71fd68c0ff"},"description":{"$ref":"#/components/schemas/n3a3f3c37_ae28_01f5_e0a1_3e50b0bd6939"},"url":{"$ref":"#/components/schemas/fc3b733b_ab8e_018f_c3a9_17b43239d2fd"},"width":{"$ref":"#/components/schemas/n92ef070f_a98a_0171_52eb_b644664978be"},"height":{"$ref":"#/components/schemas/n3c1b7401_a647_0125_17d8_c45daf22c2ae"},"renditions":{"$ref":"#/components/schemas/c48d826c_eee6_01c5_ab7f_a7a3e628b77b"}},"required":["name","type","size","description","url","width","height","renditions"]},"n302c0f4e_5fa3_018f_2fdf_ec29cce4abba":{"oneOf":[{"$ref":"#/components/schemas/asset_element"},{"$ref":"#/components/schemas/custom_element"},{"$ref":"#/components/schemas/date___time_element"},{"$ref":"#/components/schemas/linked_items_element"},{"$ref":"#/components/schemas/multiple_choice_element_0681c99"},{"$ref":"#/components/schemas/number_element"},{"$ref":"#/components/schemas/linked_items_element__copy_"},{"$ref":"#/components/schemas/taxonomy_element"},{"$ref":"#/components/schemas/text_element"},{"$ref":"#/components/schemas/rich_text_element"},{"$ref":"#/components/schemas/url_slug_element"}]},"n30dbe39f_005e_0101_f779_699e2aa4288c":{"title":"value","description":"The element's value.","examples":[7],"type":["number","null"],"format":"float"},"n34796a2c_0bb2_01fb_90bd_34fea348e4ac":{"title":"specific_code","description":"Only useful for finding reasons behind failed requests in specific cases.","examples":[0],"type":["integer"],"format":"int32"},"n34c86c6a_8adc_01bc_a366_3840459bbfa2":{"title":"modular_content","description":"A list of components used in rich text elements. See [Linked content and components](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/286dbb0e-f673-494f-abfd-3f39c7ec3446) for more details.","type":["object"],"additionalProperties":{"$ref":"#/components/schemas/content_item","x-additionalPropertiesName":"<ComponentCodename>"}},"n36ab94d7_3cb5_010e_a7fe_43743319efdc":{"title":"codename","description":"The element's codename.","examples":["url"],"type":["string"]},"n37ade534_b742_01d8_d377_b6235fe0f8eb":{"type":["object"],"required":["custom"]},"n38154458_e7a6_019b_1911_958dfe247f65":{"type":["object"],"properties":{"taxonomies":{"$ref":"#/components/schemas/fa3f9f3b_4834_0168_7ac7_52c9c2a16f97"},"pagination":{"$ref":"#/components/schemas/n82f83bd3_a0db_01ff_35ca_e7fb81376d5d"}},"required":["taxonomies","pagination"]},"n3824ef0e_0285_011c_9f0d_84d27ac95783":{"title":"name","description":"The element's display name.","examples":["Markdown editor"],"type":["string"],"maxLength":50,"minLength":1},"n39094503_f44f_01c9_7400_7fec1ba3584f":{"title":"name","description":"The element's display name.","examples":["Subpages"],"type":["string"],"maxLength":50,"minLength":1},"n3a3f3c37_ae28_01f5_e0a1_3e50b0bd6939":{"title":"description","description":"The asset's description for a specific language.","examples":["Description of what the asset represents."],"type":["string","null"]},"n3c1b7401_a647_0125_17d8_c45daf22c2ae":{"title":"height","description":"The image's height in pixels. Is `null` if the file is not an image.","examples":[457],"type":["inte
[...]
