{"openapi":"3.1.0","info":{"title":"Management API v2","version":"2","termsOfService":"https://kontent.ai/terms-of-service/","contact":{"name":"Kontent.ai Support","email":"support@kontent.ai"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"description":"# Introduction\n\nThe Management API is a secure REST API that provides read and write access to your Kontent.ai projects and subscriptions.\n\nUse the Management API v2 to manage the content, content model, and configuration of your project. Subscription admins on Enterprise plans with a [Subscription API key](#section/Authentication) can also use the Management API to manage users, roles, and projects under a subscription.\n\nThe base URL for all requests to the Management API is `https://manage.kontent.ai/v2`.\n\nAll requests to the API must be made securely with HTTPS with [TLS 1.2](https://github.com/Kentico/delivery-sdk-net/wiki/Fixing-error:-Could-not-create-SSL-TLS-secure-channel \"A note on TLS 1.1 deprecation\") and [authenticated](#section/Authentication) with a valid API key. Requests to the API are [rate limited](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/ea35e9bf-711d-4f2f-9da7-af79c825d55f) and uncached.\n\n```curl\ncurl --request GET \n  --url https://manage.kontent.ai/v2/projects/<YOUR_PROJECT_ID>/items \n  --header 'Authorization: Bearer <YOUR_API_KEY>' \n  --header 'x-continuation: <continuation_token>' \n  --header 'Content-type: application/json'\n```\n <div class=\"callout callout--info>\">\n\n**Need content filtering?**\n\nIf you need to filter content and deliver it to your apps, we recommend using the Delivery REST API or Delivery GraphQL API.</div>\n\n \n\n# Authentication\n\nTo work with the Management API, send your requests over HTTPS and authenticate using the `Authorization` header in the following format: `Authorization: Bearer <YOUR_API_KEY>`.\n\n## API keys\n\nTo get your API key for the Management API, go to [Kontent.ai](https://app.kontent.ai/) > Project settings > API keys. The Management API accepts two kinds of API keys, Management API key and Subscription API key.\n\n* Subscription API key  \n   * Limited to [subscription admins](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/cf01b0d0-6f59-4710-8bc5-de56a9f86070).  \n   * Provides access to the projects and subscriptions the admin has access to.  \n   * Can be used with all Management API endpoints.\n* Management API key  \n   * Limited to users with the [Manage APIs permission](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/1470ff99-76cc-4071-ae9b-8ae363ee5dd5).  \n   * Provides access to a single Kontent.ai project. You will need a different Management API key for each of your projects.  \n   * Can be used with Management API endpoints that get or modify objects in a single project."},"servers":[{"url":"https://manage.kontent.ai/v2","description":"Management API v2"}],"x-tagGroups":[],"tags":[],"paths":{},"components":{"headers":{},"schemas":{"a0915b97_a0c4_018c_1f8a_3e1fe3860752":{"title":"external_id","description":"[External ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) of the language. Only present if defined when creating the language.","type":["string"]},"a0c69aac_2c3b_01b0_14cf_1deba53271df":{"title":"archived_step","description":"The workflow's predefined Archived workflow step.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n41f211e3_b788_012d_4af6_0034519d18c4"},"name":{"$ref":"#/components/schemas/be65f80f_1066_0105_1963_5ef0339789c8"},"codename":{"$ref":"#/components/schemas/n1c9c10a7_b61e_01d7_5f43_25a2f3362b73"},"role_ids":{"$ref":"#/components/schemas/a7ae4547_3914_018a_d0a5_14d7abc45509"}}},"a11ddef2_073f_010c_1749_9765f8935df6":{"title":"codename","description":"The content type snippet's codename. Unless set while [creating the content type snippet](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/eed2653e-fdff-4d30-89ea-0815929f09be), it is [initially generated](#tag/References/rules-for-codenames) from the snippet's `name` and can later be [modified](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/42d0ac5b-7a4e-45f3-b681-a1ca12b54574).","examples":["my_metadata"],"type":["string"],"maxLength":50,"minLength":1},"a1fba069_c011_019d_cc94_8233efa0c75e":{"$ref":"#/components/schemas/reference"},"a358c850_af08_0180_e593_e1235a7eb2e9":{"title":"type","description":"The element's type.","examples":["date_time"],"type":["string"]},"a3cd4d22_b9be_0199_9f18_8abd4a652624":{"title":"line","type":["integer"]},"a3d6b5ce_e65a_0108_757b_b1106fa46787":{"title":"archived_step","description":"The workflow's predefined Archived workflow step.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/edc10e21_2dfe_01ca_8c31_78e19aaed5db"},"name":{"$ref":"#/components/schemas/n38cea789_bcc7_0130_1302_d8ebd2e20398"},"codename":{"$ref":"#/components/schemas/n2bdb965c_8055_014d_764b_2eb6c1b38135"},"role_ids":{"$ref":"#/components/schemas/a5241d37_1549_0156_27d7_9f259d30d88b"}}},"a4243bfd_1957_012d_004f_6f036356e880":{"title":"name","description":"The language's name.","examples":["Default language"],"type":["string"]},"a446891a_f6c3_0127_8f5c_2d3ec7579ed7":{"title":"id","description":"The new environment's internal ID.","examples":["71386f85-cddb-4cb0-aa54-988566feb9a1"],"type":["string"]},"a505f1b7_060d_01e4_b986_bba4ff59633c":{"title":"external_id","description":"The element's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["business-personas"],"type":["string"]},"a5241d37_1549_0156_27d7_9f259d30d88b":{"title":"role_ids","description":"The internal IDs of the [roles](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/3b13de38-2c04-4315-a999-3abd4e2c79b7) that can restore archived content items using this workflow. If empty, all roles can restore archived content items.","type":["array"],"items":{"$ref":"#/components/schemas/a9a336f3_c06a_0147_ce67_c8c118b75e94"},"minItems":1},"a5443d5b_1d9d_0183_ac26_0693e7fe0439":{"title":"collection_groups","description":"Specifies the permissions the user has in the project based on the user's [role](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/3b13de38-2c04-4315-a999-3abd4e2c79b7) and access to specific [collections](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/672a109a-bf6c-4498-a244-1b9263682e09) and [languages](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/03e58bf4-6af1-456c-ad56-ec0a94b07007).\n\nYou can assign the user specific roles in different collections. At least one collection group must be specified.","type":["array"],"items":{"$ref":"#/components/schemas/untitled_content_item_f840600"},"minItems":1},"a5e8fb68_038a_0111_225b_201408613d14":{"title":"value","description":"The value of taxonomy elements is an array of [Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) objects. Each reference represents a taxonomy term of a specific taxonomy group. Every taxonomy term can be referenced only once.\n\nWhen retrieving taxonomy elements, the Management API will always reference taxonomy terms with their internal IDs. When updating taxonomy elements via the API, you can reference a taxonomy term by its internal ID, external ID, or codename.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/reference"}},"a5f8e2d5_472f_01db_9a95_d95cd3088af4":{"title":"is_required","description":"Determines whether the element must be filled in.","examples":["true"],"type":["boolean"]},"a6057ab5_b369_01ec_b128_a266b29e0999":{"title":"external_id","description":"The content type snippet's external ID. Only present if defined when [adding the snippet](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/eed2653e-fdff-4d30-89ea-0815929f09be).","examples":["my-valuable-metadata"],"type":["string"]},"a61b5778_6f2e_016f_0992_cfed849acc6f":{"title":"image_height_limit","description":"Specifies the height limitation for the asset.","examples":["null"],"allOf":[{"$ref":"#/components/schemas/count_limitation"}]},"a65bb352_6109_0115_1291_c9e3702ce072":{"title":"value","description":"The element's value.\n\n* When upserting the element with the `mode` set to `autogenerated`, the `value` is ignored and can be omitted.\n* If the value is upserted, the element's mode changes to `custom` automatically.\n<div class=\"callout callout--info>\">\n\n**Automatic vs. manual mode**\n\nThe URL slug element can function in two modes, automatic and manual. When creating language variants in automatic mode, the system automatically generates the element's value based on the text element of your choice.\n\nIf you modify the element's value directly (either in UI or via API), the element switches to the manual mode. In this mode, the element does not react to changes made to the dependent text element. Learn about creating SEO-friendly URLs in your projects.</div>\n\n","examples":["user-and-seo-friendly-url-slug"],"type":["string"]},"a698aafe_0c99_01de_07cc_2255f74dac82":{"title":"guidelines","description":"The element's guidelines, providing instructions on what to fill in.","examples":["Keep them light and fun."],"type":["string","null"]},"a6dbb841_c16e_01b2_6956_47b55aff4cd8":{"title":"variants","description":"A list of language variants.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/language_variant"}},"a727137f_4c4d_019b_88eb_9a3ddd60d30d":{"$ref":"#/components/schemas/length_limitation"},"a79608e3_841e_019d_b542_e5e5e19d3f77":{"title":"last_modified","description":"The [ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date and time of the last change to the content item.\n\n<div class=\"callout callout--info>\">\n\nMoving content items through workflow doesn't affect the `last_modified` value.</div>\n\n","examples":["2019-04-04T13:45:30.7692802Z"],"readOnly":true,"type":["string"],"format":"date-time"},"a7ae4547_3914_018a_d0a5_14d7abc45509":{"title":"role_ids","description":"The internal IDs of the [roles](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/3b13de38-2c04-4315-a999-3abd4e2c79b7) that can restore archived content items using this workflow. If empty, all roles can restore archived content items.","type":["array"],"items":{"$ref":"#/components/schemas/ead7d7d5_a203_0126_999e_68d8336ab034"},"minItems":1},"a879abf8_7097_01c3_08f1_193dd87401ad":{"title":"property_name","description":"Specifies the property of the taxonomy group or term that you want to replace.\n\nThe value of {~property_name~} can be one of the following:\n\n* Use {~codename~} to change the codename of the group or terms.\n* Use {~name~} to change the name of the group or terms.\n* Use {~terms~} to change the descendant taxonomy terms of the group of term.","type":["string"]},"a885c49a_9eba_01a7_3fa1_64b546d86a3f":{"title":"path","description":"A string identifying the property that should be replaced. The exact path depends on what you are trying to replace. If you need to add a property to an object, specify a `{path_reference}` for that object.\n\n* To change the content type's name, set `path` to: `/name`.\n* To change the content type's codename, set `path` to: `/codename`.\n* To change the name of a content group, set `path` to: `/content_groups/{path_reference}/name`.\n* To change a given property of an element, set `path` to: `/elements/{path_reference}/{property_name}`, where the available values for `{property_name}` will depend on the specific element you are referencing.\n* To change a property of a multiple choice option, set `path` to: `/elements/{path_reference}/options/{path_reference}/{property_name}`, where the first `{path_reference}` is to the multiple choice element, the second `{path_reference}` is to the option you want to modify, and the `{property_name}` value will be either `name` or `codename`. See [multiple choice element structure](#section/Multiple-choice-element-in-type) for details.\n\nFor all elements (including multiple choice options), you can specify the properties to be modified based on the [element type](#tag/Elements-in-content-types). You cannot modify the `external_id`, `id`, or `type` of the elements. It is also not possible to replace individual values for an object (such as the value of a limitation object) – you need to replace the entire object at once. You also cannot replace the allowed blocks for rich text elements; you need to add or remove the blocks one by one.","examples":["/elements/codename:my_text_element/name"],"writeOnly":true,"type":["string"]},"a8b0965a_305a_011e_00c5_e5b66a61e2b0":{"title":"codename","description":"The element's codename. Unless specified, [initially generated](#tag/References/rules-for-codenames) from the element's `name`.","examples":["color_picker"],"type":["string"],"maxLength":60,"minLength":1},"a98ca688_466d_0100_ae5b_a9682c1ed13c":{"title":"id","description":"The folder's internal ID.","readOnly":true,"type":["string"]},"a9a336f3_c06a_0147_ce67_c8c118b75e94":{"examples":["d761b25c-f7cf-4977-9c45-3c92d6562233"],"type":["string"],"format":"uuid"},"a9a71576_d9ff_015f_c112_066db949c318":{"type":["object"],"properties":{"projects":{"$ref":"#/components/schemas/ba699643_da0b_01de_91a6_d94ee7b1e54d"},"pagination":{"$ref":"#/components/schemas/n347086a5_d7c3_0184_1dbf_ae83da453e48"}},"required":["projects"]},"aa16ab97_b3b0_01a6_fd89_ad6361f6a79f":{"title":"is_user_active","description":"A flag determining whether the user is active in this environment.","examples":["true"],"type":["boolean"]},"aa98028f_b89e_0153_659c_ba5bdbb18a8c":{"title":"allowed_table_formatting","description":"Specifies which text formatting is allowed inside tables in your rich text element. To allow all formatting, leave the array empty. To allow only plaintext, use `[\"unstyled\"]`.\n\n<div class=\"callout callout--info>\">\n\nThe `unstyled` value must precede any other values in the list.</div>\n\n","examples":[["unstyled","bold","italic"]],"type":["array","null"],"items":{"$ref":"#/components/schemas/f70217bd_4365_0189_1d65_2ebc74cad3a7"}},"ab5d5881_53bc_019e_c442_8ccc82e7de1d":{"title":"codename","description":"The element's codename. Unless specified, [initially generated](#tag/References/rules-for-codenames) from the element's `name`.","examples":["number"],"type":["string"],"maxLength":60,"minLength":1},"ac1be9d6_cf44_01ee_2894_5dd5e02fb6db":{"title":"item","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content item.","examples":["{\n  \"id\": \"82ef61f4-ccee-42ac-95e2-1a44beda9625\"\n}"],"readOnly":true,"allOf":[{"$ref":"#/components/schemas/reference"}]},"ac9d7154_977d_0175_4cc5_2bd5faa5a839":{"title":"external_id","description":"The taxonomy group's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).\n\n<div class=\"callout callout--info>\">\n\nOnly present if specified when creating the taxonomy group via API.</div>\n\n","examples":["my-little-taxopony"],"type":["string"]},"acaa301d_2260_01a2_8a55_e68454db0095":{"title":"scheduled_to","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date-time for scheduled unpublishing.\n\nIf omitted, the specified variant is unpublished immediately.","examples":["2019-01-31T11:00:00+01:00"],"type":["string"],"format":"date-time"},"ad441f97_b5d3_019d_4c2a_4a53f7691353":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","examples":["{\n   \"id\": \"67faca73-bfd3-4600-b6c4-9cc91cc8d85f\"\n}"],"allOf":[{"$ref":"#/components/schemas/reference"}]},"ad77dfd7_a52b_01de_d675_7b82c8af5d59":{"title":"is_required","description":"Determines whether the element must be filled in.","examples":["true"],"type":["boolean"]},"addinto_operation_for_collections":{"title":"CollectionOperationAddInto","description":"To add new collections.","examples":[{"op":"addinto","value":{"external_id":"another-collection","name":"Another important collection","codename":"another_collection"},"after":{"external_id":"second-collection"}}],"type":["object"],"properties":{"op":{"$ref":"#/components/schemas/dfd6b71b_0ce9_0121_e7a4_f6e710353f29"},"value":{"$ref":"#/components/schemas/n3321cee8_415f_01f0_6595_17d365312542"},"after":{"$ref":"#/components/schemas/b98c91c9_7d01_01e5_1183_9c30c57716db"},"before":{"$ref":"#/components/schemas/n28d722cb_d950_0181_730b_c18ad83d4d28"}},"required":["op","value"]},"addinto_operation_for_folders":{"title":"FolderOperationAddInto","description":"To add new folders.","examples":[{"op":"addinto","value":{"external_id":"another-folder","name":"Another second level folder","folders":[]},"reference":{"external_id":"top-folder"},"after":{"external_id":"second-folder"}}],"type":["object"],"properties":{"op":{"$ref":"#/components/schemas/n2a9762d4_293d_0170_a1de_425cef37507a"},"reference":{"$ref":"#/components/schemas/n0533747e_339e_012f_f76c_40aff493019a"},"value":{"$ref":"#/components/schemas/ebc8afd0_e4dd_0137_f7b5_879e74af3421"},"after":{"$ref":"#/components/schemas/n9162009b_42f5_01e5_4448_d2deb6108da1"},"before":{"$ref":"#/components/schemas/n17331c5a_f7ae_014f_c50b_c450b80fd24e"}},"required":["op","value"]},"ae68bca9_8af4_01a6_95d7_42861f1656f8":{"type":["object"],"properties":{"roles":{"$ref":"#/components/schemas/b182d889_5d5a_0186_3989_d8d83f022daf"}},"required":["roles"]},"af2fcf45_fc61_016f_e8cd_e151d9e728c3":{"title":"name","description":"The workflow's display name.","examples":["My workflow"],"type":["string"],"maxLength":200,"minLength":1},"af557147_79d4_0140_d78f_bc49c7b28906":{"title":"custom_width","description":"The output image's width in pixels. Must be smaller than `width`.\n\nUse `custom_width` if you want to resize the rectangle region selected via `x`, `y`, `width`, and `height`. That is to keep the contents of the selected rectangle region but make the output image smaller.","examples":[250],"type":["integer"],"format":"int32","minimum":0},"af6945c7_a554_0102_6f30_8ea74406a5a4":{"title":"op","description":"Specifies the operation to perform.\n\n* `addInto` to add new folders\n* `remove` to delete folders\n* `rename` to rename folders","examples":["remove"],"type":["string"]},"array_of_strings":{"title":"StringArray","type":["array"],"items":{"$ref":"#/components/schemas/plaintext_string"}},"asset":{"title":"Asset","description":"A single asset object.","type":["object"],"properties":{"descriptions":{"$ref":"#/components/schemas/n6b2f57e4_6ec4_011c_7262_e18fb30df11b"},"elements":{"$ref":"#/components/schemas/n9871e007_e873_01eb_84c1_cc08d659cba3"},"external_id":{"$ref":"#/components/schemas/n44135834_be87_01d0_c20f_1416ccec96d8"},"file_name":{"$ref":"#/components/schemas/n2a7ef1ba_541b_01b4_fe8c_1680cc2204a5"},"file_reference":{"$ref":"#/components/schemas/b2782670_3c0c_0172_3116_cdcd136d340a"},"folder":{"$ref":"#/components/schemas/db88862b_a974_01a8_ff99_49e322faff52"},"id":{"$ref":"#/components/schemas/f80deff0_25e0_01ac_c65a_f9498d9ce78a"},"image_height":{"$ref":"#/components/schemas/n6733cc99_e36a_0148_0b37_077304e8c7f5"},"image_width":{"$ref":"#/components/schemas/n7485553f_f31a_010d_38cc_dc2a6c4359c5"},"last_modified":{"$ref":"#/components/schemas/f30fc9ca_25d0_018b_ae27_5ad467bef6f8"},"size":{"$ref":"#/components/schemas/n4c517b7e_3b59_01f3_1d21_1d6d6f5bddf2"},"title":{"$ref":"#/components/schemas/n81e1d9d7_0c93_01a3_7890_789e9afb8093"},"type":{"$ref":"#/components/schemas/n83f3ea6c_4da4_0139_f9fc_3469fd77a1e2"},"url":{"$ref":"#/components/schemas/f658ac32_7ade_0131_50c9_57bd5998ba7a"}},"required":["file_reference"]},"asset_description":{"title":"Asset description","description":"An asset description defines a description of an asset for a single [language](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/03e58bf4-6af1-456c-ad56-ec0a94b07007).","type":["object"],"properties":{"language":{"$ref":"#/components/schemas/n69d76ee2_1d45_01a6_5ec9_1f9cfa7467ee"},"description":{"$ref":"#/components/schemas/n7a4088c7_c458_01b5_e1de_9a700527ebc5"}},"required":["language","description"]},"asset_element_in_type":{"title":"Asset element in type","type":["object"],"properties":{"name":{"$ref":"#/components/schemas/n9cedebfc_d468_010d_a573_028db9357e1d"},"type":{"$ref":"#/components/schemas/n0f883638_2220_018a_7a45_e70689697622"},"id":{"$ref":"#/components/schemas/ffbd3d92_c298_0168_dcc7_caceefcc4bb9"},"codename":{"$ref":"#/components/schemas/n39b02d04_08a4_014a_8d6a_a5685935ada8"},"external_id":{"$ref":"#/components/schemas/n01ab0263_324d_0140_3d42_9a6ec62b93b0"},"guidelines":{"$ref":"#/components/schemas/n2428ce36_a561_013c_5b3d_ccf5f8359842"},"asset_count_limit":{"$ref":"#/components/schemas/n6bc456f1_1676_01aa_8297_f2c08dbbe0b9"},"maximum_file_size":{"$ref":"#/components/schemas/e8e06660_9e51_0143_2fec_011d9061db86"},"allowed_file_types":{"$ref":"#/components/schemas/n0e07b21a_c5ba_0115_f270_f0eeef592cc3"},"image_width_limit":{"$ref":"#/components/schemas/n93f28d96_32c8_017b_09a1_138e17cd49db"},"image_height_limit":{"$ref":"#/components/schemas/a61b5778_6f2e_016f_0992_cfed849acc6f"},"is_required":{"$ref":"#/components/schemas/ad77dfd7_a52b_01de_d675_7b82c8af5d59"},"is_non_localizable":{"$ref":"#/components/schemas/n1f8f9017_d0ae_0165_b5ea_10000befa7a9"},"content_group":{"$ref":"#/components/schemas/c64dccca_1da5_0145_d8a8_50ca9d45c6e8"}},"required":["name","type"]},"asset_element_in_variant":{"title":"AssetElement","examples":[{"element":{"id":"975bf280-fd91-488c-994c-2f04416e5ee3"},"value":[{"id":"6c332099-56fb-46df-95e7-2db2983a1ea3","renditions":[{"id":"c9dfcf32-9312-4710-af94-35e1bab555f8"}]},{"id":"719a646b-037d-426b-9ff5-cc519daa5473","renditions":[{"id":"f1bb18ad-c622-4276-9505-8cb3d1d9e43c"}]}]}],"type":["object"],"properties":{"element":{"$ref":"#/components/schemas/n8ac7c504_cc29_01f0_ef57_cce4b9fd572b"},"value":{"$ref":"#/components/schemas/n989bde82_64e5_0140_1a8b_f6b4066b9730"}},"required":["element","value"]},"asset_folder":{"title":"AssetFolder","type":["object"],"properties":{"external_id":{"$ref":"#/components/schemas/n787e1d67_0143_0140_629b_a3242764c649"},"folders":{"$ref":"#/components/schemas/n6e487d20_8a7a_015c_f95b_efcb30332259"},"id":{"$ref":"#/components/schemas/a98ca688_466d_0100_ae5b_a9682c1ed13c"},"name":{"$ref":"#/components/schemas/n7182c0f5_0f04_01e2_b0e6_c408e1996d34"}},"required":["folders","id","name"]},"asset_folders":{"title":"AssetFolders","description":"All folders within a project.","type":["object"],"properties":{"folders":{"$ref":"#/components/schemas/n3d73542b_f0e2_019d_269a_414c8d077882"},"last_modified":{"$ref":"#/components/schemas/ebbddd78_8e02_0149_26d0_643bbea31869"}},"required":["folders","last_modified"]},"asset_update":{"title":"UpsertAsset","description":"The asset to update.","examples":[{"title":"Coffee Brewing Techniques","folder":{"external_id":"another-folder"},"descriptions":[{"language":{"codename":"en-US"},"description":"Coffee Brewing Techniques"},{"language":{"codename":"es-ES"},"description":"Técnicas para hacer café"}],"elements":[{"element":{"codename":"taxonomy_categories"},"value":[{"codename":"coffee"},{"codename":"brewing"}]}],"file_reference":{"id":"fcbb12e6-66a3-4672-85d9-d502d16b8d9c","type":"internal"}}],"type":["object"],"properties":{"descriptions":{"$ref":"#/components/schemas/n42936a68_77c8_01ee_3465_18e9dfb29e34"},"elements":{"$ref":"#/components/schemas/eec4ca66_fb0e_016e_231d_2f5a7be55583"},"folder":{"$ref":"#/components/schemas/n48cde9f5_ce1e_01b8_065e_1cf270dc92e4"},"title":{"$ref":"#/components/schemas/e742e37a_5b02_0186_c38b_5d19cf40cb7b"},"file_reference":{"$ref":"#/components/schemas/n4e1db107_4a0d_0127_bdfd_f1f474fcc07c"}},"required":["file_reference"]},"b08b0c7f_229a_01bd_33d0_201891459b25":{"title":"name","description":"The content item's display name.","examples":["My new article"],"type":["string"],"maxLength":200,"minLength":1},"b0ae4ce8_21e1_01c2_71c0_c404ae922a29":{"$ref":"#/components/schemas/reference_without_external_id"},"b0e9c145_50d0_01a3_2338_bacb97783714":{"title":"regex","description":"The regular expression used for validation.\n\nExamples:\n\n* Email address: `^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[x01-x08x0bx0cx0e-x1fx21x23-x5bx5d-x7f]|[x01-x09x0bx0cx0e-x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?).){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[x01-x08x0bx0cx0e-x1fx21-x5ax53-x7f]|[x01-x09x0bx0cx0e-x7f])+)])$`\n* US phone number: `^(+1[s.-]?)?(?d{3})?[s.-]?d{3}[s.-]?d{4}$`\n* Web URL: `^(https?://(?:www.|(?!www)))?[a-z0-9]+([-.]{1}[a-z0-9]+).[a-z]{2,5}(:[0-9]{1,5})?(/S)?$`\n\nCertain formats like JSON require the regex pattern to be in escaped form. See the [MDN regex guide](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular%5FExpressions) for details on regular expressions.","examples":["^(https?:\\/\\/(?:www\\.|(?!www)))?[a-z0-9]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,5}(:[0-9]{1,5})?(\\/.*)?$"],"type":["string"],"maxLength":500},"b1509dd4_6613_019f_d0e1_772946832064":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","allOf":[{"$ref":"#/components/schemas/reference"}]},"b182d889_5d5a_0186_3989_d8d83f022daf":{"title":"roles","description":"All roles within a project.","examples":[[{"id":"7dedb656-aef7-40ae-8158-98bbf3542f4a","name":"Project manager","codename":"project-manager"},{"id":"ee483b59-5a24-4010-b277-ae224c34bc71","name":"Custom role"}]],"type":["array"],"items":{"$ref":"#/components/schemas/untitled_content_item_02d6b2e"}},"b1c07e36_59bc_01c8_43b1_7e45b9b652e4":{"title":"is_non_localizable","description":"Determines whether the element uses the same value in all languages.\n\n<div class=\"callout callout--info>\">\n\nNon-localizable elements are available through early access program and may change in the future. Get familiar with [current limitations](/learn/tutorials/manage-kontent-ai/content-modeling/create-and-delete-content-types/#a-early-access-limitations-for-non-localizable-elements).\n\nContact us and we'll activate non-localizable elements for you.</div>\n\n","examples":["true"],"type":["boolean"]},"b1c4e18f_9082_0151_ab39_f9c44a2ea9e8":{"type":["object"],"properties":{"name":{"$ref":"#/components/schemas/n9e301e5c_013b_0136_b923_4df57877ed6b"},"roles_to_activate":{"$ref":"#/components/schemas/n867ee083_7c62_01fa_e32e_c28460fe0164"}},"required":["name"]},"b209b6f3_be7c_0151_fcda_8e9d9ddfe2b0":{"title":"external_id","description":"The element's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","type":["string"]},"b22db436_c49b_01a5_733e_18f3b1f57ab8":{"title":"codename","description":"The workflow step's codename.","examples":["draft"],"type":["string"],"maxLength":40,"minLength":1},"b22f077f_fc91_01a9_bb2d_dc47b2e44aca":{"title":"user_id","description":"The user's internal ID.","examples":["d94bc87a-c066-48a1-a910-4f991ccc1fb5"],"readOnly":true,"type":["string"]},"b2782670_3c0c_0172_3116_cdcd136d340a":{"$ref":"#/components/schemas/file_reference","description":"Deprecated for testing purposes","deprecated":true,"readOnly":true,"type":["null"]},"b4854a51_b1b5_016e_24a3_7b75a69f21f6":{"title":"type","type":["string"]},"b5215edf_dc96_01f4_1c04_554104467231":{"title":"assets","description":"List of assets.","type":["array"],"items":{"$ref":"#/components/schemas/asset"}},"b54d9a42_1f03_0196_a15d_771be8524b97":{"type":["object"],"properties":{"enable_webhooks":{"$ref":"#/components/schemas/n4e9faf4f_3e61_01db_9f27_e935eb69d81e"}}},"b561483e_6d2d_01a8_6600_a30d6503b582":{"$ref":"#/components/schemas/reference"},"b613c9a4_d4c7_0105_f740_eb5bdf3896f2":{"title":"path","description":"A string identifying what property should be replaced. The exact path depends on what you are trying to replace. If you are trying to add a property to a given object, a {~{path_reference}~} is needed for that object.\n\n* To change the content type snippet's name, set {~path~} to: {~/name~}.\n* To change the content type snippet's codename, set {~path~} to: {~/codename~}.\n* To change a given property of an element, set {~path~} to: {~/elements/{path_reference}/{property_name}~}, where the available values for {~property_name~} will depend on the specific element you are referencing.\n* To change a property of a multiple choice option, set {~path~} to: {~/elements/{path_reference}/options/{path_reference}~}, where the first {path_reference} is to the multiple choice element and the second is to the option you want to modify.\n\nFor all elements (including multiple choice options), you can specify the properties to be modified based on the [element type](#tag/Elements-in-content-types). You cannot modify the `external_id`, `id`, or `type` of the elements. It is also not possible to replace individual values for an object (such as the value of a limitation object) – you need to replace the entire object at once. You also cannot replace the allowed blocks for rich text elements; you need to add or remove the blocks one by one.\n\nFor content type snippets, you cannot modify content type snippet or URL slug elements.","writeOnly":true,"type":["string"]},"b61d7a7e_495a_010e_c321_688629cdf9f2":{"title":"codename","description":"The element's codename. [Initially generated](#tag/References/rules-for-codenames) from the snippet's `name`.\n\nWhen [modifying content types](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/7a70c9c4-9138-4a31-9a20-488789018b23), you can reference snippet elements by their codename provided the element already exists before making the request.","examples":["seo_metadata"],"readOnly":true,"type":["string"],"maxLength":60,"minLength":1},"b61dae16_2b60_018e_4cd4_c91fff2c9fc7":{"title":"external_id","description":"The referenced folder's external ID.","examples":["another-folder"],"writeOnly":true,"type":["string"]},"b6a3a329_40d1_016b_c401_6a5784cd9d63":{"title":"name","description":"The collection's name.","examples":["US branch"],"type":["string"],"maxLength":200,"minLength":1},"b7025521_dcd0_013d_bf00_020e01f67f56":{"title":"guidelines","description":"The element's guidelines, providing instructions on what to fill in.","examples":["Keep it short."],"type":["string","null"]},"b74a8fe1_245b_01c9_5559_616575935989":{"title":"sitemap_locations","description":"One or more references to sitemap locations.","examples":[[]],"deprecated":true,"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/reference"}},"b79a5037_d94a_01be_bd43_2c3ad345b637":{"title":"is_required","description":"Determines whether the element must be filled in.","examples":["false"],"type":["boolean"]},"b7dba7f1_f61b_01d2_84e1_98f2bae449e4":{"$ref":"#/components/schemas/rendition_transformation_object"},"b8c9a6d2_6643_01c6_7148_58e03a8e409a":{"title":"id","description":"The taxonomy group's internal ID.","examples":["bef9dd62-a3b8-4146-83e4-33be707899b4"],"readOnly":true,"type":["string"],"format":"uuid"},"b8f182ed_31b9_01a5_723a_61d734664412":{"type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n62f8dcab_4b9f_01e6_bf99_79e54e87c77f"},"name":{"$ref":"#/components/schemas/n6c1ce94a_11b9_018f_2154_f9c0394e6fc7"},"codename":{"$ref":"#/components/schemas/d392e95e_c112_0117_7933_e4bc8c61210a"},"color":{"$ref":"#/components/schemas/f8009ebd_eda9_01a5_4d9a_3797dc8e6ddd"},"transitions_to":{"$ref":"#/components/schemas/ce80f091_a2b8_01a5_0d4b_cde98e3c1bc0"},"role_ids":{"$ref":"#/components/schemas/n558606a4_1b27_015b_b50c_7da2a7d8900e"}},"required":["name","codename","color","transitions_to","role_ids"]},"b917866f_4b95_015a_efb6_85f8db9a97c1":{"title":"codename","description":"The Published workflow step's codename.","examples":["published"],"type":["string"]},"b98c91c9_7d01_01e5_1183_9c30c57716db":{"title":"after","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the existing collection after which you want to add the new collection.\n\n**Note**: The `before` and `after` properties are mutually exclusive.","allOf":[{"$ref":"#/components/schemas/reference"}]},"b98f7722_efea_0141_1be6_d6bac146984d":{"title":"is_active","description":"A flag determining whether the language is active.","examples":["true"],"type":["boolean"]},"ba6364cf_5ea7_01d2_1c1a_80258c17d12b":{"title":"id","description":"The element's internal ID.","examples":["8f43fd1b-e11d-494b-a85f-478db1703c21"],"readOnly":true,"type":["string"]},"ba699643_da0b_01de_91a6_d94ee7b1e54d":{"title":"projects","description":"List of projects.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/untitled_content_item_1964925"}},"ba84bad0_8fa3_01c9_7c35_065d3925cfa1":{"type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n47119585_6a66_01a0_adef_8ea80b4b9277"},"name":{"$ref":"#/components/schemas/e8d759ab_8d4f_01e6_4287_4b7dc4a07977"},"codename":{"$ref":"#/components/schemas/n3b11eddf_9d71_01bf_7d7b_7edc49c6e99d"},"languages":{"$ref":"#/components/schemas/n5baf7878_50e6_015b_b9fa_4dca5ca57025"}},"required":["id","name","languages"]},"bafc5767_8730_013b_2332_ff31fa255364":{"title":"collection","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the item's [collection](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/56b1ed90-6558-4945-8a57-34b6ecd5a5ea). Unless set while [creating the content item](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b65b450a-9c53-432b-a157-9623c951bd7a), the property references the default collection and can later be [modified](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/43503441-2aa0-471a-8e70-6ca3b29b39a8).\n\n<div class=\"callout callout--info>\">\n\nThe default collection will always have the ID of `00000000-0000-0000-0000-000000000000`.</div>\n\n","examples":["{\n  \"id\": \"00000000-0000-0000-0000-000000000000\"\n}"],"allOf":[{"$ref":"#/components/schemas/reference_without_external_id"}]},"bb9e82b3_a95f_0171_bf3a_42e338b51e0c":{"title":"reference","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to existing taxonomy terms you want to modify.\n\nNot required if you want to modify the taxonomy group specified in the {~taxonomy_group_identifier~}.","allOf":[{"$ref":"#/components/schemas/reference"}]},"bbdcff16_3f79_0179_9b1d_7335895df1d6":{"type":["object"],"properties":{"renditions":{"$ref":"#/components/schemas/n4c07aaaa_5ec2_013b_6267_526bf42f4c35"}}},"bbea4796_8ec1_01d2_fed6_66fdea76831a":{"title":"codename","description":"The collection's codename. Unless set while [creating the collection](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/c9886615-cf58-4e69-86bc-beca7054d650), it is [initially generated](#tag/References/rules-for-codenames) from the collection's `name` and can later be modified.","examples":["us_branch"],"type":["string"],"maxLength":60,"minLength":1},"bc4dee0e_c18e_0162_200c_690a06175340":{"examples":["d761b25c-f7cf-4977-9c45-3c92d6562233"],"type":["string"],"format":"uuid"},"bc88de5a_3f3f_013b_a349_66909d3ae030":{"title":"name","description":"The element's display name.","examples":["URL slug"],"type":["string"],"maxLength":50,"minLength":1},"bcd6837d_025c_0116_3d89_4bb1c971904e":{"title":"type","description":"The element's type.","examples":["taxonomy"],"type":["string"]},"bd66410a_461c_018f_1a2c_efb41dafc29d":{"title":"op","description":"The operation to perform.","examples":["replace "],"type":["string"]},"bd9b0d40_a378_01b3_0305_6fcdd9a3b6c5":{"type":["object"],"properties":{"types":{"$ref":"#/components/schemas/cf1c2e88_5a5b_01e8_932c_90cebd603b73"},"pagination":{"$ref":"#/components/schemas/n271ac5f3_f5fe_01ea_e971_3597dce69849"}},"required":["types","pagination"]},"bd9f6e08_e8de_013e_e3cf_cafbc61a0f97":{"title":"id","description":"The role's internal ID.","examples":["f58733b9-520b-406b-9d45-eb15a2baee96"],"type":["string"],"format":"uuid"},"bda477ef_f6f7_012a_a019_c0c530201be7":{"title":"id","description":"The user's internal ID.","examples":["e67eadda-dc58-4bf9-89fc-1dadc0b95858"],"type":["string"]},"bdfaa8f1_1b01_01da_dfbc_6ecdeaa0fd50":{"title":"value","description":"The value to insert into the property specified in {~path~} where the format depends on the specific property.","examples":["An element name"],"oneOf":[{"$ref":"#/components/schemas/array_of_strings"},{"$ref":"#/components/schemas/reference"},{"$ref":"#/components/schemas/general_boolean_schema"},{"$ref":"#/components/schemas/plaintext_string"},{"$ref":"#/components/schemas/count_limitation"},{"$ref":"#/components/schemas/depends_on_object"},{"$ref":"#/components/schemas/e93151e4_1e77_01dd_8713_3b5cda3b7deb"}]},"be2527e4_2775_0133_eea3_474b41b2c9cd":{"title":"type","description":"The element's type.","examples":["text"],"type":["string"]},"be65f80f_1066_0105_1963_5ef0339789c8":{"title":"name","description":"The Archived workflow step's display name.","examples":["Archived"],"type":["string"]},"be6b24db_10b6_0125_6624_5e158a5fcb84":{"title":"last_name","description":"The user's last name.","examples":["Doe"],"type":["string"]},"bf1d0863_34eb_01b0_68bd_148ac54f84d4":{"title":"codename","description":"The workflow step's codename.","examples":["draft"],"type":["string"]},"bf268e32_87e2_01ce_e493_7d0fac2f8c6b":{"oneOf":[{"$ref":"#/components/schemas/type_operation_addinto"},{"$ref":"#/components/schemas/type_operation_remove"},{"$ref":"#/components/schemas/type_operation_replace"}]},"bf8eb410_f341_01e9_1297_80efeaf1f423":{"oneOf":[{"$ref":"#/components/schemas/snippet_operation_addinto"},{"$ref":"#/components/schemas/snippet_operation_remove"},{"$ref":"#/components/schemas/snippet_operation_replace"}]},"bfd19b65_d748_01a0_a348_11eb0ca8b96f":{"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/bf268e32_87e2_01ce_e493_7d0fac2f8c6b"}},"c0aa1d05_f072_01c6_b404_bc581e882f48":{"title":"type","type":["string"]},"c0c326bd_a443_0111_be40_4795faf0f4e8":{"title":"codename","description":"The taxonomy term's codename. Unless you set it (such as while [creating a taxonomy group](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/98d52aed-510e-4da1-ab72-33ba97a574e2)), it is initially generated from the term's `name` and can later be [modified](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/cb2a6c42-7a7c-4ca2-94a7-0faf443ddb59).","examples":["technology"],"type":["string"],"maxLength":210,"minLength":1},"c112523b_bcdb_011c_3d13_a33c497260ac":{"title":"id","description":"The content item's internal ID.","examples":["335d17ac-b6ba-4c6a-ae31-23c1193215cb"],"readOnly":true,"type":["string"],"format":"uuid"},"c1ed0f5a_c39a_01f5_f7b6_0802260eba1a":{"title":"codename","description":"The language's codename.","examples":["default"],"type":["string"]},"c2438324_eea4_01aa_cf0b_0923eb120085":{"title":"is_non_localizable","description":"Determines whether the element uses the same value in all languages.\n\n<div class=\"callout callout--info>\">\n\nNon-localizable elements are available through early access program and may change in the future. Get familiar with [current limitations](/learn/tutorials/manage-kontent-ai/content-modeling/create-and-delete-content-types/#a-early-access-limitations-for-non-localizable-elements).\n\nContact us and we'll activate non-localizable elements for you.</div>\n\n","examples":["true"],"type":["boolean"]},"c29b2303_dc21_01f6_b8b4_53be22dc3067":{"title":"taxonomy_group","description":"Specifies a [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the taxonomy group that the element uses.","allOf":[{"$ref":"#/components/schemas/reference"}]},"c301da8a_f9a6_01aa_060d_62dd655c3010":{"title":"id","description":"The element's internal ID.","examples":["4f64afc0-5102-4fad-b564-baadb375ab73"],"readOnly":true,"type":["string"],"format":"uuid"},"c332a46a_bb65_01af_f6ce_37dbd7b111f5":{"title":"is_non_localizable","description":"Determines whether the element uses the same value in all languages. Custom elements cannot be set as non-localizable.\n\n<div class=\"callout callout--info>\">\n\nNon-localizable elements are available through early access program and may change in the future. Get familiar with [current limitations](/learn/tutorials/manage-kontent-ai/content-modeling/create-and-delete-content-types/#a-early-access-limitations-for-non-localizable-elements).\n\nContact us and we'll activate non-localizable elements for you.</div>\n\n","examples":["false"],"readOnly":true,"type":["boolean"]},"c384cc9b_f673_01a9_0c93_a945382af1e3":{"title":"global","description":"Specifies a default value used as the element's initial value across all languages.","type":["object"],"properties":{"value":{"$ref":"#/components/schemas/n4ab7b5ee_0833_01c3_8f3a_709968babc29"}},"required":["value"]},"c3a6e8a6_c1cf_01a6_2ffa_912a5f9746dd":{"title":"message","description":"The error message explaining what caused the error.","examples":["The requested content item 'sample_item' was not found."],"type":["string"]},"c43b8c61_6029_01a8_e564_e50e5c4e2e9f":{"title":"type","description":"The element's type.","examples":["snippet"],"type":["string"]},"c46a533d_49af_014f_330c_4190c389f9ba":{"type":["object"],"properties":{"step":{"$ref":"#/components/schemas/n615ba696_beba_01c1_5094_3290d643c16c"}},"required":["step"]},"c4abd09b_3468_01e5_370b_3dc6094cea08":{"title":"snippets","type":["array"],"items":{"$ref":"#/components/schemas/content_type_snippet"}},"c588bf8d_24c0_01df_25fb_2b6dc12011e1":{"title":"after","description":"An _optional_ [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the taxonomy term after which you want to add the new taxonomy term.\n\nFor example, to add a term after an existing \"Categories\" term , you can set {~after~} to {~{codename: categories}~}.\n\n**Note**: The {~before~} and {~after~} properties are mutually exclusive.","allOf":[{"$ref":"#/components/schemas/reference"}]},"c64dccca_1da5_0145_d8a8_50ca9d45c6e8":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","examples":["{\n   \"id\": \"67faca73-bfd3-4600-b6c4-9cc91cc8d85f\"\n}"],"allOf":[{"$ref":"#/components/schemas/reference"}]},"c7676327_e309_0168_e7dc_e111d5bae8ff":{"type":["object"],"properties":{"variants":{"$ref":"#/components/schemas/n6d51b662_3310_01ec_29c5_b446d9882d5a"},"pagination":{"$ref":"#/components/schemas/n63975f8a_0ab5_017f_5c31_73a4b3aa237b"}},"required":["variants","pagination"]},"c772c5c6_9153_01af_3b54_9d3ab218e52e":{"$ref":"#/components/schemas/reference"},"c7f28913_96af_0123_e481_8a3f0b9836d2":{"title":"path","description":"A string identifying where the new object or property should be added. The exact path depends on what you are trying to add and where. If you are trying to add a property to a given element, a `{path_reference}` is needed for that element.\n\n1. To add a new element, set `path` to: `/elements`.\n2. To add an allowed content type to a rich text or linked items element, set `path` to: `/elements/{path_reference}/allowed_content_types`.\n3. To add an allowed element to a custom element, set `path` to: `/elements/{path_reference}/allowed_elements`.\n4. To add a new multiple choice option, set `path` to: `/elements/{path_reference}/options`.","examples":["/elements/codename:snippet_codename__rich_text/allowed_content_types"],"writeOnly":true,"type":["string"]},"c9541ff3_7e8f_013a_8eda_5cf88aa9f3ab":{"title":"is_required","description":"Determines whether the element must be filled in.","examples":["false"],"type":["boolean"]},"ca7d7b1d_a303_01eb_0e0a_ab348e31584d":{"title":"last_activity_at","description":"Returns the timestamp of the last user's activity in the environment.","examples":["2021-12-24T12:00:00.7692802Z"],"type":["string"],"format":"date-time"},"cabfb511_e2ed_01aa_67d4_528e6d1e4f90":{"title":"json_parameters","description":"Optional parameters that allow you to use the element in different content types or provide customizable layout.\n\nThe value must be valid a stringified JSON.","examples":["{\\\"brand_colors_only\\\":\\\"true\\\"}"],"type":["string"]},"cb974165_93d2_0171_f9f6_59a503362a23":{"title":"asset_id","description":"The id of the asset this rendition belongs to.","examples":["ba00e3ba-e217-4fc0-9f4e-90b9510d2b08"],"readOnly":true,"type":["string"],"format":"uuid"},"cb9bc3aa_51c9_013d_37db_1ef9bd14565c":{"title":"collections","description":"All collections within a project.","examples":[[{"id":"00000000-0000-0000-0000-000000000000","name":"Default","codename":"default"},{"id":"56ddd0f8-d3a3-5e36-9ccb-80dbe77aed23","external_id":"second_external_id","name":"Second collection","codename":"second_collection"}]],"type":["array"],"items":{"$ref":"#/components/schemas/content_collection"}},"cc89888f_946e_019f_9f15_7ad4297339a3":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","examples":["{\n   \"id\": \"67faca73-bfd3-4600-b6c4-9cc91cc8d85f\"\n}"],"allOf":[{"$ref":"#/components/schemas/reference"}]},"ccd07c4e_341d_01b5_9e99_9da4e6df05ff":{"title":"value","description":"Specifies [references](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to taxonomy terms to be used as the element's default value.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/reference"}},"cd56efda_361f_0174_97d2_d6dddc42100c":{"title":"unpublish_role_ids","description":"The internal IDs of the [roles](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/3b13de38-2c04-4315-a999-3abd4e2c79b7) that can [unpublish and archive](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/f64599e8-6179-4456-a77c-6716c2e3864b) content items using this workflow. If empty, all roles can unpublish and archive content items.","type":["array"],"items":{"$ref":"#/components/schemas/n6e68b1bf_8582_0185_c479_88f56035fd90"},"minItems":1},"cdb80f66_733c_019c_fe9f_e819eb8f5394":{"title":"op","description":"Specifies the operation to perform.\n\n* `addInto` to add new folders\n* `remove` to delete folders\n* `rename` to rename folders","examples":["remove"],"type":["string"]},"ce09646f_f80b_01d2_37eb_3e0f95964fde":{"title":"applies_to","description":"Determines whether the value applies to characters or words.","examples":["characters"],"type":["string"]},"ce4c38c0_b9a9_011e_3161_ffa9455045f1":{"title":"collection_groups","description":"Specifies the permissions the user has in the project based on the user's [role](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/3b13de38-2c04-4315-a999-3abd4e2c79b7) and access to specific [collections](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/672a109a-bf6c-4498-a244-1b9263682e09) and [languages](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/03e58bf4-6af1-456c-ad56-ec0a94b07007).","type":["array"],"items":{"$ref":"#/components/schemas/untitled_content_item_f840600"}},"ce80f091_a2b8_01a5_0d4b_cde98e3c1bc0":{"title":"transitions_to","description":"[References](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the workflow steps that this step can transition to. Workflow steps can be referenced either by their codename or internal ID.","examples":[[{"step":{"id":"13145328-b946-4e47-9c9d-6f40c7aaeaef"}},{"step":{"id":"7a535a69-ad34-47f8-806a-def1fdf4d391"}},{"step":{"id":"b4363ccd-8f21-45fd-a840-5843d7b7f008"}}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/c46a533d_49af_014f_330c_4190c389f9ba"},"minItems":1},"cef98011_613f_01dd_40ae_081509ba5819":{"title":"id","description":"The language's internal ID.\n\n<div class=\"callout callout--info>\">\n\nThe ID of the default language is always `00000000-0000-0000-0000-000000000000`.</div>\n\n","examples":["00000000-0000-0000-0000-000000000000"],"readOnly":true,"type":["string"]},"cefe176f_84a7_0161_28ff_5bd99ad78c7c":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","examples":["{\n   \"id\": \"67faca73-bfd3-4600-b6c4-9cc91cc8d85f\"\n}"],"allOf":[{"$ref":"#/components/schemas/reference"}]},"cf1c2e88_5a5b_01e8_932c_90cebd603b73":{"title":"types","type":["array"],"items":{"$ref":"#/components/schemas/content_type_faa3f68"}},"cff39b87_0145_016a_1b81_86bcdfefe6bb":{"title":"element","description":"The dependent text element specified as a [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["{\n   \"id\": \"c7c3b834-2222-5677-89c4-b46f04489109\"\n }"],"allOf":[{"$ref":"#/components/schemas/reference"}]},"content_collection":{"title":"ContentCollection","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n7555b41a_43cd_0116_221c_6e878cc52c27"},"name":{"$ref":"#/components/schemas/b6a3a329_40d1_016b_c401_6a5784cd9d63"},"codename":{"$ref":"#/components/schemas/bbea4796_8ec1_01d2_fed6_66fdea76831a"},"external_id":{"$ref":"#/components/schemas/n905e81ad_2f57_0184_e445_6ac6f99f19e4"}},"required":["name"]},"content_collections":{"title":"ContentCollections","description":"All collections within a project.","type":["object"],"properties":{"collections":{"$ref":"#/components/schemas/cb9bc3aa_51c9_013d_37db_1ef9bd14565c"},"last_modified":{"$ref":"#/components/schemas/d929ed91_d2cb_01c0_3d5a_e4fe5eff9739"}},"required":["collections","last_modified"]},"content_group":{"title":"Content group","description":"test","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/d9de4336_ec85_01b0_b2e0_8092e3cc6bfc"},"name":{"$ref":"#/components/schemas/df70c98c_2657_01c4_1c4f_0075ccd13e79"},"codename":{"$ref":"#/components/schemas/n7acc4399_e0b1_01cd_ddc4_8b19e55e4a83"},"external_id":{"$ref":"#/components/schemas/n4cc2b370_922b_0178_eca3_dd6a5e5a7f4f"}},"required":["name"]},"content_item_9219b5f":{"title":"ContentItem","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/c112523b_bcdb_011c_3d13_a33c497260ac"},"name":{"$ref":"#/components/schemas/n295fc146_857b_01b9_fa89_4b140ee86798"},"codename":{"$ref":"#/components/schemas/n1b14b9fc_7fbf_018c_b190_b81016a79c9b"},"type":{"$ref":"#/components/schemas/n991ed0bb_9f2f_0168_733e_3e0dac6b5e64"},"collection":{"$ref":"#/components/schemas/n2d1e6cab_385e_01aa_8f27_d38b746537bc"},"sitemap_locations":{"$ref":"#/components/schemas/n3252c17a_3024_01c3_ef5a_68bf88b197d3"},"external_id":{"$ref":"#/components/schemas/e1cff7e3_af34_015d_afde_fd59d86487d8"},"last_modified":{"$ref":"#/components/schemas/a79608e3_841e_019d_b542_e5e5e19d3f77"}},"required":["name","type"]},"content_item_create":{"title":"CreateItem","description":"The content item to insert.","allOf":[{"$ref":"#/components/schemas/content_item_update"},{"$ref":"#/components/schemas/n774736af_6142_0150_c7df_9e9850edbd8b"}]},"content_item_update":{"title":"UpdateItem","description":"The content item to update.","type":["object"],"properties":{"name":{"$ref":"#/components/schemas/b08b0c7f_229a_01bd_33d0_201891459b25"},"codename":{"$ref":"#/components/schemas/n42f8d97d_4896_0166_0316_c92451806b2e"},"collection":{"$ref":"#/components/schemas/bafc5767_8730_013b_2332_ff31fa255364"},"sitemap_locations":{"$ref":"#/components/schemas/b74a8fe1_245b_01c9_5559_616575935989"}},"required":["name"]},"content_type_faa3f68":{"title":"Content type","description":"A content type object","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n4cf6b61e_34f9_01a7_6644_d486a0128cf8"},"codename":{"$ref":"#/components/schemas/d881b749_63e9_0103_349f_b08d6d4644d1"},"external_id":{"$ref":"#/components/schemas/n76614fe6_6bb2_0191_33c7_f783f78831d3"},"last_modified":{"$ref":"#/components/schemas/e1d50a61_5d1a_017d_382e_9142bc702ef7"},"name":{"$ref":"#/components/schemas/n2dd2631b_a2a0_0110_4f50_bbe198abc1f8"},"content_groups":{"$ref":"#/components/schemas/n1464f92e_b76c_01d6_23fb_05f9d2759823"},"elements":{"$ref":"#/components/schemas/n54556377_c9ce_01e6_1fc5_829e7ea0184d"}},"required":["elements","name"]},"content_type_snippet":{"title":"ContentTypeSnippet","description":"A content type snippet object","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/e16bdebc_2a03_01f7_8761_0f07d0d2b120"},"codename":{"$ref":"#/components/schemas/a11ddef2_073f_010c_1749_9765f8935df6"},"last_modified":{"$ref":"#/components/schemas/n694e6b3e_89ed_017e_1503_78cf5c3d83dc"},"name":{"$ref":"#/components/schemas/n3fd41e36_b85f_0135_9888_4464be66354e"},"elements":{"$ref":"#/components/schemas/f549ae4f_a46e_015c_a26d_b0340dd066be"},"external_id":{"$ref":"#/components/schemas/a6057ab5_b369_01ec_b128_a266b29e0999"}},"required":["id","name","elements","last_modified"]},"content_type_snippet_element_in_type":{"title":"Snippet element in type","description":"The content type snippet elements contain the `snippet` property with a [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to a specific content type snippet.\n\nLearn more about [reusing collections of elements](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/03f09b0c-682e-4a17-b090-36ca21f0ebef) with snippets.","type":["object"],"properties":{"snippet":{"$ref":"#/components/schemas/n77338142_bc3a_01a5_3bc4_2be7f48285fb"},"type":{"$ref":"#/components/schemas/c43b8c61_6029_01a8_e564_e50e5c4e2e9f"},"id":{"$ref":"#/components/schemas/n6a906378_9f0d_01b5_2ea2_c967136d2641"},"codename":{"$ref":"#/components/schemas/b61d7a7e_495a_010e_c321_688629cdf9f2"},"is_non_localizable":{"$ref":"#/components/schemas/n09e65082_41b3_019b_097c_fcb26aa49137"},"external_id":{"$ref":"#/components/schemas/db79b72f_c443_010e_60e9_a77fd8aa55df"},"content_group":{"$ref":"#/components/schemas/d86bff12_a929_0110_9c19_653b1caa4d76"}},"required":["type","id","snippet"]},"count_limitation":{"title":"CountLimitation","type":["object"],"properties":{"value":{"$ref":"#/components/schemas/ed213db9_fdc8_01f8_f0f2_23cc2157caca"},"condition":{"$ref":"#/components/schemas/n45423b37_bcdc_01a7_a4be_c38c30d33ede"}},"required":["value","condition"]},"custom_element_in_type":{"title":"Custom element in type","description":"Custom elements contain the additional properties `source_url`, `json_parameters`, and `allowed_elements`.","examples":[{"Error":"Invalid json. Content item codename: 'custom_element_in_type'. Content item name: 'Custom type element'"}],"type":["object"],"properties":{"name":{"$ref":"#/components/schemas/n9f72133f_5952_0185_6b24_7280101435b4"},"type":{"$ref":"#/components/schemas/f541a410_a70e_018f_3475_1331984b5631"},"id":{"$ref":"#/components/schemas/n05a3f424_a4ec_01a3_493f_dd2beffea705"},"codename":{"$ref":"#/components/schemas/a8b0965a_305a_011e_00c5_e5b66a61e2b0"},"external_id":{"$ref":"#/components/schemas/n2e290b32_e3ae_01e1_13b2_720c62ba0d0d"},"guidelines":{"$ref":"#/components/schemas/n62b842af_04e0_013a_c7df_b0c4bc96302d"},"is_required":{"$ref":"#/components/schemas/n7e2b17fd_d854_012d_38bf_8d9297e45e96"},"is_non_localizable":{"$ref":"#/components/schemas/c332a46a_bb65_01af_f6ce_37dbd7b111f5"},"source_url":{"$ref":"#/components/schemas/f6b9bd77_d3d3_010d_2424_1feb3686ffe1"},"json_parameters":{"$ref":"#/components/schemas/cabfb511_e2ed_01aa_67d4_528e6d1e4f90"},"allowed_elements":{"$ref":"#/components/schemas/n359751fe_e9a2_01ca_bf48_40875fe01404"},"content_group":{"$ref":"#/components/schemas/n0d791054_b67f_0148_276e_84060044f114"}},"required":["name","type","source_url"]},"custom_element_in_variant":{"title":"CustomElement","type":["object"],"properties":{"element":{"$ref":"#/components/schemas/n6e628e08_70a8_01fe_9670_3a3cc2857b7d"},"value":{"$ref":"#/components/schemas/n5073ab12_5ba0_01b8_6efb_5e1b56e90392"},"searchable_value":{"$ref":"#/components/schemas/n05bb29d2_2472_01da_7aee_e6a8476fec4b"}},"required":["element","value"]},"d0e0a1a1_4b83_01d4_b9fb_a04f5e3730af":{"title":"projects","description":"The projects to which the user has been invited.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n8d806d54_b8dd_01e9_623e_a51dd509a0c8"}},"d0e4dccb_b101_013b_5b81_092bf481a13e":{"type":["object"],"properties":{"type":{"$ref":"#/components/schemas/n6b65fff5_8ab3_01e5_206c_7907f82a3754"},"operations":{"$ref":"#/components/schemas/f31e67f9_3a26_01b9_36ff_38d1116f93d9"}},"required":["operations","type"]},"d11a5c52_13c3_0139_30d4_15b706e71015":{"title":"codename","description":"The element's codename. Unless specified, [initially generated](#tag/References/rules-for-codenames) from the element's `name`.","examples":["fun_facts"],"type":["string"],"maxLength":60,"minLength":1},"d12daa57_f2a7_016d_1568_8c522f95c876":{"examples":[{"type":"content_item_variant","transitions_to":[{"id":"b4363ccd-8f21-45fd-a840-5843d7b7f008"},{"id":"88ac5e6e-1c5c-4638-96e1-0d61221ad5bf"}]}],"type":["object"],"properties":{"type":{"$ref":"#/components/schemas/b4854a51_b1b5_016e_24a3_7b75a69f21f6"},"transitions_to":{"$ref":"#/components/schemas/d45dba80_635e_01fc_febf_ad0696fe87a2"}},"required":["transitions_to","type"]},"d1920c1e_e1a3_015d_3aab_6e4deee7ad49":{"type":["string"]},"d1b4a8c5_25fe_01a4_f0ce_2fb2963f6407":{"title":"scheduled_to","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date-time for scheduled publishing.\n\nIf omitted, the specified variant is published immediately.","examples":["2019-01-31T11:00:00+01:00"],"type":["string"],"format":"date-time"},"d1ba9e6e_51e4_0155_9e13_1b45a8ce5b54":{"title":"type","description":"The element's type.","examples":["subpages"],"type":["string"]},"d3035368_6e5f_01e7_ad63_0b0b7f74a802":{"title":"codename","description":"The workflow's codename.","examples":["my_workflow"],"type":["string"],"maxLength":60,"minLength":1},"d392e95e_c112_0117_7933_e4bc8c61210a":{"title":"codename","description":"The workflow step's codename.","examples":["draft"],"type":["string"],"maxLength":40,"minLength":1},"d3e12fda_4456_015e_894a_f5489845ba1c":{"title":"name","description":"The webhook's display name.","examples":["Example webhook"],"type":["string"],"maxLength":200,"minLength":1},"d45dba80_635e_01fc_febf_ad0696fe87a2":{"title":"transitions_to","description":"A collection of references to the [workflow steps](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/8f4b37fe-f7d8-4220-af39-8081e1dc0990) that will trigger the webhook when an item transitions to them. Workflow steps must be referenced by their internal IDs.","type":["array"],"items":{"$ref":"#/components/schemas/reference"}},"d4a3fd41_d12d_0194_1a4a_00447317bbe3":{"oneOf":[{"$ref":"#/components/schemas/content_item_update"},{"$ref":"#/components/schemas/content_item_create"}]},"d4b536fa_31bd_01bc_41c7_59dc48b8b351":{"title":"snippet","description":"The content type snippet, specified as a [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e), that contains the dependent text element.\n\n**Note**: The {~snippet~} property is not present if the text element is in the same content type.","examples":["{\n   \"id\": \"67faca73-bfd3-4600-b6c4-9cc91cc8d85f\"\n}"],"allOf":[{"$ref":"#/components/schemas/reference"}]},"d5fee2e6_31c9_01ab_7df3_b7c99b4c55e1":{"title":"value","description":"The environment's name.","examples":["Production"],"type":["string"]},"d65e1a06_7614_016e_54ef_09a02a12a880":{"title":"property_name","description":"Specifies the property of the collection that you want to replace.\n\nUse `name` to change the name of the collection. Changes of other properties are currently not supported.","type":["string"]},"d7598d43_3dc2_0175_8dad_336d8d541cff":{"title":"request_id","description":"The performed request's unique ID.","examples":["|657e8eba55d8bf4a9a5ad9074038cd2e.813e828d_"],"type":["string","null"]},"d86bff12_a929_0110_9c19_653b1caa4d76":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","allOf":[{"$ref":"#/components/schemas/reference"}]},"d881b749_63e9_0103_349f_b08d6d4644d1":{"title":"codename","description":"The content type's codename. Unless set while [creating the content type](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/b588f328-d335-46ce-9a16-28c56c9168f1), it is [initially generated](#tag/References/rules-for-codenames) from the type's `name` and can later be [modified](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/7a70c9c4-9138-4a31-9a20-488789018b23).","examples":["new_article"],"type":["string"],"maxLength":60,"minLength":1},"d929ed91_d2cb_01c0_3d5a_e4fe5eff9739":{"title":"last_modified","description":"The [ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date and time of the last change to content collections. This property can be `null` if the collections were not changed yet.","examples":["2021-03-04T08:16:24.3620957Z"],"readOnly":true,"type":["string"],"format":"date-time"},"d9d2ca1a_6cee_01b8_406d_65fbc97beee6":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date/time of the last change to the webhook. ","examples":["2019-09-18T09:29:08.4356117Z"],"readOnly":true,"type":["string"],"format":"date-time"},"d9ddc768_391f_01f9_0807_22b66637106d":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","allOf":[{"$ref":"#/components/schemas/reference"}]},"d9de4336_ec85_01b0_b2e0_8092e3cc6bfc":{"title":"id","description":"The content group's internal ID.","examples":["325107f6-5dfb-21a1-b24e-fa13be1fef1c"],"readOnly":true,"type":["string"],"format":"uuid"},"dac10bae_1933_01b4_ef5b_8a40d97e936e":{"title":"id","description":"The referenced folder's ID.","type":["string"],"format":"uuid"},"date___time_element_in_type":{"title":"Datetime element in type","type":["object","null"],"properties":{"name":{"$ref":"#/components/schemas/n7f2fb223_4800_0158_073d_9e219b9a6a0f"},"guidelines":{"$ref":"#/components/schemas/n032e2528_e61b_016b_2c80_e697fd6c61af"},"is_required":{"$ref":"#/components/schemas/c9541ff3_7e8f_013a_8eda_5cf88aa9f3ab"},"is_non_localizable":{"$ref":"#/components/schemas/n6131c13a_79c0_01cf_3be0_5f01b9f12eaf"},"type":{"$ref":"#/components/schemas/a358c850_af08_0180_e593_e1235a7eb2e9"},"id":{"$ref":"#/components/schemas/c301da8a_f9a6_01aa_060d_62dd655c3010"},"codename":{"$ref":"#/components/schemas/n35a0fe4f_77f0_01ae_9016_3fd5d85907e8"},"external_id":{"$ref":"#/components/schemas/n9b385e74_a110_012f_a7f1_8d7893eacbf4"},"default":{"$ref":"#/components/schemas/f01574ea_1ed2_0174_dfde_f5e65166bd5d"},"content_group":{"$ref":"#/components/schemas/n3c2c2d06_03da_017e_9776_82c37331753c"}},"required":["name","type"]},"date___time_element_in_variant":{"title":"DateTimeElement","type":["object"],"properties":{"element":{"$ref":"#/components/schemas/n4e5c2736_ddad_013a_16c0_171f8cf15a21"},"value":{"$ref":"#/components/schemas/n944635ce_b9bf_0166_e59a_48c1c99b723b"}},"required":["element","value"]},"db79b72f_c443_010e_60e9_a77fd8aa55df":{"title":"external_id","description":"The element's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["my-seo-metadata"],"type":["string"]},"db88862b_a974_01a8_ff99_49e322faff52":{"title":"folder","description":"A [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the folder containing the asset. You can specify a folder by its internal ID or external ID. Not present if the asset is not in a folder.\n\nTo return an asset to the top level outside any folders, use `\"id\" : \"00000000-0000-0000-0000-000000000000\"`.","examples":[{"id":"8fe4ff47-0ca8-449d-bc63-c280efee44ea"}],"type":["object"],"properties":{"id":{"$ref":"#/components/schemas/dac10bae_1933_01b4_ef5b_8a40d97e936e"},"external_id":{"$ref":"#/components/schemas/b61dae16_2b60_018e_4cd4_c91fff2c9fc7"}}},"dc330f16_2235_01a5_9c16_26cf2abc0ee3":{"examples":["d761b25c-f7cf-4977-9c45-3c92d6562233"],"type":["string"],"format":"uuid"},"dc75e32a_a522_01bf_90ae_e2013b18872b":{"title":"before","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the existing collection before which you want to place the collection specified by `reference` property.\n\n**Note**: The `before` and `after` properties are mutually exclusive.","allOf":[{"$ref":"#/components/schemas/reference"}]},"dd7dfb68_a5ee_01f7_4d1a_edda35df9150":{"title":"external_id","description":"The taxonomy term's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["custom-term-identifier"],"type":["string"]},"de0af540_0236_0151_eafb_47f9ca6f58f7":{"oneOf":[{"$ref":"#/components/schemas/asset_element_in_variant"},{"$ref":"#/components/schemas/custom_element_in_variant"},{"$ref":"#/components/schemas/date___time_element_in_variant"},{"$ref":"#/components/schemas/linked_items_element_in_variant"},{"$ref":"#/components/schemas/multiple_choice_element_in_variant"},{"$ref":"#/components/schemas/number_element_in_variant"},{"$ref":"#/components/schemas/rich_text_element_in_variant"},{"$ref":"#/components/schemas/subpages_element_in_variant"},{"$ref":"#/components/schemas/taxonomy_element_in_variant"},{"$ref":"#/components/schemas/text_element_in_variant"},{"$ref":"#/components/schemas/url_slug_element_in_variant"}]},"de8eb4d0_18cc_01b3_03da_61f1daa6b3eb":{"title":"position","type":["integer"]},"dea0777c_a81a_015a_bec5_0cba4a3c0b84":{"title":"id","description":"The multiple choice option's internal ID.","examples":["6bfe5a60-5cc2-4303-8f72-9cc53431046b"],"readOnly":true,"type":["string"]},"depends_on_object":{"title":"DependsOn","description":"Specifies the text element that provides the default value to the URL slug element. The dependent text element can be part of a content type snippet.","examples":[{"element":{"id":"c7c3b834-2222-5677-89c4-b46f04489109"},"snippet":{"id":"67faca73-bfd3-4600-b6c4-9cc91cc8d85f"}}],"type":["object"],"properties":{"element":{"$ref":"#/components/schemas/cff39b87_0145_016a_1b81_86bcdfefe6bb"},"snippet":{"$ref":"#/components/schemas/d4b536fa_31bd_01bc_41c7_59dc48b8b351"}},"required":["element"]},"df13aa0a_8d10_0158_3686_a414b4f8abdc":{"title":"id","description":"The environment's internal ID. Use this as the `{project_id}` path parameter in project-specific endpoints.","examples":["c9bad3b5-2b91-4df9-9d4a-53d0bf14343b"],"type":["string"],"format":"uuid"},"df70c98c_2657_01c4_1c4f_0075ccd13e79":{"title":"name","description":"The content group's display name.","examples":["My first group"],"type":["string"],"maxLength":50,"minLength":1},"df82a769_3951_01b1_be8d_9d0bdf67f60b":{"title":"items","description":"List of content items.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/content_item_9219b5f"}},"dfa3eb75_e949_017e_117e_ece3f54a4681":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date/time of the last change to the rendition. ","examples":["2022-03-01T10:54:52.1001012Z"],"readOnly":true,"type":["string"],"format":"date-time"},"dfce1827_93a2_0139_48c3_77ed3cb0fedd":{"description":"A collection of [references](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) used for defining {~allowed_content_types~} in rich text and linked items elements, and {~allowed_elements~} in custom elements.","examples":[[{"external_id":"state-of-product"},{"id":"1df5b5b2-a19a-401d-a351-0f9bb612ea67"},{"codename":"a_great_type"}]],"type":["array"],"items":{"$ref":"#/components/schemas/reference"}},"dfd6b71b_0ce9_0121_e7a4_f6e710353f29":{"title":"op","description":"Specifies the operation to perform.\n\n* `addInto` to add new collections\n* `move` to change collections' order\n* `remove` to delete collections\n* `replace` to update collections (e.g., change collection's name)","examples":["addInto"],"writeOnly":true,"type":["string"]},"dfe91de8_261e_0188_5e4c_d4bbe50846c1":{"title":"id","description":"The element's internal ID.","readOnly":true,"type":["string"]},"e03d302d_006d_016d_0d2b_fd6006978495":{"title":"id","description":"The element's internal ID.","examples":["50b48cc6-ae3b-46f8-8239-fd1eb9f30afe"],"readOnly":true,"type":["string"]},"e069611a_7d49_01b0_2f57_6fcb9bf4ff37":{"title":"name","description":"The element's display name.","examples":["Articles"],"type":["string"],"maxLength":50,"minLength":1},"e0f99e61_7108_0134_fab4_0b16f3dce366":{"title":"global","description":"Specifies a default value used as the element's initial value across all languages.","type":["object"],"properties":{"value":{"$ref":"#/components/schemas/n7d5a7cc8_1415_01f5_ae24_8ec1c3222ae9"}},"required":["value"]},"e16bdebc_2a03_01f7_8761_0f07d0d2b120":{"title":"id","description":"Unique internal identifier of the content type snippet.","examples":["baf884be-531f-441f-ae88-64205efdd0f6"],"readOnly":true,"type":["string"],"format":"uuid"},"e1cff7e3_af34_015d_afde_fd59d86487d8":{"title":"external_id","description":"The content item's external ID. The external ID can be used as a unique identifier to retrieve content from a different system.\n\n<div class=\"callout callout--info>\">\n\nExternal IDs cannot be upserted into exisiting items.</div>\n\n","examples":["custom-identifier-for-my-article"],"type":["string"]},"e1d50a61_5d1a_017d_382e_9142bc702ef7":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date and time of the last change to the content type.","examples":["2021-06-17T06:28:11.6503569Z"],"readOnly":true,"type":["string"],"format":"date-time"},"e229d0b4_f216_01a2_0b45_d4f5def17338":{"title":"id","description":"The referenced object's internal ID.","examples":["00000000-0000-0000-0000-000000000000"],"type":["string"],"format":"uuid"},"e3689ec9_0f25_017b_4ac1_a6b54b4a3ce6":{"title":"value","description":"The taxonomy term object you want to add.","allOf":[{"$ref":"#/components/schemas/taxonomy_term_78206f4"}]},"e3728bf2_b13e_012e_51e9_84952482eb74":{"type":["object"],"properties":{"asset_renditions":{"$ref":"#/components/schemas/n365a56b8_296c_011f_d441_54f42a795277"},"pagination":{"$ref":"#/components/schemas/n13e089ee_e903_01a3_7225_fb42ea9c2a40"}},"required":["asset_renditions","pagination"]},"e48ff097_e46c_012a_8da7_09db37b91079":{"title":"is_required","description":"Determines whether the element must be filled in.","examples":["false"],"type":["boolean"]},"e64479d8_666f_019c_c942_80cc165374bc":{"title":"global","description":"Specifies a default value used as the element's initial value across all languages.","type":["object"],"properties":{"value":{"$ref":"#/components/schemas/n8ad49444_ff3b_011d_e065_67e6c39b4c2d"}},"required":["value"]},"e7124f04_e1b7_01ae_150b_fb884c717dff":{"title":"op","description":"Defines the operation to perform. You can use: `addInto` to add new objects, `remove` to delete objects, or `replace` to modify specific properties.","examples":["replace"],"type":["string"]},"e742e37a_5b02_0186_c38b_5d19cf40cb7b":{"title":"title","description":"The title of the new asset. Use this parameter to better identify and filter your assets in the UI.","examples":["Coffee Brewing Techniques"],"type":["string"],"maxLength":200,"minLength":1},"e7bd52c1_48fa_011a_9e9b_24c5508b437a":{"title":"default","description":"Specifies the element's initial value.","type":["object"],"properties":{"global":{"$ref":"#/components/schemas/n9ccb8537_8ceb_01d9_7078_ed8c61d04da3"}}},"e85d0092_663b_0174_095c_909be79ad30f":{"title":"codename","description":"The language's codename. Initially generated from the language's `name` unless the language is [added via API](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/51da8af1-3e14-4766-8a3c-b31ae42b0ea6).","examples":["default"],"type":["string"],"maxLength":25},"e8d14717_b3a3_017c_0a7b_972842725f2b":{"title":"value","description":"The object to add. The value depends on the selected `path`:\n\n1. To add a new element, use a [content element](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/97850d2c-d2ec-4750-870a-16bc98271523) object\n2. To add a new content group, use a [content group](#section/Content-group-object) object.\n3. To add an allowed content type to a rich text or linked items element, use a [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) object that points to a specific content type.\n4. To add an allowed element to a custom element, use a [reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) object that points to the specific element.\n5. To add an option to a multiple choice element, use an [option](#section/Multiple-choice-type-element) object.\n6. To add an allowed block, text block, or text formatting to a rich text element, use an [array of strings](#section/Rich-text-type-element) to specify its value.","oneOf":[{"$ref":"#/components/schemas/array_of_strings"},{"$ref":"#/components/schemas/asset_element_in_type"},{"$ref":"#/components/schemas/content_group"},{"$ref":"#/components/schemas/custom_element_in_type"},{"$ref":"#/components/schemas/date___time_element_in_type"},{"$ref":"#/components/schemas/guidelines_element_in_type"},{"$ref":"#/components/schemas/linked_items_element_in_type"},{"$ref":"#/components/schemas/multiple_choice_option"},{"$ref":"#/components/schemas/multiple_choice_element_in_type"},{"$ref":"#/components/schemas/number_element_in_type"},{"$ref":"#/components/schemas/reference"},{"$ref":"#/components/schemas/rich_text_element_in_type"},{"$ref":"#/components/schemas/taxonomy_element_in_type"},{"$ref":"#/components/schemas/text_element_in_type"},{"$ref":"#/components/schemas/url_slug_element_in_type"},{"$ref":"#/components/schemas/subpages_element_in_type_5653f08"}]},"e8d759ab_8d4f_01e6_4287_4b7dc4a07977":{"title":"name","description":"The role's name.","examples":["Project manager"],"type":["string"]},"e8e06660_9e51_0143_2fec_011d9061db86":{"title":"maximum_file_size","description":"Specifies the maximum file size in bytes.","examples":[262144],"type":["integer"],"format":"int32"},"e93151e4_1e77_01dd_8713_3b5cda3b7deb":{"title":"references","description":"A collection of [references](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) used for defining {~allowed_content_types~} in rich text and linked items elements and {~allowed_elements~} in custom elements.","examples":[[{"external_id":"state-of-product"},{"id":"1df5b5b2-a19a-401d-a351-0f9bb612ea67"},{"codename":"a_great_type"}]],"type":["array"],"items":{"$ref":"#/components/schemas/reference"}},"e9bf04ca_baf4_015e_16ba_9df5209d500d":{"title":"type","type":["string"]},"ea1b7c4b_832c_014e_dd3a_11e7e074c2e6":{"title":"name","description":"The workflow's display name.","examples":["My workflow"],"type":["string"],"maxLength":200,"minLength":1},"ead7d7d5_a203_0126_999e_68d8336ab034":{"examples":["d761b25c-f7cf-4977-9c45-3c92d6562233"],"type":["string"],"format":"uuid"},"eafb6453_fb97_0160_15c1_c39c48ead56d":{"title":"op","description":"Specifies the operation to perform.\n\n* `replace` to modify taxonomy groups or terms\n* `remove` to delete taxonomy terms\n* `addInto` to add new taxonomy terms","examples":["remove"],"type":["string"]},"eb2cda3a_0ebb_0122_f066_ecb290f818ec":{"title":"path","description":"A string identifying the specific object or property that should be removed. The exact path depends on what you are trying to remove. In each case, a {~{path_reference}~} is needed for the given object.\n\nTo remove given objects:\n\n* For an element, set {~path~} to: {~/elements/{path_reference}~}.\n* For an allowed content type from a rich text or linked items element, set {~path~} to: {~/elements/{path_reference}/allowed_content_types/{path_reference}~}, where the first {path_reference} is to the rich text or linked items element and the second is to the allowed content type to be removed.\n* For an allowed element from a custom element, set {~path~} to: {~/elements/{path_reference}/allowed_element/{path_reference}~}, where the first {path_reference} is to the custom element and the second is to the allowed element to be removed.\n* For a multiple choice option, set {~path~} to: {~/elements/{path_reference}/options/{path_reference}~}, where the first {path_reference} is to the multiple choice element and the second is to the option to be removed.","examples":["/elements/codename:multiple_choice_element/options/external_id:option_1"],"writeOnly":true,"type":["string"]},"eb9dddda_0da5_0181_ff81_5e6adde394d0":{"title":"codename","description":"The element's codename. Unless specified, [initially generated](#tag/References/rules-for-codenames) from the element's `name`.","examples":["articles"],"type":["string"],"maxLength":60,"minLength":1},"ebbddd78_8e02_0149_26d0_643bbea31869":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date/time of the last change to the folder. ","examples":["2019-08-08T08:16:24.3620957Z"],"readOnly":true,"type":["string"],"format":"date-time"},"ebc8afd0_e4dd_0137_f7b5_879e74af3421":{"title":"value","description":"The folder object you want to add.","allOf":[{"$ref":"#/components/schemas/asset_folder"}]},"ec4d6bcf_7e1f_0129_dd10_fff70b8b7d16":{"title":"enabled","description":"Determines if the webhook is enabled. By default, the `enabled` property is set to `true`.\n\n* Enabled webhook reacts to the defined triggers, creates notifications, and tries to send the notifications in order of creation to the specified webhook URL.\n* Disabled webhook ignores the defined triggers and does not create any notifications.","examples":["true"],"type":["boolean"]},"ecb351bd_5bfd_0191_60f6_35b9d7c3b5ec":{"title":"op","description":"Defines the operation to perform. You can use: `addInto` to add new objects, `remove` to delete objects, or `replace` to modify specific properties.","examples":["addInto"],"type":["string"]},"ed213db9_fdc8_01f8_f0f2_23cc2157caca":{"title":"value","description":"Specifies the image size or how many times something can be used within the element.","examples":[256],"type":["integer"],"format":"int32"},"ed354eb0_a013_012f_8f6d_d9f72127df28":{"title":"value","description":"The value to insert into the property specified in `path` where the format depends on the specific property.","oneOf":[{"$ref":"#/components/schemas/reference"},{"$ref":"#/components/schemas/general_boolean_schema"},{"$ref":"#/components/schemas/count_limitation"},{"$ref":"#/components/schemas/dfce1827_93a2_0139_48c3_77ed3cb0fedd"}]},"edc10e21_2dfe_01ca_8c31_78e19aaed5db":{"title":"id","description":"The Archived workflow step's internal ID.","examples":["7a535a69-ad34-47f8-806a-def1fdf4d391"],"type":["string"],"format":"uuid"},"ee1026a8_960a_01f6_3ae1_8e61e1ce03c0":{"title":"is_non_localizable","description":"Determines whether the element uses the same value in all languages. Taxonomy elements cannot be set as non-localizable.\n\n<div class=\"callout callout--info>\">\n\nNon-localizable elements are available through early access program and may change in the future. Get familiar with [current limitations](/learn/tutorials/manage-kontent-ai/content-modeling/create-and-delete-content-types/#a-early-access-limitations-for-non-localizable-elements).\n\nContact us and we'll activate non-localizable elements for you.</div>\n\n","examples":["false"],"readOnly":true,"type":["boolean"]},"ee4bcb5b_8c35_012b_f361_bf64d8a07698":{"title":"has_pending_invitation","description":"A flag determining whether the user has any pending invitation to a project.","examples":["true"],"type":["boolean"]},"ee8ece31_6ecc_0155_2c6f_5c5045f8c8df":{"type":["object"],"properties":{"users":{"$ref":"#/components/schemas/n3f267e09_382d_017f_bed8_65e0033664fc"},"pagination":{"$ref":"#/components/schemas/n7cd6b387_4149_0121_f6a4_d68b8bb15a2f"}},"required":["users","pagination"]},"eec4ca66_fb0e_016e_231d_2f5a7be55583":{"title":"elements","description":"An array of asset taxonomy elements.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/taxonomy_element_in_variant"}},"eef05443_15af_01cc_ea8f_c4a30dd7c150":{"title":"id","description":"The Published workflow step's internal ID.","examples":["c199950d-99f0-4983-b711-6c4c91624b22"],"type":["string"],"format":"uuid"},"ef833c33_4f0b_0120_7d01_4b82c2e531a7":{"title":"published_step","description":"The workflow's predefined Published workflow step.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n8644f050_8687_01c9_65d8_91a61fba93b8"},"name":{"$ref":"#/components/schemas/n0ba55da5_4f99_0132_2100_e98be0a4e222"},"codename":{"$ref":"#/components/schemas/n9403f266_5a44_0165_1891_0ed324d2b633"},"unpublish_role_ids":{"$ref":"#/components/schemas/n8a370598_56bc_0121_102a_3979b865ecf7"},"create_new_version_role_ids":{"$ref":"#/components/schemas/n670fc9a6_f41d_01a6_f07a_12cf369e329b"}}},"ef9782f5_53bb_0116_19ad_a559a4d574d0":{"title":"variants","description":"List of language variants.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/language_variant"}},"efbb5f7d_0596_0119_5096_4ae4de5ab280":{"title":"y","description":"Represents a position on the vertical axis of the original image as the distance from the image's top-left corner in pixels. Combined with the `x` property, the coordinates specify the top-left corner of the source rectangle region defined by `width` and `height`.\n\nThe `y`'s maximum value depends on the `height` parameter. The whole rectangle must fit within the borders of the original image.","examples":[30],"type":["integer"],"format":"int32","minimum":0},"efe0fc4d_fe81_0154_0f57_baec7f8c6a0a":{"title":"type","description":"The element's type.","examples":["guidelines"],"type":["string"]},"error":{"title":"Error","description":"Error response","type":["object"],"properties":{"request_id":{"$ref":"#/components/schemas/d7598d43_3dc2_0175_8dad_336d8d541cff"},"error_code":{"$ref":"#/components/schemas/n3649eb6f_0730_0120_89df_82c651dff623"},"message":{"$ref":"#/components/schemas/n6b345b67_9990_0189_0146_8c86bc07ccc8"},"validation_errors":{"$ref":"#/components/schemas/fe1aeb96_7cc4_01bd_c3a6_989d459cbfca"}},"required":["message","request_id","error_code","specific_code"]},"error_object":{"title":"Error","description":"Error response","type":["object"],"properties":{"message":{"$ref":"#/components/schemas/c3a6e8a6_c1cf_01a6_2ffa_912a5f9746dd"},"request_id":{"$ref":"#/components/schemas/n224049fb_905a_014e_2f99_70fb6e92b880"},"error_code":{"$ref":"#/components/schemas/n241fbd59_29cb_01eb_ff6f_a68beacb3469"},"specific_code":{"$ref":"#/components/schemas/n34796a2c_0bb2_01fb_90bd_34fea348e4ac"}},"required":["message","request_id","error_code","specific_code"]},"f01574ea_1ed2_0174_dfde_f5e65166bd5d":{"title":"default","description":"Specifies the element's initial value.","type":["object"],"properties":{"global":{"$ref":"#/components/schemas/e0f99e61_7108_0134_fab4_0b16f3dce366"}}},"f025b99e_9d73_01ac_16e7_4c56f2a95a9b":{"title":"codename","description":"The referenced object's codename.","examples":["default"],"writeOnly":true,"type":["string"]},"f0c956e9_d316_01aa_9d2d_95fcb93675c6":{"title":"mode","description":"Determines the element's mode of operation.\n\n* `autogenerated` means the URL slug element sets its value automatically based on the value of a specified text element.\n* `custom` means the URL slug element's value is not affected by changes in a specified text element and can be set manually.\n<div class=\"callout callout--info>\">\n\nYou can change the text element the URL slug depends on either in the UI or via the API.</div>\n\n","examples":["autogenerated"],"type":["string"]},"f2d34202_f9c7_0148_fd0b_2c9bf0d722da":{"title":"roles","description":"The roles the user is assigned to in a collection group. At least one role must be specified.","type":["array"],"items":{"$ref":"#/components/schemas/n7f994b38_62b1_012f_8f43_a438500f9969"},"minItems":1},"f2fe9f6e_1b35_01d6_0ad9_6d83f95ac350":{"type":["object"],"properties":{"scheduled_to":{"$ref":"#/components/schemas/acaa301d_2260_01a2_8a55_e68454db0095"},"display_timezone":{"$ref":"#/components/schemas/n4d8e715d_aed9_01b9_96b6_973e6f7bb1d5"}}},"f30fc9ca_25d0_018b_ae27_5ad467bef6f8":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date and time of the last change to the asset.","examples":["2019-09-12T08:29:36.1645977Z"],"readOnly":true,"type":["string"],"format":"date-time"},"f31e67f9_3a26_01b9_36ff_38d1116f93d9":{"title":"operations","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n5ae48fa4_556b_0163_7cea_6dda6ab593f9"}},"f36bb9a5_003c_0115_38f8_931b99e6e195":{"title":"id","description":"The role's ID.","examples":["7dedb656-aef7-40ae-8158-98bbf3542f4a"],"type":["string"],"format":"uuid"},"f3964398_eda0_010d_fbf6_0ded0b18f670":{"title":"last_modified","description":"[ISO-8601](https://en.wikipedia.org/wiki/ISO%5F8601) formatted date/time of the last change to the taxonomy group or its terms. ","examples":["2020-11-14T14:05:43.9190528Z"],"readOnly":true,"type":["string"],"format":"date-time"},"f466e4b1_d338_01fd_2034_d96bf3510e53":{"$ref":"#/components/schemas/reference","description":"Reference to a specific taxonomy group."},"f46cd26c_0a17_016d_13f0_e96b2046e447":{"title":"name","description":"The project's name.","examples":["Sample project"],"type":["string"]},"f49a7972_5b81_0160_e19e_da965d51bce4":{"title":"external_id","description":"The referenced object's external ID. The value of the `external_id` property must not contain the following characters: `/`, `.`, `;`.","examples":["your-own-custom-identifier"],"writeOnly":true,"type":["string"],"minLength":1},"f541a410_a70e_018f_3475_1331984b5631":{"title":"type","description":"The element's type.","examples":["custom"],"type":["string"]},"f549ae4f_a46e_015c_a26d_b0340dd066be":{"title":"elements","description":"Elements within the snippet.","examples":[[{"name":"Meta title","guidelines":"Length: 30–60 characters","is_non_localizable":false,"type":"text","id":"09398b24-61ed-512e-5b5c-affd54a098e5","codename":"my_metadata__meta_title"},{"name":"Meta description","guidelines":"Length: 70–150 characters","is_non_localizable":false,"type":"text","id":"2e555cc1-1eae-520c-189e-28548904f529","codename":"my_metadata__meta_description"}]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n4efada42_decd_01c5_ad9a_9256fc273123"}},"f57175cd_00d7_0162_f937_2a279815f704":{"title":"id","description":"The language's internal ID.","examples":["00000000-0000-0000-0000-000000000000"],"type":["string"],"format":"uuid"},"f5988176_133e_01d8_322f_7e6ea5704746":{"title":"mode","description":"Defines whether the multiple choice element acts as a single choice (shown as radio buttons in the UI) or multiple choice (shown as checkboxes in the UI).","examples":["single"],"type":["string"]},"f5bdfa62_76aa_015c_fc8d_db69e7ff3009":{"title":"height","description":"Starting at the coordinates defined by `x` and `y`, specifies the height of the rectangle area.","examples":[100],"type":["integer"]},"f5e7bf38_d808_0157_cbdd_0420b57bb2f1":{"title":"id","description":"The environment's internal ID. Use this as `{project_id}` path parameter in project specific endpoints.","examples":["c9bad3b5-2b91-4df9-9d4a-53d0bf14343b"],"type":["string"],"format":"uuid"},"f619690d_ba88_01dd_814d_a6015f4f2d08":{"oneOf":[{"$ref":"#/components/schemas/asset_element_in_variant"},{"$ref":"#/components/schemas/custom_element_in_variant"},{"$ref":"#/components/schemas/date___time_element_in_variant"},{"$ref":"#/components/schemas/linked_items_element_in_variant"},{"$ref":"#/components/schemas/multiple_choice_element_in_variant"},{"$ref":"#/components/schemas/number_element_in_variant"},{"$ref":"#/components/schemas/rich_text_element_in_variant"},{"$ref":"#/components/schemas/taxonomy_element_in_variant"},{"$ref":"#/components/schemas/text_element_in_variant"},{"$ref":"#/components/schemas/url_slug_element_in_variant"}]},"f63b6cf4_c5f4_01e2_c620_4591a131e19a":{"title":"content_group","description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to the content group the element is used in.\n\n<div class=\"callout callout--info>\">\n\nThe `content_group` property is only present if one or more content groups are defined in the content type.</div>\n\n","allOf":[{"$ref":"#/components/schemas/reference"}]},"f658ac32_7ade_0131_50c9_57bd5998ba7a":{"title":"url","description":"The asset's URL.","examples":["https://assets-us-01.kc-usercontent.com/8d20758c-d74c-4f59-ae04-ee928c0816b7/adf26cd2-1acb-403f-9d1e-6d04e46c39f1/file_name.png"],"readOnly":true,"type":["string"]},"f6b9bd77_d3d3_010d_2424_1feb3686ffe1":{"title":"source_url","description":"Absolute URL that hosts your custom element.","examples":["https://github.com/Kentico/kontent-custom-element-sample-color-picker#deploying"],"type":["string"]},"f6e1d113_4c1a_0110_ccfa_6ab5eb7a86e3":{"title":"codename","description":"The element's codename. Unless specified, [initially generated](#tag/References/rules-for-codenames) from the [`name` of the taxonomy group](#section/Taxonomy-group-object) specified in the `taxonomy_group` property.","examples":["personas"],"type":["string"],"maxLength":60,"minLength":1},"f70217bd_4365_0189_1d65_2ebc74cad3a7":{"type":["string"]},"f74c414d_10be_01ee_c57e_ab83ce07dcfa":{"title":"value","description":"The new value of the property specified in `property_name`.","examples":["A new name"],"type":["string"],"maxLength":250,"minLength":1},"f7e0a1e9_4fa8_01cf_a73c_fd6e200ea3e9":{"description":"[Reference](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e) to an asset","allOf":[{"$ref":"#/components/schemas/reference_without_codename"},{"$ref":"#/components/schemas/bbdcff16_3f79_0179_9b1d_7335895df1d6"}]},"f8009ebd_eda9_01a5_4d9a_3797dc8e6ddd":{"title":"color","description":"The workflow step's color in a human-readable format.","examples":["red"],"type":["string"]},"f80deff0_25e0_01ac_c65a_f9498d9ce78a":{"title":"id","description":"The asset's internal ID.","examples":["fcbb12e6-66a3-4672-85d9-d502d16b8d9c"],"readOnly":true,"type":["string"],"format":"uuid"},"f847f2cb_a0b4_015d_559b_77ca428f3fc1":{"title":"op","description":"Defines the operation to perform. You can use: `addInto` to add new objects, `remove` to delete objects, or `replace` to modify specific properties.","examples":["remove"],"type":["string"]},"f8730cdc_4af3_01c4_ef3d_9abc5bb5e6d9":{"title":"allowed_item_link_types","description":"Specifies content types of items that are allowed to be used in text links as an array of [references](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e). The limitation applies to links both in text and in tables. To allow all content types, leave the array empty.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/reference"}},"f933ae33_2aee_012d_1f2a_785e8aa42371":{"title":"transitions_to","description":"The workflow steps that this step can transition to, represented by their internal IDs.","examples":[["a3d4309f-f1e0-432e-bd95-7137b5abd8ba","90bb6851-7a47-4c77-ae98-06a15431857f","dc87d7cf-424b-4b89-9519-c9f79a3458b7"]],"type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/n47194826_1e52_014d_1af9_85bbc93ec167"}},"f9471f09_4e5b_0120_35f7_c3bccb1e9e8c":{"title":"external_id","description":"The content item's external ID. The external ID can be used as a unique identifier to retrieve content from a different system.","examples":["custom-identifier-for-my-article"],"type":["string"]},"fab2cbe0_f4b0_0147_d687_cc800e53a023":{"title":"elements","description":"The component's elements based on the specified content type.","type":["array"],"uniqueItems":true,"items":{"$ref":"#/components/schemas/f619690d_ba88_01dd_814d_a6015f4f2d08"}},"fb0d206f_72bf_01c8_2408_c67b894abfa8":{"title":"url","description":"The URL to which the webhook notification will be sent.","examples":["https://example.com/webhook"],"type":["string"],"format":"url","maxLength":250,"minLength":1},"fb324b02_1d0e_01e0_7a50_ca46794933b4":{"type":["array"],"items":{"$ref":"#/components/schemas/n89da6c3e_9260_010b_a8f8_af73ae720c60"},"minItems":1},"fbe3e43b_61fe_0101_9230_cd4d85df3ba7":{"type":["string"]},"fcaf6327_1ebb_0177_15a6_6bc85310929e":{"title":"external_id","description":"The element's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["my-url-slug"],"type":["string"]},"fce09a4a_5e70_01f9_6705_7083a0d86887":{"type":["object"],"properties":{"step":{"$ref":"#/components/schemas/b0ae4ce8_21e1_01c2_71c0_c404ae922a29"}},"required":["step"]},"fd86e32a_ae61_0157_96ec_06b113d97aaf":{"description":"An array of operations to perform","type":["array"],"items":{"$ref":"#/components/schemas/bf8eb410_f341_01e9_1297_80efeaf1f423"}},"fd9943e1_8841_01ef_f482_f1cc7d07bb36":{"title":"external_id","description":"The multiple choice option's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["custom-option-identifier"],"type":["string"]},"fd9d597c_63f9_01f1_9059_d9071f94e05e":{"title":"languages","description":"List of languages.","type":["array"],"items":{"$ref":"#/components/schemas/language_4d5cb3b"}},"fe1aeb96_7cc4_01bd_c3a6_989d459cbfca":{"title":"validation_errors","description":"A list of specific issues that occurred when processing the request.","type":["array"],"items":{"$ref":"#/components/schemas/n0df88ab8_71a5_0191_3f0f_a383d8e7ef65"}},"fefc657a_8fec_01d7_5ece_468112a48df6":{"title":"external_id","description":"The element's [external ID](https://learn-web-live-dev.azurewebsites.net/learn/link-to/id/39ee23e8-c352-4966-b48d-7b312da3100e).","examples":["article-subpages"],"type":["string"]},"ffbd3d92_c298_0168_dcc7_caceefcc4bb9":{"title":"id","description":"The element's internal ID.","examples":["30ca5bc8-4f2a-47b9-a9e7-0d13a2935e10"],"readOnly":true,"type":["string"]},"file_reference":{"title":"File reference","description":"Points to a specific binary file uploaded to your project.","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/n8f612caa_0c4c_01dc_a324_1efaa49c1cfe"},"type":{"$ref":"#/components/schemas/n2f2dcffe_5a84_019d_8ed3_69549bf5784a"}},"required":["id","type"]},"general_boolean_schema":{"title":"Boolean","examples":["true"],"type":["boolean"]},"guidelines_element_in_type":{"title":"Guidelines element in type","description":"Guidelines elements do not contain a `name` property. The value of the `guidelines` property must follow the same limitations as the value of [rich text elements](#section/Rich-text-element). In addition, the guidelines element cannot contain content items or components.","type":["object"],"properties":{"guidelines":{"$ref":"#/components/schemas/n5f94492b_e620_017f_20f4_cba2f3b1274a"},"type":{"$ref":"#/components/schemas/efe0fc4d_fe81_0154_0f57_baec7f8c6a0a"},"id":{"$ref":"#/components/schemas/n574fa88e_8ea3_011e_64af_c8a4869588c7"},"codename":{"$ref":"#/components/schemas/n60a1c2b8_08f9_013c_7cf6_cd81b1a48904"},"external_id":{"$ref":"#/components/schemas/n8f1c8491_02c2_01d7_a277_9e7ac9a82417"},"content_group":{"$ref":"#/components/schemas/ad441f97_b5d3_019d_4c2a_4a53f7691353"}},"required":["guidelines","type"]},"language_4d5cb3b":{"title":"Language","type":["object"],"properties":{"id":{"$ref":"#/components/schemas/cef98011_613f_01dd_40ae_081509ba5819"},"name":{"$ref":"#/components/schemas/n6de87fe6_b590_016b_2903_0371f00ea48b"},"codename":{"$ref":"#/components/schemas/e85d0092_663b_0174_095c_909be79ad30f"},"external_id":{"$ref":"#/components/schemas/a0915b97_a0c4_018c_1f8a_3e1fe3860752"},"is_active":{"$ref":"#/components/schemas/n881c3c96_d38a_01bf_918f_c15228029b1f"},"is_default":{"$ref":"#/components/schemas/n0dd6b188_81a6_0101_1805_9995fe73fb34"},"fallback_language":{"$ref":"#/components/schemas/n655879e0_5fde_01a1_0537_f5b33dd09221"}},"required":["id","name","codename"]},"language_operation_replace":{"title":"LanguageOperationReplace","type":["object"],"properties":{"op":{"$ref":"#/components/schemas/bd66410a_461c_018f_1a2c_efb41dafc29d"},"property_name":{"$ref":"#/components/schemas/n6e5823ee_eb7b_01d4_8217_5353da8d031a"},"value":{"$ref":"#/components/schemas/n45290acb_406c_0143_27ce_4607278601e9"}},"required":["op","property_name","value"]},"language_variant":{"title":"LanguageVariant","description":"Localized variant of a content item.","type":["object"],"properties":{"elements":{"$ref":"#/components/schemas/n496a6833_2452_0114_3d87_52e573e97778"},"workflow":{"$ref":"#/components/schemas/n28cd935b_a9d8_0145_bc8c_8f6c916e948c"},"workflow_step":{"$ref":"#/components/schemas/n24525e03_a59f_01f9_318e_846cc969817d"},"item":{"$ref":"#/components/schemas/ac1be9d6_cf44_01ee_2894_5dd5e02fb6db"},"language":{"$ref":"#/components/schemas/n33c84018_81a7_0181_db09_936263701a07"},"last_modified":{"$ref":"#/components/schemas/n1af19d6e_1680_0178_47df_60bef94f35c0"}},"required":["elements"]},"length_limitation":{"title":"LengthLimitation","description":"Specifies the maximum text length.","type":["object"],"properties":{"value":{"$ref":"#/components/schemas/n5d6da5ab_2eca_0120_c1cf_ac3c648e9db9"},"applies_t
[...]
